<div  class="login-container h-screen w-screen ">
    <div class="login-left">
        <img src="../../assets/images/CLAYENS_Mexico-Logo.png" alt="Logo" class="logo">
        <div class="container">
            <div class="screen">
                <div class="screen__content">
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login">
                        <h2 class="login__icon fas fas fa-user">Inicio de Sesión</h2>
                        
                        <div class="login__field">
                            <i class="login__icon fas fa-user"></i>
                            <input  formControlName="username" type="text" class="login__input" name="username" placeholder="Usuario" required>
                            <div class="alert"
                            *ngIf="loginForm.controls['username'].invalid && (loginForm.controls['username'].dirty || loginForm.controls['username'].touched)">
                         <div
                           *ngIf="loginForm.controls['username'].errors?.['required']">El username es requerido.
                         </div>
                         
                       </div>
                        </div>
                        <div class="login__field">
                            <i class="login__icon fas fa-lock"></i>
                            <input formControlName="password"  type="password" class="login__input" name="password" placeholder="Contraseña" required>
                            <div class="alert"
                            *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                         <div
                           *ngIf="loginForm.controls['password'].errors?.['required']">La contraseña es requerida.
                         </div>
                       </div>
                        
                        </div>
                        <button class="button login__submit" type="submit">
                            <span class="button__text">Ingresar</span>
                            <i class="button__icon fas fa-chevron-right"></i>
                        </button>
                    </form>
                    <div class="social-login">
                        <h1 class="h_spcm">SPCM</h1>
                    </div>
                </div>
                <div class="screen__background">
                   
                    <span class="screen__background__shape screen__background__shape3"></span>
                    <span class="screen__background__shape screen__background__shape2"></span>
                    <span class="screen__background__shape screen__background__shape1"></span>
                </div>
                
            </div>
        </div>
    </div>
   
</div>
