
<div  class="login-container h-screen w-screen ">
    <div class="login-left">
        <img src="../../assets/images/CLAYENS_Mexico-Logo.png" alt="Logo" class="logo">
        <div class="container">
            <div class="screen">
                <div class="screen__content">
                    <form class="login">
                        <h2 class="login__icon fas fas fa-user">Agregar empleado</h2>

                        <div style="display:flex; gap:25px" class="">
                        <div class="login__field">
                            <i class="login__icon fas fa-user"></i>
                            <input type="text" class="login__input" name="username" placeholder="Username" required>
                        </div>

                        <div class="login__field">
                            <i class="login__icon fas fa-user"></i>
                            <input type="text" class="login__input" name="nombre" placeholder="Nombre" required>
                        </div>
                    </div>
                    <div style="display:flex; gap:25px">
                        <div class="login__field">
                            <i class="login__icon fas fa-user"></i>
                            <input type="text" class="login__input" name="apellido_paterno" placeholder="Apellido paterno" required>
                        </div>

                        <div class="login__field">
                            <i class="login__icon fas fa-user"></i>
                            <input type="text" class="login__input" name="apellido_materno" placeholder="Apellido materno" required>
                        </div>
                    </div>

                        <div class="login__field">
                            <i class="login__icon fas fa-user"></i>
                            <input type="email" class="login__input" name="email" placeholder="Email" required>
                        </div>


                        <div class="login__field">
                            <i class="login__icon fas fa-user-tag"></i>
                            <select class="login__input" name="rol" required>
                                <option value="" disabled selected>Seleccione un rol</option>
                                <option value="admin">Admin</option>
                                <option value="engineer">Engineer</option>
                                <option value="technician">Technician</option>
                            </select>
                        </div>
                        
                        <div class="login__field">
                            <i class="login__icon fas fa-user"></i>
                            <input type="number" class="login__input" name="no_empleado" placeholder="No. empleado" >
                        </div>

                        <div class="login__field">
                            <i class="login__icon fas fa-lock"></i>
                            <input type="password" class="login__input" name="password" placeholder="Contraseña" required>
                        </div>
                        <button style="width: 130px;" class="button login__submit" type="submit">
                            <span class="button__text">Ingresar</span>
                            <i class="button__icon fas fa-chevron-right"></i>
                        </button>
                    </form>
                    <div class="social-login">
                        <h1 class="h_spcm">SPCM</h1>
                    </div>
                </div>
                <div class="screen__background">
                   
                    <span class="screen__background__shape screen__background__shape3"></span>
                    <span class="screen__background__shape screen__background__shape2"></span>
                    <span class="screen__background__shape screen__background__shape1"></span>
                </div>
                
            </div>
        </div>
    </div>
   
</div>
