<app-sidebar></app-sidebar>

<div class="user-management-container">
  <div  style="display: flex; justify-content: space-between; align-items: center;"> 
  <h2>Gestión de Usuarios</h2>

    <a class="reg" href="/register" >
        <i class="fas fa-plus "></i>
        <span class="tooltip">Registrar nuevo usuario</span>
    </a>
   
  </div>
    <p-table 
    #dt 
    [value]="users" 
     [rowsPerPageOptions]="[10, 25, 50]" 
     [showCurrentPageReport]="true" 
     [paginator]="true" [rows]="10"
     dataKey="id"
     [globalFilterFields]="['nombre', 'apellido_paterno', 'apellido_materno', 'email', 'rol']"
     >
     <ng-template pTemplate="caption" >
        <div class="" >
            <p-button  [outlined]="true" icon="pi pi-filter-slash" label="Clear" (click)="clear(dt)" [style]="{'margin-right': '15px'}" />
        <p-iconfield iconPosition="left">
                <p-inputicon>
                    <i class="pi pi-search"></i>
                </p-inputicon>
                <input pInputText type="text" [(ngModel)]="searchValue"   (input)="filterUsers($event)" placeholder="Keyboard Search" />
            </p-iconfield>
        </div>
     </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <!-- <th pSortableColumn="id">ID
                <p-sortIcon field="id" />

            </th> -->
            <th pSortableColumn="username">Username
                <p-sortIcon field="username" />
            </th>
            <th pSortableColumn="nombre"><div class="flex justify-between items-center">
                Nombre
                <p-sortIcon field="nombre" />
            </div>
            </th>
            <th pSortableColumn="apellido_paterno">Apellido Paterno
                <p-sortIcon field="apellido_paterno" />
            </th>
            <th pSortableColumn="apellido_materno">Apellido Materno
                <p-sortIcon field="apellido_materno" />
            </th>
            <th pSortableColumn="email">Correo Electrónico
                <p-sortIcon field="email" />
            </th>
            <th pSortableColumn="rol">Rol
                <p-sortIcon field="rol" />
            </th>
            <th>Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <!-- <td>{{ user.id }}</td> -->
            <td>{{ user.username }}</td>
            <td> <span class="p-column-title">nombre</span>
                {{ user.nombre }}</td>
            <td>{{user.apellido_paterno}}</td>
            <td>{{user.apellido_materno}}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.rol }}</td>
            <td>
              <button style="margin: 2px;" class="btn-edit" pButton icon="fas fa-pencil-alt" (click)="showDialog(user)"></button>
              <button style="margin: 2px;" class="btn-delete" pButton icon="fas fa-trash" (click)="deleteUser(user)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>   
</div>



<div class="modal" [ngClass]="{'is-active': displayDialog}">
  <div class="modal-background" (click)="displayDialog = false"></div>
  <div class="modal-content">
    <div class="box">
      <div class="modal-header">
        <img src="../../../assets/images/logo-removebg-preview.png" alt="Logo" class="logo"/>
        
      </div>
      <h3 class="title is-4">Actualizar Usuario</h3>
      <div class="field">
        <label for="username">Username:</label>
        <div class="control has-icons-left">
          <input id="username" [(ngModel)]="selectedUser.username" class="input is-rounded" required />
          <span class="icon is-small is-left">
            <i class="fas fa-user" style="color: #ff5722;"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label for="nombre">Nombre:</label>
        <div class="control has-icons-left">
          <input id="nombre" [(ngModel)]="selectedUser.nombre" class="input is-rounded" required />
          <span class="icon is-small is-left">
            <i class="fas fa-id-card" style="color: #ff5722;"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label for="apellido_paterno">Apellido Paterno:</label>
        <div class="control has-icons-left">
          <input id="apellido_paterno" [(ngModel)]="selectedUser.apellido_paterno" class="input is-rounded" required />
          <span class="icon is-small is-left">
            <i class="fas fa-id-card" style="color: #ff5722;"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label for="apellido_materno">Apellido Materno:</label>
        <div class="control has-icons-left">
          <input id="apellido_materno" [(ngModel)]="selectedUser.apellido_materno" class="input is-rounded" required />
          <span class="icon is-small is-left">
            <i class="fas fa-id-card" style="color: #ff5722;"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label for="email">Correo Electrónico:</label>
        <div class="control has-icons-left">
          <input id="email" [(ngModel)]="selectedUser.email" class="input is-rounded" required />
          <span class="icon is-small is-left">
            <i class="fas fa-envelope" style="color: #ff5722;"></i>
          </span>
        </div>
      </div>
      <div class="field">
        <label for="rol">Rol:</label>
        <div class="control has-icons-left">
          <input id="rol" [(ngModel)]="selectedUser.rol" class="input is-rounded" required />
          <span class="icon is-small is-left">
            <i class="fas fa-user-tag" style="color: #ff5722;"></i>
          </span>
        </div>
      </div>
      <div class="buttons">
        <button class="button is-success" (click)="updateUser()">Actualizar</button>
        <button class="button is-danger" (click)="displayDialog = false">Cancelar</button>
      </div>
    </div>
  </div>
</div>