<div>
    
<table style="margin-bottom:10px">
          
    <tr>
      <td rowspan="2" style="width: 250px;">
        <img src="../../assets/images/logo.png" alt="Descripción de la imagen" style="width: 400px; height: auto;" />
      </td>
      <td class="fv" colspan="2" style="text-align: center; font-size: 24px; font-weight: bold;">CHECKLIST DE PROCESOS</td>
      
    </tr>
    <tr>
      <td >REC-2020-MX-009-V3</td>
      <td >En aplicación</td>
      
    </tr>

  </table>
  <table style="margin-bottom:10px">
    <thead>
      <tr>
        <th class="fv" rowspan="2" colspan="4">Revisión 1 vez por turno por técnicos</th>
        <th colspan="5">Producto</th>
        <th colspan="4">Resina</th>
        <th colspan="3">Cliente</th>
        <th colspan="2">Maquina</th>
      </tr>
      <tr>
        
        <th colspan="5" name="producto">
          <input type="text" name="producto" class="no-border-input" style="width: 100%; border: none" />
        </th>
        <th colspan="4" name="resina">
          <input type="text" name="resina" class="no-border-input" style="width: 100%; border: none" />
        </th>
        <th colspan="3" name="cliente">
          <input type="text" name="cliente" class="no-border-input" style="width: 100%; border: none" />
        </th>
        <th colspan="2" name="maquina">
          <input type="text" name="maquina" class="no-border-input" style="width: 100%; border: none" />
        </th>
      </tr>
      <tr>
        <th class="fv" rowspan="2" colspan="4">Revisión 1 vez por turno por técnicos</th>
        <th rowspan="1" colspan="2">LUNES</th>
        <th colspan="2">MARTES</th>
        <th colspan="2">MIERCOLES</th>
        <th colspan="2">JUEVES</th>
        <th colspan="2">VIERNES</th>
        <th colspan="2">SABADO</th>
        <th colspan="2">DOMINGO</th>
      </tr>
      <tr>
        
        <td>1er T.</td>
        <td>2do T.</td>
        <td>1er T.</td>
        <td>2do T.</td>
        <td>1er T.</td>
        <td>2do T.</td>
        <td>1er T.</td>
        <td>2do T.</td>
        <td>1er T.</td>
        <td>2do T.</td>
        <td>1er T.</td>
        <td>2do T.</td>
        <td>1er T.</td>
        <td>2do T.</td>

      </tr>
    <tr>
      <td colspan="4">PARAMETROS DE CONTROL</td>
      <td rowspan="2" colspan="14"></td>
    </tr>
    <tr>
      <td class="fv" colspan="2">Temp.Barril</td>
        <td colspan="1">SET</td>
        <td colspan="1">Tolerancia</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="fv" colspan="2">Zona 14</td>
      <td colspan="1">
        <input type="number" name="Zona 14 SET" class="no-border-input" style="width: 100%; border: none" />
      </td>
      <td colspan="1">
        <input type="text" name="Zona 14 Tolerancia" class="no-border-input" style="width: 100%; border: none" />
      </td>
      <td name="zona 14 Lunes 1er T."></td>
      <td name="zona 14 Lunes 2do T."></td>
      <td name="zona 14 Martes 1er T."></td>
      <td name="zona 14 Martes 2do T."></td>
      <td name="zona 14 Miercoles 1er T."></td>
      <td name="zona 14 Miercoles 2do T."></td>
      <td name="zona 14 Jueves 1er T."></td>
      <td name="zona 14 Jueves 2do T."></td>
      <td name="zona 14 Viernes 1er T."></td>
      <td name="zona 14 Viernes 2do T."></td>
      <td name="zona 14 Sabado 1er T."></td>
      <td name="zona 14 Sabado 2do T."></td>
      <td name="zona 14 Domingo 1er T."></td>
      <td name="zona 14 Domingo 2do T."></td>

    </tr>
    <tr>
      <td class="fv" colspan="2">Zona 13</td>
      <td colspan="1">
        <input type="text" name="Zona 13 SET" class="no-border-input none"  />
      </td>
      <td colspan="1">
        <input type="text" name="Zona 13 Tolerancia" class="no-border-input none"  />
      </td>
      <td name="zona 13 Lunes 1er T."></td>
      <td name="zona 13 Lunes 2do T."></td>
      <td name="zona 13 Martes 1er T."></td>
      <td name="zona 13 Martes 2do T."></td>
      <td name="zona 13 Miercoles 1er T."></td>
      <td name="zona 13 Miercoles 2do T."></td>
      <td name="zona 13 Jueves 1er T."></td>
      <td name="zona 13 Jueves 2do T."></td>
      <td name="zona 13 Viernes 1er T."></td>
      <td name="zona 13 Viernes 2do T."></td>
      <td name="zona 13 Sabado 1er T."></td>
      <td name="zona 13 Sabado 2do T."></td>
      <td name="zona 13 Domingo 1er T."></td>
      <td name="zona 13 Domingo 2do T."></td>
    </tr>
    <tr>
      <td class="fv" colspan="2">
        Zona 11
      </td>
      <td>
        <input type="text" name="Zona 11 SET" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Zona 11 Tolerancia" class="no-border-input none"  />
      </td>
      <td name="zona 11 Lunes 1er T."></td>
      <td name="zona 11 Lunes 2do T."></td>
      <td name="zona 11 Martes 1er T."></td>
      <td name="zona 11 Martes 2do T."></td>
      <td name="zona 11 Miercoles 1er T."></td>
      <td name="zona 11 Miercoles 2do T."></td>
      <td name="zona 11 Jueves 1er T."></td>
      <td name="zona 11 Jueves 2do T."></td>
      <td name="zona 11 Viernes 1er T."></td>
      <td name="zona 11 Viernes 2do T."></td>
      <td name="zona 11 Sabado 1er T."></td>
      <td name="zona 11 Sabado 2do T."></td>
      <td name="zona 11 Domingo 1er T."></td>
      <td name="zona 11 Domingo 2do T."></td>
    </tr>
    <tr>
      <td class="fv" colspan="2">
        Zona 6
      </td>
      <td>
        <input type="text" name="Zona 6 SET" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Zona 6 Tolerancia" class="no-border-input none"  />
      </td>
      <td name="zona 6 Lunes 1er T."></td>
      <td name="zona 6 Lunes 2do T."></td>
      <td name="zona 6 Martes 1er T."></td>
      <td name="zona 6 Martes 2do T."></td>
      <td name="zona 6 Miercoles 1er T."></td>
      <td name="zona 6 Miercoles 2do T."></td>
      <td name="zona 6 Jueves 1er T."></td>
      <td name="zona 6 Jueves 2do T."></td>
      <td name="zona 6 Viernes 1er T."></td>
      <td name="zona 6 Viernes 2do T."></td>
      <td name="zona 6 Sabado 1er T."></td>
      <td name="zona 6 Sabado 2do T."></td>
      <td name="zona 6 Domingo 1er T."></td>
      <td name="zona 6 Domingo 2do T."></td>

    </tr>
    <tr>
      <td class="fv" colspan="2">Zona 5</td>
      <td>
        <input type="text" name="Zona 5 SET" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Zona 5 Tolerancia" class="no-border-input none"  />
      </td>
      <td name="zona 5 Lunes 1er T."></td>
      <td name="zona 5 Lunes 2do T."></td>
      <td name="zona 5 Martes 1er T."></td>
      <td name="zona 5 Martes 2do T."></td>
      <td name="zona 5 Miercoles 1er T."></td>
      <td name="zona 5 Miercoles 2do T."></td>
      <td name="zona 5 Jueves 1er T."></td>
      <td name="zona 5 Jueves 2do T."></td>
      <td name="zona 5 Viernes 1er T."></td>
      <td name="zona 5 Viernes 2do T."></td>
      <td name="zona 5 Sabado 1er T."></td>
      <td name="zona 5 Sabado 2do T."></td>
      <td name="zona 5 Domingo 1er T."></td>
      <td name="zona 5 Domingo 2do T."></td>

    </tr>
    <tr>
      <td class="fv" colspan="2">Zona 4</td>
      <td>
        <input type="text" name="Zona 4 SET" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Zona 4 Tolerancia" class="no-border-input none"  />
      </td>
      <td name="zona 4 Lunes 1er T."></td>
      <td name="zona 4 Lunes 2do T."></td>
      <td name="zona 4 Martes 1er T."></td>
      <td name="zona 4 Martes 2do T."></td>
      <td name="zona 4 Miercoles 1er T."></td>
      <td name="zona 4 Miercoles 2do T."></td>
      <td name="zona 4 Jueves 1er T."></td>
      <td name="zona 4 Jueves 2do T."></td>
      <td name="zona 4 Viernes 1er T."></td>
      <td name="zona 4 Viernes 2do T."></td>
      <td name="zona 4 Sabado 1er T."></td>
      <td name="zona 4 Sabado 2do T."></td>
      <td name="zona 4 Domingo 1er T."></td>
      <td name="zona 4 Domingo 2do T."></td>
    </tr>
    <tr>
      <td class="fv" colspan="2">Zona 3</td>
      <td>
        <input type="text" name="Zona 3 SET" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Zona 3 Tolerancia" class="no-border-input none"  />
      </td>
      <td name="zona 3 Lunes 1er T."></td>
      <td name="zona 3 Lunes 2do T."></td>
      <td name="zona 3 Martes 1er T."></td>
      <td name="zona 3 Martes 2do T."></td>
      <td name="zona 3 Miercoles 1er T."></td>
      <td name="zona 3 Miercoles 2do T."></td>
      <td name="zona 3 Jueves 1er T."></td>
      <td name="zona 3 Jueves 2do T."></td>
      <td name="zona 3 Viernes 1er T."></td>
      <td name="zona 3 Viernes 2do T."></td>
      <td name="zona 3 Sabado 1er T."></td>
      <td name="zona 3 Sabado 2do T."></td>
      <td name="zona 3 Domingo 1er T."></td>
      <td name="zona 3 Domingo 2do T."></td>
    </tr>
    <tr>
      <td class="fv" colspan="2">Zona 2</td>
      <td>
        <input type="text" name="Zona 2 SET" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Zona 2 Tolerancia" class="no-border-input none"  />
      </td>
      <td name="zona 2 Lunes 1er T."></td>
      <td name="zona 2 Lunes 2do T."></td>
      <td name="zona 2 Martes 1er T."></td>
      <td name="zona 2 Martes 2do T."></td>
      <td name="zona 2 Miercoles 1er T."></td>
      <td name="zona 2 Miercoles 2do T."></td>
      <td name="zona 2 Jueves 1er T."></td>
      <td name="zona 2 Jueves 2do T."></td>
      <td name="zona 2 Viernes 1er T."></td>
      <td name="zona 2 Viernes 2do T."></td>
      <td name="zona 2 Sabado 1er T."></td>
      <td name="zona 2 Sabado 2do T."></td>
      <td name="zona 2 Domingo 1er T."></td>
      <td name="zona 2 Domingo 2do T."></td>
    </tr>
    <tr>
      <td class="fv" colspan="2">Zona 1</td>
      <td>
        <input type="text" name="Zona 1 SET" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Zona 1 Tolerancia" class="no-border-input none"  />
      </td>
      <td name="zona 1 Lunes 1er T."></td>
      <td name="zona 1 Lunes 2do T."></td>
      <td name="zona 1 Martes 1er T."></td>
      <td name="zona 1 Martes 2do T."></td>
      <td name="zona 1 Miercoles 1er T."></td>
      <td name="zona 1 Miercoles 2do T."></td>
      <td name="zona 1 Jueves 1er T."></td>
      <td name="zona 1 Jueves 2do T."></td>
      <td name="zona 1 Viernes 1er T."></td>
      <td name="zona 1 Viernes 2do T."></td>
      <td name="zona 1 Sabado 1er T."></td>
      <td name="zona 1 Sabado 2do T."></td>
      <td name="zona 1 Domingo 1er T."></td>
      <td name="zona 1 Domingo 2do T."></td>
    </tr>
    <tr>
      <td class="fv" colspan="4">INYECCION</td>
      <td colspan="14"></td>
    </tr>
    <tr >
      <td class="fv" colspan="2">Limite de Presion Max</td>
      <td>
        <input type="text" name="SET LIMITE DE PRESION MAX" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Tolerancia LIMITE DE PRESION MAX" class="no-border-input none"  />
      </td>
      <td name="LIMITE DE PRESION MAX Lunes 1er T."></td>
      <td name="LIMITE DE PRESION MAX Lunes 2do T."></td>
      <td name="LIMITE DE PRESION MAX Martes 1er T."></td>
      <td name="LIMITE DE PRESION MAX Martes 2do T."></td>
      <td name="LIMITE DE PRESION MAX Miercoles 1er T."></td>
      <td name="LIMITE DE PRESION MAX Miercoles 2do T."></td>
      <td name="LIMITE DE PRESION MAX Jueves 1er T."></td>
      <td name="LIMITE DE PRESION MAX Jueves 2do T."></td>
      <td name="LIMITE DE PRESION MAX Viernes 1er T."></td>
      <td name="LIMITE DE PRESION MAX Viernes 2do T."></td>
      <td name="LIMITE DE PRESION MAX Sabado 1er T."></td>
      <td name="LIMITE DE PRESION MAX Sabado 2do T."></td>
      <td name="LIMITE DE PRESION MAX Domingo 1er T."></td>
      <td name="LIMITE DE PRESION MAX Domingo 2do T."></td>
    </tr>
    <tr>
      <td class="fv" colspan="2">Corte</td>
      <td colspan="1">
        <input type="text" name="SET Corte" class="no-border-input none"  />
      </td>
      <td colspan="1">
        <input type="text" name="Tolerancia Corte" class="no-border-input none"  />
      </td>
      <td name="Corte Lunes 1er T."></td>
      <td name="Corte Lunes 2do T."></td>
      <td name="Corte Martes 1er T."></td>
      <td name="Corte Martes 2do T."></td>
      <td name="Corte Miercoles 1er T."></td>
      <td name="Corte Miercoles 2do T."></td>
      <td name="Corte Jueves 1er T."></td>
      <td name="Corte Jueves 2do T."></td>
      <td name="Corte Viernes 1er T."></td>
      <td name="Corte Viernes 2do T."></td>
      <td name="Corte Sabado 1er T."></td>
      <td name="Corte Sabado 2do T."></td>
      <td name="Corte Domingo 1er T."></td>
      <td name="Corte Domingo 2do T."></td>

    </tr>
    <tr>
      <td class="fv" colspan="4">SOSTENIMIENTO</td>
      <td colspan="14"></td>

    </tr>
    <tr>
      <td class="fv" colspan="2">Tiempo total de sostenimiento</td>
      <td>
        <input type="text" name="SET Tiempo total de sostenimiento" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Tolerancia Tiempo total de sostenimiento" class="no-border-input none"  />
      </td>
      <td name="Tiempo total de sostenimiento Lunes 1er T."></td>
      <td name="Tiempo total de sostenimiento Lunes 2do T."></td>
      <td name="Tiempo total de sostenimiento Martes 1er T."></td>
      <td name="Tiempo total de sostenimiento Martes 2do T."></td>
      <td name="Tiempo total de sostenimiento Miercoles 1er T."></td>
      <td name="Tiempo total de sostenimiento Miercoles 2do T."></td>
      <td name="Tiempo total de sostenimiento Jueves 1er T."></td>
      <td name="Tiempo total de sostenimiento Jueves 2do T."></td>
      <td name="Tiempo total de sostenimiento Viernes 1er T."></td>
      <td name="Tiempo total de sostenimiento Viernes 2do T."></td>
      <td name="Tiempo total de sostenimiento Sabado 1er T."></td>
      <td name="Tiempo total de sostenimiento Sabado 2do T."></td>
      <td name="Tiempo total de sostenimiento Domingo 1er T."></td>
      <td name="Tiempo total de sostenimiento Domingo 2do T."></td>
    </tr>
    <tr>
      <td class="fv" colspan="2">Presion maxima de sostenimiento</td>
      <td>
        <input type="text" name="SET Presion maxima de sostenimiento" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Tolerancia Presion maxima de sostenimiento" class="no-border-input none"  />
      </td>
      <td name="Presion maxima de sostenimiento Lunes 1er T."></td>
      <td name="Presion maxima de sostenimiento Lunes 2do T."></td>
      <td name="Presion maxima de sostenimiento Martes 1er T."></td>
      <td name="Presion maxima de sostenimiento Martes 2do T."></td>
      <td name="Presion maxima de sostenimiento Miercoles 1er T."></td>
      <td name="Presion maxima de sostenimiento Miercoles 2do T."></td>
      <td name="Presion maxima de sostenimiento Jueves 1er T."></td>
      <td name="Presion maxima de sostenimiento Jueves 2do T."></td>
      <td name="Presion maxima de sostenimiento Viernes 1er T."></td>
      <td name="Presion maxima de sostenimiento Viernes 2do T."></td>
      <td name="Presion maxima de sostenimiento Sabado 1er T."></td>
      <td name="Presion maxima de sostenimiento Sabado 2do T."></td>
      <td name="Presion maxima de sostenimiento Domingo 1er T."></td>
      <td name="Presion maxima de sostenimiento Domingo 2do T."></td>

    </tr>
    <tr>
      <td class="fv" colspan="2">Tiempo de enfriamiento</td>
      <td >
        <input type="text" name="SET Tiempo de enfriamiento" class="no-border-input none"  />
      </td>
      <td >
        <input type="text" name="Tolerancia Tiempo de enfriamiento" class="no-border-input none"  />
      </td>
      <td name="Tiempo de enfriamiento Lunes 1er T."></td>
      <td name="Tiempo de enfriamiento Lunes 2do T."></td>
      <td name="Tiempo de enfriamiento Martes 1er T."></td>
      <td name="Tiempo de enfriamiento Martes 2do T."></td>
      <td name="Tiempo de enfriamiento Miercoles 1er T."></td>
      <td name="Tiempo de enfriamiento Miercoles 2do T."></td>
      <td name="Tiempo de enfriamiento Jueves 1er T."></td>
      <td name="Tiempo de enfriamiento Jueves 2do T."></td>
      <td name="Tiempo de enfriamiento Viernes 1er T."></td>
      <td name="Tiempo de enfriamiento Viernes 2do T."></td>
      <td name="Tiempo de enfriamiento Sabado 1er T."></td>
      <td name="Tiempo de enfriamiento Sabado 2do T."></td>
      <td name="Tiempo de enfriamiento Domingo 1er T."></td>
      <td name="Tiempo de enfriamiento Domingo 2do T."></td>

    </tr>
    <tr>
      <td class="fv" colspan="4">CARGA</td>
      <td colspan="14"></td>
    </tr>
    <tr>
      <td colspan="2"> Revoluciones del tornillo</td>
      <td >
        <input type="text" name="SET Revoluciones del tornillo" class="no-border-input none"  />
      </td>
      <td >
        <input type="text" name="Tolerancia Revoluciones del tornillo" class="no-border-input none"  />
      </td>
      <td name="Revoluciones del tornillo Lunes 1er T."></td>
      <td name="Revoluciones del tornillo Lunes 2do T."></td>
      <td name="Revoluciones del tornillo Martes 1er T."></td>
      <td name="Revoluciones del tornillo Martes 2do T."></td>
      <td name="Revoluciones del tornillo Miercoles 1er T."></td>
      <td name="Revoluciones del tornillo Miercoles 2do T."></td>
      <td name="Revoluciones del tornillo Jueves 1er T."></td>
      <td name="Revoluciones del tornillo Jueves 2do T."></td>
      <td name="Revoluciones del tornillo Viernes 1er T."></td>
        <td name="Revoluciones del tornillo Viernes 2do T."></td>
        <td name="Revoluciones del tornillo Sabado 1er T."></td>
        <td name="Revoluciones del tornillo Sabado 2do T."></td>
        <td name="Revoluciones del tornillo Domingo 1er T."></td>
        <td name="Revoluciones del tornillo Domingo 2do T."></td>
    </tr>
    <tr>
      <td class="fv" colspan="2">Contrapresion</td>
      <td >
        <input type="text" name="SET Contrapresion" class="no-border-input none"  />
      </td>
      <td >
        <input type="text" name="Tolerancia Contrapresion" class="no-border-input none"  />
      </td>
      <td name="Contrapresion Lunes 1er T."></td>
      <td name="Contrapresion Lunes 2do T."></td>
      <td name="Contrapresion Martes 1er T."></td>
      <td name="Contrapresion Martes 2do T."></td>
      <td name="Contrapresion Miercoles 1er T."></td>
      <td name="Contrapresion Miercoles 2do T."></td>
      <td name="Contrapresion Jueves 1er T."></td>
      <td name="Contrapresion Jueves 2do T."></td>
      <td name="Contrapresion Viernes 1er T."></td>
      <td name="Contrapresion Viernes 2do T."></td>
      <td name="Contrapresion Sabado 1er T."></td>
      <td name="Contrapresion Sabado 2do T."></td>
      <td name="Contrapresion Domingo 1er T."></td>
      <td name="Contrapresion Domingo 2do T."></td>
    </tr>
    <tr>
      <td class="fv" colspan="2">Tamaño carga</td>
      <td >
        <input type="text" name="SET Tamaño carga" class="no-border-input none"  />
      </td>
      <td >
        <input type="text" name="Tolerancia Tamaño carga" class="no-border-input none"  />
      </td>
      <td name="Tamaño carga Lunes 1er T."></td>
      <td name="Tamaño carga Lunes 2do T."></td>
      <td name="Tamaño carga Martes 1er T."></td>
      <td name="Tamaño carga Martes 2do T."></td>
      <td name="Tamaño carga Miercoles 1er T."></td>
      <td name="Tamaño carga Miercoles 2do T."></td>
      <td name="Tamaño carga Jueves 1er T."></td>
      <td name="Tamaño carga Jueves 2do T."></td>
      <td name="Tamaño carga viernes 1er T." ></td>
      <td name="Tamaño carga viernes 2do T." ></td>
      <td name="Tamaño carga Sabado 1er T."></td>
      <td name="Tamaño carga Sabado 2do T."></td>
      <td name="Tamaño carga Domingo 1er T."></td>
      <td name="Tamaño carga Domingo 2do T."></td>
    </tr>
    <tr>
      <td class="fv" colspan="2">Succion/Descompresion</td>
      <td >
        <input type="text" name="SET Succion/Descompresion" class="no-border-input none"  />
      </td>
      <td >
        <input type="text" name="Tolerancia Succion/Descompresion" class="no-border-input none"  />
      </td>
      <td name="Succion/Descompresion Lunes 1er T."></td>
      <td name="Succion/Descompresion Lunes 2do T."></td>
      <td name="Succion/Descompresion Martes 1er T."></td>
      <td name="Succion/Descompresion Martes 2do T."></td>
      <td name="Succion/Descompresion Miercoles 1er T."></td>
      <td name="Succion/Descompresion Miercoles 2do T."></td>
      <td name="Succion/Descompresion Jueves 1er T."></td>
      <td name="Succion/Descompresion Jueves 2do T."></td>
      <td name="Succion/Descompresion Viernes 1er T."></td>
      <td name="Succion/Descompresion Viernes 2do T."></td>
      <td name="Succion/Descompresion Sabado 1er T."></td>
      <td name="Succion/Descompresion Sabado 2do T."></td>
      <td name="Succion/Descompresion Domingo 1er T."></td>
      <td name="Succion/Descompresion Domingo 2do T."></td>


    </tr>
    <tr>
      <td class="fv" colspan="4">TEMPERATURAS COLADA CALIENTE</td>
      <td colspan="14"></td>
    </tr>
    <tr>
      <td class="fv" colspan="2">
        Zona 1/2
      </td>
      <td>
        <input type="text" name="Zona 1/2 SET" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Zona 1/2 Tolerancia" class="no-border-input none"  />
      </td>
      <td name="Zona 1/2 Lunes 1er T."></td>
      <td name="Zona 1/2 Lunes 2do T."></td>
      <td name="Zona 1/2 Martes 1er T."></td>
      <td name="Zona 1/2 Martes 2do T."></td>
      <td name="Zona 1/2 Miercoles 1er T."></td>
      <td name="Zona 1/2 Miercoles 2do T."></td>
      <td name="Zona 1/2 Jueves 1er T."></td>
      <td name="Zona 1/2 Jueves 2do T."></td>
      <td name="Zona 1/2 Viernes 1er T."></td>
      <td name="Zona 1/2 Viernes 2do T."></td>
      <td name="Zona 1/2 Sabado 1er T."></td>
      <td name="Zona 1/2 Sabado 2do T."></td>
      <td name="Zona 1/2 Domingo 1er T."></td>
      <td name="Zona 1/2 Domingo 2do T."></td>

    </tr>
    <tr>
      <td class="fv" colspan="2">
        Zona 3/4
      </td>
      <td>
        <input type="text" name="Zona 3/4 SET" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Zona 3/4 Tolerancia" class="no-border-input none"  />
      </td>
      <td name="Zona 3/4 Lunes 1er T."></td>
      <td name="Zona 3/4 Lunes 2do T."></td>
      <td name="Zona 3/4 Martes 1er T."></td>
      <td name="Zona 3/4 Martes 2do T."></td>
      <td name="Zona 3/4 Miercoles 1er T."></td>
      <td name="Zona 3/4 Miercoles 2do T."></td>
      <td name="Zona 3/4 Jueves 1er T."></td>
      <td name="Zona 3/4 Jueves 2do T."></td>
      <td name="Zona 3/4 Viernes 1er T."></td>
      <td name="Zona 3/4 Viernes 2do T."></td>
      <td name="Zona 3/4 Sabado 1er T."></td>
      <td name="Zona 3/4 Sabado 2do T."></td>
      <td name="Zona 3/4 Domingo 1er T."></td>
      <td name="Zona 3/4 Domingo 2do T."></td>
    </tr>
    <tr>
      <td class="fv" colspan="2">
        Zona 5/6
      </td>
      <td>
        <input type="text" name="Zona 5/6 SET" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Zona 5/6 Tolerancia" class="no-border-input none"  />
      </td>
      <td name="Zona 5/6 Lunes 1er T."></td>
      <td name="Zona 5/6 Lunes 2do T."></td>
      <td name="Zona 5/6 Martes 1er T."></td>
      <td name="Zona 5/6 Martes 2do T."></td>
      <td name="Zona 5/6 Miercoles 1er T."></td>
      <td name="Zona 5/6 Miercoles 2do T."></td>
      <td name="Zona 5/6 Jueves 1er T."></td>
      <td name="Zona 5/6 Jueves 2do T."></td>
      <td name="Zona 5/6 Viernes 1er T."></td>
      <td name="Zona 5/6 Viernes 2do T."></td>
      <td name="Zona 5/6 Sabado 1er T."></td>
      <td name="Zona 5/6 Sabado 2do T."></td>
      <td name="Zona 5/6 Domingo 1er T."></td>
      <td name="Zona 5/6 Domingo 2do T."></td>

    </tr>
    <tr>
      <td class="fv" colspan="2">
        Zona 7/8
      </td>
      <td>
        <input type="text" name="Zona 7/8 SET" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Zona 7/8 Tolerancia" class="no-border-input none"  />
      </td>
      <td name="Zona 7/8 Lunes 1er T."></td>
      <td name="Zona 7/8 Lunes 2do T."></td>
      <td name="Zona 7/8 Martes 1er T."></td>
      <td name="Zona 7/8 Martes 2do T."></td>
      <td name="Zona 7/8 Miercoles 1er T."></td>
      <td name="Zona 7/8 Miercoles 2do T."></td>
      <td name="Zona 7/8 Jueves 1er T."></td>
      <td name="Zona 7/8 Jueves 2do T."></td>
      <td name="Zona 7/8 Viernes 1er T."></td>
      <td name="Zona 7/8 Viernes 2do T."></td>
      <td name="Zona 7/8 Sabado 1er T."></td>
      <td name="Zona 7/8 Sabado 2do T."></td>
      <td name="Zona 7/8 Domingo 1er T."></td>
      <td name="Zona 7/8 Domingo 2do T."></td>
    </tr>
    <tr>
      <td class="fv" colspan="2">
        Zona 9/10
      </td>
      <td>
        <input type="text" name="Zona 9/10 SET" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Zona 9/10 Tolerancia" class="no-border-input none"  />
      </td>
      <td name="Zona 9/10 Lunes 1er T."></td>
      <td name="Zona 9/10 Lunes 2do T."></td>
      <td name="Zona 9/10 Martes 1er T."></td>
      <td name="Zona 9/10 Martes 2do T."></td>
      <td name="Zona 9/10 Miercoles 1er T."></td>
      <td name="Zona 9/10 Miercoles 2do T."></td>
      <td name="Zona 9/10 Jueves 1er T."></td>
      <td name="Zona 9/10 Jueves 2do T."></td>
      <td name="Zona 9/10 Viernes 1er T."></td>
      <td name="Zona 9/10 Viernes 2do T."></td>
      <td name="Zona 9/10 Sabado 1er T."></td>
      <td name="Zona 9/10 Sabado 2do T."></td>
      <td name="Zona 9/10 Domingo 1er T."></td>
      <td name="Zona 9/10 Domingo 2do T."></td>
    </tr>
    <tr>
      <td class="fv" colspan="2">
        Zona 11/12
      </td>
      <td>
        <input type="text" name="Zona 11/12 SET" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Zona 11/12 Tolerancia" class="no-border-input none"  />
      </td>
      <td name="Zona 11/12 Lunes 1er T."></td>
      <td name="Zona 11/12 Lunes 2do T."></td>
      <td name="Zona 11/12 Martes 1er T."></td>
      <td name="Zona 11/12 Martes 2do T."></td>
      <td name="Zona 11/12 Miercoles 1er T."></td>
      <td name="Zona 11/12 Miercoles 2do T."></td>
      <td name="Zona 11/12 Jueves 1er T."></td>
      <td name="Zona 11/12 Jueves 2do T."></td>
      <td name="Zona 11/12 Viernes 1er T."></td>
      <td name="Zona 11/12 Viernes 2do T."></td>
      <td name="Zona 11/12 Sabado 1er T."></td>
      <td name="Zona 11/12 Sabado 2do T."></td>
      <td name="Zona 11/12 Domingo 1er T."></td>
      <td name="Zona 11/12 Domingo 2do T."></td>
    </tr>
    <tr>
      <td class="fv" colspan="2">
        Zona 13/14
      </td>
      <td>
        <input type="text" name="Zona 13/14 SET" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Zona 13/14 Tolerancia" class="no-border-input none"  />
      </td>
      <td name="Zona 13/14 Lunes 1er T."></td>
      <td name="Zona 13/14 Lunes 2do T."></td>
      <td name="Zona 13/14 Martes 1er T."></td>
      <td name="Zona 13/14 Martes 2do T."></td>
      <td name="Zona 13/14 Miercoles 1er T."></td>
      <td name="Zona 13/14 Miercoles 2do T."></td>
      <td name="Zona 13/14 Jueves 1er T."></td>
      <td name="Zona 13/14 Jueves 2do T."></td>
      <td name="Zona 13/14 Viernes 1er T."></td>
      <td name="Zona 13/14 Viernes 2do T."></td>
      <td name="Zona 13/14 Sabado 1er T."></td>
      <td name="Zona 13/14 Sabado 2do T."></td>
      <td name="Zona 13/14 Domingo 1er T."></td>
      <td name="Zona 13/14 Domingo 2do T."></td>
    </tr>
    <tr>
      <td class="fv" colspan="2">
        Zona 15/16
      </td>
      <td>
        <input type="text" name="Zona 15/16 SET" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Zona 15/16 Tolerancia" class="no-border-input none"  />
      </td>
      <td name="Zona 15/16 Lunes 1er T."></td>
      <td name="Zona 15/16 Lunes 2do T."></td>
      <td name="Zona 15/16 Martes 1er T."></td>
      <td name="Zona 15/16 Martes 2do T."></td>
      <td name="Zona 15/16 Miercoles 1er T."></td>
      <td name="Zona 15/16 Miercoles 2do T."></td>
      <td name="Zona 15/16 Jueves 1er T."></td>
      <td name="Zona 15/16 Jueves 2do T."></td>
      <td name="Zona 15/16 Viernes 1er T."></td>
      <td name="Zona 15/16 Viernes 2do T."></td>
      <td name="Zona 15/16 Sabado 1er T."></td>
      <td name="Zona 15/16 Sabado 2do T."></td>
      <td name="Zona 15/16 Domingo 1er T."></td>
      <td name="Zona 15/16 Domingo 2do T."></td>
    </tr>
    <tr>
      <td class="fv" colspan="2">
        Zona 17/18
      </td>
      <td>
        <input type="text" name="Zona 17/18 SET" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Zona 17/18 Tolerancia" class="no-border-input none"  />
      </td>
      <td name="Zona 17/18 Lunes 1er T."></td>
      <td name="Zona 17/18 Lunes 2do T."></td>
      <td name="Zona 17/18 Martes 1er T."></td>
      <td name="Zona 17/18 Martes 2do T."></td>
      <td name="Zona 17/18 Miercoles 1er T."></td>
      <td name="Zona 17/18 Miercoles 2do T."></td>
      <td name="Zona 17/18 Jueves 1er T."></td>
      <td name="Zona 17/18 Jueves 2do T."></td>
      <td name="Zona 17/18 Viernes 1er T."></td>
      <td name="Zona 17/18 Viernes 2do T."></td>
      <td name="Zona 17/18 Sabado 1er T."></td>
      <td name="Zona 17/18 Sabado 2do T."></td>
      <td name="Zona 17/18 Domingo 1er T."></td>
      <td name="Zona 17/18 Domingo 2do T."></td>
    </tr>
    <tr>
      <td class="fv" colspan="2">
        Zona 19/20
      </td>
      <td>
        <input type="text" name="Zona 19/20 SET" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Zona 19/20 Tolerancia" class="no-border-input none"  />
      </td>
      <td name="Zona 19/20 Lunes 1er T."></td>
      <td name="Zona 19/20 Lunes 2do T."></td>
      <td name="Zona 19/20 Martes 1er T."></td>
      <td name="Zona 19/20 Martes 2do T."></td>
      <td name="Zona 19/20 Miercoles 1er T."></td>
      <td name="Zona 19/20 Miercoles 2do T."></td>
      <td name="Zona 19/20 Jueves 1er T."></td>
      <td name="Zona 19/20 Jueves 2do T."></td>
      <td name="Zona 19/20 Viernes 1er T."></td>
      <td name="Zona 19/20 Viernes 2do T."></td>
      <td name="Zona 19/20 Sabado 1er T."></td>
      <td name="Zona 19/20 Sabado 2do T."></td>
      <td name="Zona 19/20 Domingo 1er T."></td>
      <td name="Zona 19/20 Domingo 2do T."></td>
    </tr>
    <tr>
      <td class="fv" colspan="2">
        Zona 21/22
      </td>
      <td>
        <input type="text" name="Zona 21/22 SET" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Zona 21/22 Tolerancia" class="no-border-input none"  />
      </td>
      <td name="Zona 21/22 Lunes 1er T."></td>
      <td name="Zona 21/22 Lunes 2do T."></td>
      <td name="Zona 21/22 Martes 1er T."></td>
      <td name="Zona 21/22 Martes 2do T."></td>
      <td name="Zona 21/22 Miercoles 1er T."></td>
      <td name="Zona 21/22 Miercoles 2do T."></td>
      <td name="Zona 21/22 Jueves 1er T."></td>
      <td name="Zona 21/22 Jueves 2do T."></td>
      <td name="Zona 21/22 Viernes 1er T."></td>
      <td name="Zona 21/22 Viernes 2do T."></td>
      <td name="Zona 21/22 Sabado 1er T."></td>
      <td name="Zona 21/22 Sabado 2do T."></td>
      <td name="Zona 21/22 Domingo 1er T."></td>
      <td name="Zona 21/22 Domingo 2do T."></td>
    </tr>
    <tr>
      <td class="fv" colspan="4">PERIFERICOS</td>
      <td colspan="14"></td>
    </tr>
    <tr>
      <td class="fv" colspan="3">Valvulas abiertas de termo y manifolds</td>
      <td>
        <input type="text" name="Tolerancia Valvulas abiertas de termo y manifolds" class="no-border-input none"  />
      </td>
      <td name="Valvulas abiertas de termo y manifolds Lunes 1er T."></td>
      <td name="Valvulas abiertas de termo y manifolds Lunes 2do T."></td>
      <td name="Valvulas abiertas de termo y manifolds Martes 1er T."></td>
      <td name="Valvulas abiertas de termo y manifolds Martes 2do T."></td>
      <td name="Valvulas abiertas de termo y manifolds Miercoles 1er T."></td>
      <td name="Valvulas abiertas de termo y manifolds Miercoles 2do T."></td>
      <td name="Valvulas abiertas de termo y manifolds Jueves 1er T."></td>
      <td name="Valvulas abiertas de termo y manifolds Jueves 2do T."></td>
      <td name="Valvulas abiertas de termo y manifolds Viernes 1er T."></td>
      <td name="Valvulas abiertas de termo y manifolds Viernes 2do T."></td>
      <td name="Valvulas abiertas de termo y manifolds Sabado 1er T."></td>
      <td name="Valvulas abiertas de termo y manifolds Sabado 2do T."></td>
      <td name="Valvulas abiertas de termo y manifolds Domingo 1er T."></td>
      <td name="Valvulas abiertas de termo y manifolds Domingo 2do T."></td>
    </tr>
    <tr>
      <td class="fv" colspan="2">Termo parte fija</td>
      <td>
        <input type="text" name="SET Termo parte fija" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Tolerancia Termo parte fija" class="no-border-input none"  />
      </td>
      <td name="Termo parte fija Lunes 1er T."></td>
      <td name="Termo parte fija Lunes 2do T."></td>
      <td name="Termo parte fija Martes 1er T."></td>
      <td name="Termo parte fija Martes 2do T."></td>
      <td name="Termo parte fija Miercoles 1er T."></td>
      <td name="Termo parte fija Miercoles 2do T."></td>
      <td name="Termo parte fija Jueves 1er T."></td>
      <td name="Termo parte fija Jueves 2do T."></td>
      <td name="Termo parte fija Viernes 1er T."></td>
      <td name="Termo parte fija Viernes 2do T."></td>
      <td name="Termo parte fija Sabado 1er T."></td>
      <td name="Termo parte fija Sabado 2do T."></td>
      <td name="Termo parte fija Domingo 1er T."></td>
      <td name="Termo parte fija Domingo 2do T."></td>
    </tr>
    <tr>
      <td class="fv" colspan="2">Termo parte movil</td>
      <td>
        <input type="text" name="SET Termo parte movil" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Tolerancia Termo parte movil" class="no-border-input none"  />
      </td>
      <td name="Termo parte movil Lunes 1er T."></td>
      <td name="Termo parte movil Lunes 2do T."></td>
      <td name="Termo parte movil Martes 1er T."></td>
      <td name="Termo parte movil Martes 2do T."></td>
      <td name="Termo parte movil Miercoles 1er T."></td>
      <td name="Termo parte movil Miercoles 2do T."></td>
      <td name="Termo parte movil Jueves 1er T."></td>
      <td name="Termo parte movil Jueves 2do T."></td>
      <td name="Termo parte movil Viernes 1er T."></td>
      <td name="Termo parte movil Viernes 2do T."></td>
      <td name="Termo parte movil Sabado 1er T."></td>
      <td name="Termo parte movil Sabado 2do T."></td>
      <td name="Termo parte movil Domingo 1er T."></td>
      <td name="Termo parte movil Domingo 2do T."></td>
    </tr>
    <tr>
      <td class="fv" colspan="2">Temperatura otro (si aplica)</td>
      <td>
        <input type="text" name="SET Temperatura otro" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Tolerancia Temperatura otro" class="no-border-input none"  />
      </td>
      <td name="Temperatura otro Lunes 1er T."></td>
      <td name="Temperatura otro Lunes 2do T."></td>
      <td name="Temperatura otro Martes 1er T."></td>
      <td name="Temperatura otro Martes 2do T."></td>
      <td name="Temperatura otro Miercoles 1er T."></td>
      <td name="Temperatura otro Miercoles 2do T."></td>
      <td name="Temperatura otro Jueves 1er T."></td>
      <td name="Temperatura otro Jueves 2do T."></td>
      <td name="Temperatura otro Viernes 1er T."></td>
      <td name="Temperatura otro Viernes 2do T."></td>
      <td name="Temperatura otro Sabado 1er T."></td>
      <td name="Temperatura otro Sabado 2do T."></td>
      <td name="Temperatura otro Domingo 1er T."></td>
      <td name="Temperatura otro Domingo 2do T."></td>
    </tr>
    <tr>
      <td class="fv" colspan="2">
        Temperatura secado
      </td>
      <td>
        <input type="text" name="SET Temperatura secado" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Tolerancia Temperatura secado" class="no-border-input none"  />
      </td>
      <td name="Temperatura secado Lunes 1er T."></td>
      <td name="Temperatura secado Lunes 2do T."></td>
      <td name="Temperatura secado Martes 1er T."></td>
      <td name="Temperatura secado Martes 2do T."></td>
      <td name="Temperatura secado Miercoles 1er T."></td>
      <td name="Temperatura secado Miercoles 2do T."></td>
      <td name="Temperatura secado Jueves 1er T."></td>
      <td name="Temperatura secado Jueves 2do T."></td>
      <td name="Temperatura secado Viernes 1er T."></td>
      <td name="Temperatura secado Viernes 2do T."></td>
      <td name="Temperatura secado Sabado 1er T."></td>
      <td name="Temperatura secado Sabado 2do T."></td>
      <td name="Temperatura secado Domingo 1er T."></td>
      <td name="Temperatura secado Domingo 2do T."></td>

    </tr>
    <tr>
      <td class="fv" colspan="2">
        Dew point
      </td>
      <td>
        <input type="text" name="SET Dew point" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Tolerancia Dew point" class="no-border-input none"  />
      </td>
      <td name="Dew point Lunes 1er T."></td>
      <td name="Dew point Lunes 2do T."></td>
      <td name="Dew point Martes 1er T."></td>
      <td name="Dew point Martes 2do T."></td>
      <td name="Dew point Miercoles 1er T."></td>
      <td name="Dew point Miercoles 2do T."></td>
      <td name="Dew point Jueves 1er T."></td>
      <td name="Dew point Jueves 2do T."></td>
      <td name="Dew point Viernes 1er T."></td>
      <td name="Dew point Viernes 2do T."></td>
      <td name="Dew point Sabado 1er T."></td>
      <td name="Dew point Sabado 2do T."></td>
      <td name="Dew point Domingo 1er T."></td>
      <td name="Dew point Domingo 2do T."></td>
    </tr>
    <tr>
      <td class="fv" colspan="4">TABLA DE CALIDAD</td>
      <td colspan="14"></td>
    </tr>
    <tr>
      <td class="fv" colspan="3">Tablas de calidad activadas y ajustadas</td>
      
      <td>
        <input type="text" name="Tolerancia Tablas de calidad activadas y ajustadas" class="no-border-input none"  />
      </td>
      <td name="Tablas de calidad activadas y ajustadas Lunes 1er T."></td>
      <td name="Tablas de calidad activadas y ajustadas Lunes 2do T."></td>
      <td name="Tablas de calidad activadas y ajustadas Martes 1er T."></td>
      <td name="Tablas de calidad activadas y ajustadas Martes 2do T."></td>
      <td name="Tablas de calidad activadas y ajustadas Miercoles 1er T."></td>
      <td name="Tablas de calidad activadas y ajustadas Miercoles 2do T."></td>
      <td name="Tablas de calidad activadas y ajustadas Jueves 1er T."></td>
      <td name="Tablas de calidad activadas y ajustadas Jueves 2do T."></td>
      <td name="Tablas de calidad activadas y ajustadas Viernes 1er T."></td>
      <td name="Tablas de calidad activadas y ajustadas Viernes 2do T."></td>
      <td name="Tablas de calidad activadas y ajustadas Sabado 1er T."></td>
      <td name="Tablas de calidad activadas y ajustadas Sabado 2do T."></td>
      <td name="Tablas de calidad activadas y ajustadas Domingo 1er T."></td>
      <td name="Tablas de calidad activadas y ajustadas Domingo 2do T."></td>
    </tr>
    <tr>
      <td class="fv" colspan="2">Tiempo de ciclo</td>
      <td>
        <input type="text" name="SET Tiempo de ciclo" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Tolerancia Tiempo de ciclo" class="no-border-input none"  />
      </td>
      <td name="Tiempo de ciclo Lunes 1er T."></td>
      <td name="Tiempo de ciclo Lunes 2do T."></td>
      <td name="Tiempo de ciclo Martes 1er T."></td>
      <td name="Tiempo de ciclo Martes 2do T."></td>
      <td name="Tiempo de ciclo Miercoles 1er T."></td>
      <td name="Tiempo de ciclo Miercoles 2do T."></td>
      <td name="Tiempo de ciclo Jueves 1er T."></td>
      <td name="Tiempo de ciclo Jueves 2do T."></td>
      <td name="Tiempo de ciclo Viernes 1er T."></td>
      <td name="Tiempo de ciclo Viernes 2do T."></td>
      <td name="Tiempo de ciclo Sabado 1er T."></td>
      <td name="Tiempo de ciclo Sabado 2do T."></td>
      <td name="Tiempo de ciclo Domingo 1er T."></td>
      <td name="Tiempo de ciclo Domingo 2do T."></td>


    </tr>
    <tr>
      <td class="fv" colspan="2">Cojin</td>
      <td>
        <input type="text" name="SET Cojin" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Tolerancia Cojin" class="no-border-input none"  />
      </td>
      <td name="Cojin Lunes 1er T."></td>
      <td name="Cojin Lunes 2do T."></td>
      <td name="Cojin Martes 1er T."></td>
      <td name="Cojin Martes 2do T."></td>
      <td name="Cojin Miercoles 1er T."></td>
      <td name="Cojin Miercoles 2do T."></td>
      <td name="Cojin Jueves 1er T."></td>
      <td name="Cojin Jueves 2do T."></td>
      <td name="Cojin Viernes 1er T."></td>
      <td name="Cojin Viernes 2do T."></td>
      <td name="Cojin Sabado 1er T."></td>
      <td name="Cojin Sabado 2do T."></td>
      <td name="Cojin Domingo 1er T."></td>
      <td name="Cojin Domingo 2do T."></td>

    </tr>
    <tr>
      <td class="fv" colspan="2">Tiempo de llenado</td>
      <td>
        <input type="text" name="SET Tiempo de llenado" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Tolerancia Tiempo de llenado" class="no-border-input none"  />
      </td>
      <td name="Tiempo de llenado Lunes 1er T."></td>
      <td name="Tiempo de llenado Lunes 2do T."></td>
      <td name="Tiempo de llenado Martes 1er T."></td>
      <td name="Tiempo de llenado Martes 2do T."></td>
      <td name="Tiempo de llenado Miercoles 1er T."></td>
      <td name="Tiempo de llenado Miercoles 2do T."></td>
      <td name="Tiempo de llenado Jueves 1er T."></td>
      <td name="Tiempo de llenado Jueves 2do T."></td>
      <td name="Tiempo de llenado Viernes 1er T."></td>
      <td name="Tiempo de llenado Viernes 2do T."></td>
      <td name="Tiempo de llenado Sabado 1er T."></td>
      <td name="Tiempo de llenado Sabado 2do T."></td>
      <td name="Tiempo de llenado Domingo 1er T."></td>
      <td name="Tiempo de llenado Domingo 2do T."></td>

    </tr>
    <tr>
      <td class="fv" colspan="2">Tiempo de dosificacion</td>
      <td>
        <input type="text" name="SET Tiempo de dosificacion" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Tolerancia Tiempo de dosificacion" class="no-border-input none"  />
      </td>
      <td name="Tiempo de dosificacion Lunes 1er T."></td>
      <td name="Tiempo de dosificacion Lunes 2do T."></td>
      <td name="Tiempo de dosificacion Martes 1er T."></td>
      <td name="Tiempo de dosificacion Martes 2do T."></td>
      <td name="Tiempo de dosificacion Miercoles 1er T."></td>
      <td name="Tiempo de dosificacion Miercoles 2do T."></td>
      <td name="Tiempo de dosificacion Jueves 1er T."></td>
      <td name="Tiempo de dosificacion Jueves 2do T."></td>
      <td name="Tiempo de dosificacion Viernes 1er T."></td>
      <td name="Tiempo de dosificacion Viernes 2do T."></td>
      <td name="Tiempo de dosificacion Sabado 1er T."></td>
      <td name="Tiempo de dosificacion Sabado 2do T."></td>
      <td name="Tiempo de dosificacion Domingo 1er T."></td>
      <td name="Tiempo de dosificacion Domingo 2do T."></td>
    </tr>
    <tr>
      <td class="fv" colspan="4">
        CONDICIONES ESPECIALES
      </td>
      <td colspan="14"></td>
    </tr>
    <tr>
      <td class="fv" colspan="2">Fuerza de cierre</td>
      <td>
        <input type="text" name="SET Fuerza de cierre" class="no-border-input none"  />
      </td>
      <td>
        <input type="text" name="Tolerancia Fuerza de cierre" class="no-border-input none"  />
      </td>
      <td name="Fuerza de cierre Lunes 1er T."></td>
      <td name="Fuerza de cierre Lunes 2do T."></td>
      <td name="Fuerza de cierre Martes 1er T."></td>
      <td name="Fuerza de cierre Martes 2do T."></td>
      <td name="Fuerza de cierre Miercoles 1er T."></td>
      <td name="Fuerza de cierre Miercoles 2do T."></td>
      <td name="Fuerza de cierre Jueves 1er T."></td>
      <td name="Fuerza de cierre Jueves 2do T."></td>
      <td name="Fuerza de cierre Viernes 1er T."></td>
      <td name="Fuerza de cierre Viernes 2do T."></td>
      <td name="Fuerza de cierre Sabado 1er T."></td>
      <td name="Fuerza de cierre Sabado 2do T."></td>
      <td name="Fuerza de cierre Domingo 1er T."></td>
      <td name="Fuerza de cierre Domingo 2do T."></td>
    </tr>
    <tr>
      <td class="fv" colspan="3">Presenta fuga de nariz</td>
      <td> SI /  NO
        <input type="text" name="Tolerancia Presenta fuga de nariz" class="no-border-input none"  />
      </td>
      <td name="Presenta fuga de nariz Lunes 1er T."></td>
      <td name="Presenta fuga de nariz Lunes 2do T."></td>
      <td name="Presenta fuga de nariz Martes 1er T."></td>
      <td name="Presenta fuga de nariz Martes 2do T."></td>
      <td name="Presenta fuga de nariz Miercoles 1er T."></td>
      <td name="Presenta fuga de nariz Miercoles 2do T."></td>
      <td name="Presenta fuga de nariz Jueves 1er T."></td>
      <td name="Presenta fuga de nariz Jueves 2do T."></td>
      <td name="Presenta fuga de nariz Viernes 1er T."></td>
      <td name="Presenta fuga de nariz Viernes 2do T."></td>
      <td name="Presenta fuga de nariz Sabado 1er T."></td>
      <td name="Presenta fuga de nariz Sabado 2do T."></td>
      <td name="Presenta fuga de nariz Domingo 1er T."></td>
      <td name="Presenta fuga de nariz Domingo 2do T."></td>

    </tr>
    <tr>
      <td class="fv" colspan="3">
        Segrega disparos de tabla de calidad y no hay 
      acumulacion de piezas en mesa de descarga del robot
      </td>
      <td> SI / NO
        <input type="text" name="Tolerancia Segrega disparos de tabla de calidad y no hay acumulacion de piezas en mesa de descarga del robot" class="no-border-input none"  />
      </td>
      <td name="Segrega disparos de tabla de calidad y no hay acumulacion de piezas en mesa de descarga del robot Lunes 1er T."></td>
      <td name="Segrega disparos de tabla de calidad y no hay acumulacion de piezas en mesa de descarga del robot Lunes 2do T."></td>
      <td name="Segrega disparos de tabla de calidad y no hay acumulacion de piezas en mesa de descarga del robot Martes 1er T."></td>
      <td name="Segrega disparos de tabla de calidad y no hay acumulacion de piezas en mesa de descarga del robot Martes 2do T."></td>
      <td name="Segrega disparos de tabla de calidad y no hay acumulacion de piezas en mesa de descarga del robot Miercoles 1er T."></td>
      <td name="Segrega disparos de tabla de calidad y no hay acumulacion de piezas en mesa de descarga del robot Miercoles 2do T."></td>
      <td name="Segrega disparos de tabla de calidad y no hay acumulacion de piezas en mesa de descarga del robot Jueves 1er T."></td>
      <td name="Segrega disparos de tabla de calidad y no hay acumulacion de piezas en mesa de descarga del robot Jueves 2do T."></td>
      <td name="Segrega disparos de tabla de calidad y no hay acumulacion de piezas en mesa de descarga del robot Viernes 1er T."></td>
      <td name="Segrega disparos de tabla de calidad y no hay acumulacion de piezas en mesa de descarga del robot Viernes 2do T."></td>
      <td name="Segrega disparos de tabla de calidad y no hay acumulacion de piezas en mesa de descarga del robot Sabado 1er T."></td>
      <td name="Segrega disparos de tabla de calidad y no hay acumulacion de piezas en mesa de descarga del robot Sabado 2do T."></td>
      <td name="Segrega disparos de tabla de calidad y no hay acumulacion de piezas en mesa de descarga del robot Domingo 1er T."></td>
      <td name="Segrega disparos de tabla de calidad y no hay acumulacion de piezas en mesa de descarga del robot Domingo 2do T."></td>

    </tr>
    <tr>
      <td class="fv" class="none" colspan="4">NOMBRE DEL TECNICO:</td>
      <td class="none" colspan="14"></td>
    </tr>
  </table>
    NOTA: EN CASO DE ENCONTRAR VALORES FUERA DE 
        TOLERANCIA REPORTAR A SUPERVISOR DE PRODUCCIÓN 
        Y CALIDAD PARA HACER CONTENCIÓN DEL MATERIAL PARA REVISIÓN. 

    </div>