.custom-select {
    position: relative;
    width: 400px; /* Cambia el ancho según tus necesidades */
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}
.label 
{
    margin: 8px;
}
.select-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.select-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    background-color: white;
    z-index: 1000; /* Asegúrate de que el dropdown esté por encima de otros elementos */
}

.select-option {
    padding: 10px;
    cursor: pointer;
}

.select-option:hover {
    background-color: #f0f0f0; /* Cambia el color al pasar el mouse */
}
