@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

html, body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
}

.login-container {
    display: flex;
    height: 100vh;
}

.login-left, .login-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.login-left {
    flex-direction: column;
    background-color: #f5f5f5;
    min-width: 400px;
    position: relative; /* Necesario para posicionar el logo */
    padding-top: 100px;
}

.logo {
    position: absolute;
    top: 20px;  /* Ajusta según la distancia desde la parte superior */
    left: 50%;  /* Centra horizontalmente el logo dentro de login-left */
    transform: translateX(-50%);  /* Compensa el desplazamiento del logo para centrarlo completamente */
    width: 50%;  /* Ajusta el ancho al 50% del contenedor para hacerlo responsive */
    max-width: 200px; /* Limita el tamaño máximo a 200px */
    height: auto; /* Mantiene la proporción de la imagen */
}

.screen {		
    background: linear-gradient(90deg, #bababa, #bababa);		
    position: relative;	
    height: 550px;
    width: 420px; /* Aumentar el ancho para mayor comodidad */
    box-shadow: 0px 0px 24px #005792;
}

.screen__content {
    z-index: 1;
    position: relative;	
    height: 100%;
}

.screen__background {		
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
    transform: rotate(45deg);
    position: absolute;
}

.screen__background__shape1 {
    height: 520px;
    width: 520px;
    background: #FFF;	
    top: -50px;
    right: 120px;	
    border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
    height: 220px;
    width: 220px;
    background:#FC9036; 	
    top: -172px;
    right: 0;	
    border-radius: 32px;
}

.screen__background__shape3 {
    height: 540px;
    width: 190px;
    background: linear-gradient(270deg, #acacaa, #a0a0a0);
    top: -24px;
    right: 0;	
    border-radius: 32px;
}

.screen__background__shape4 {
    height: 190px;
    width: 180px;
    background: #FC9036; 	
    top: 415px;
    right: 1px;	
    border-radius:32px;
}

.login {
    width: 320px;
    padding: 30px;
    padding-top: 156px;
}

.login__field {
    padding: 20px 0px;	
    position: relative;	
}

.login__icon {
    position: absolute;
    top: 30px;
    color: #fc933d;
}

.login__input {
    border: none;
    border-bottom: 2px solid #D1D1D4;
    background: none;
    padding: 10px;
    padding-left: 24px;
    font-weight: 700;
    width: 100%; /* Permitir que el input se extienda al 100% del contenedor */
    transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
    outline: none;
    border-bottom-color: #005792;
}

.login__submit {
    background: #fff;
    font-size: 16px;
    margin-top: 30px;
    padding: 16px 20px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    width: 100%; /* Asegurar que el botón ocupe todo el espacio disponible */
    color: #005792;
    box-shadow: 0px 2px 2px #005792;
    cursor: pointer;
    transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
    border-color: #005792;
    outline: none;
}

.button__icon {
    font-size: 24px;
    margin-left: auto;
    color: #005792;
}

.social-login {	
    position: absolute;
    height: 100px;
    width: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    right: 0px;
    color: #fff;
}

.h_spcm {
    font-weight: bold;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-login__icon {
    padding: 20px 10px;
    color: #fff;
    text-decoration: none;	
    text-shadow: 0px 0px 8px #7875B5;
}

.social-login__icon:hover {
    transform: scale(1.5);
}

header {
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 10px 0;
    background-color: #005792;
    color: #ffffff;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
}

.login-right {
    background-image: url(../../assets/images/Thset3.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
}
