<app-sidebar></app-sidebar>
<div class="container">
    <h2>Menu</h2>

    <div class="product-selector">

      <label for="product-select">Selecciona un producto:</label>
      <input
      class="inputt"
      type="text"
      id="product-select"
      [(ngModel)]="searchTerm"
      (input)="filterProducts()"
      placeholder="Buscar o seleccionar producto"
      (focus)="showOptions = true"
      (blur)="hideOptions()"
    />
  
    
    <ul *ngIf="showOptions" class="options-list">
      <li
        *ngFor="let producto of filteredProducts"
        (mousedown)="selectProduct(producto)"
      >
        {{ producto.producto }} - {{ producto.descripcion }}
      </li>
    </ul>

    </div>
  
    <div class="buttons">
      <button class="btn-create" (click)="crearNuevaHoja()">Crear nueva Hoja</button>
      <!-- <button class="btn-checklist">Consultar</button> -->
      
      <button class="btn-export" (click)="modificarHoja()">Modificar Hoja</button>
    </div>
</div>
