<app-sidebar></app-sidebar>
<div class="container">
    <h2>Dashboard</h2>

    <div class="product-selector">
      <label for="product-select">Selecciona un producto:</label>
      <select id="product-select">
        <option *ngFor="let producto of productos" [value]="producto.id">
          {{ producto.producto }} - {{ producto.descripcion }}
        </option>
      </select>
    </div>
  
    <div class="buttons">
      <button class="btn-create">Crear nueva Hoja</button>
      <button class="btn-checklist">Consultar</button>
      <button class="btn-export">Exportar Reporte</button>
    </div>
</div>
