<table cellspacing="0" cellpadding="5">
    <thead>
      <tr>
        <th>Fecha/Hora</th>
        <th>Autor</th>
        <th>Parametro Cambiado</th>
        <th>Motivo</th>
        <th>Resultado</th>
        <th>T Ciclo</th>
        <th>Comentarios</th>
      </tr>
    </thead>
    <tbody>
      <th style="height: 95px" rowspan="3"></th>
      <th rowspan="3"></th>
      <th rowspan="3"></th>
      <th rowspan="3"></th>
      <th rowspan="3"></th>
      <th rowspan="3"></th>
      <th rowspan="3"></th>
    </tbody>
  </table>