
<app-sidebar></app-sidebar>

<div style="margin-left: 60px; text-align: center; justify-content:center; align-items:center;">
  <app-toolbar
  (optionSelected)="onOptionSelected($event)"
  [report]="report"
  [formato]="formato ?? ''"
  >
  </app-toolbar>

  <app-spiner [loading]="loading"
  [message] = "message"
  ></app-spiner>

  <div style="overflow-x:auto">
  <div  id="content" >

    <div [class.disabled]="ver" *ngIf="currentContainer == 0 || currentContainer == -1" #container0 class="container">

    
      <div>

       <app-header-1217
       [cliente]="productoSeleccionado?.codigo_cliente ?? ''"
       [producto]="productoSeleccionado?.producto ?? null"
       [maquina] = "maquina"
       [Num_Cav_th]="Producto_Maquina?.Cadence_theo ?? null"
       [Num_Cav_real]="Producto_Maquina?.Cadencia ?? null"
        [Molde]="Producto_Maquina?.Utillaje ?? null"
        [Resina]="productoSeleccionado?.resina_1 ?? null"
        [Fecha]=" Fecha"
        [Producto_Maquina]="Producto_Maquina?.Centro_trabajo_ppal ?? null"
        [estado]="estado"
        [Arch_Disq]="fp1217.Arch_Disq"
        [Porc_pigmento]="fp1217.Porc_pigmento"
        (cambioValores)="actualizar($event)"
       >
       </app-header-1217>
      </div>
      <table>
        <tr>
          <th class="fv" colspan="2">CREADO POR:</th>
          <th colspan="2">
            <!-- <input
              type="text"
              class="no-border-input"
              name="CREADO POR"
              placeholder="{{user?.nombre}} {{user?.apellido_paterno}}"
              style="width: 100%; border: none"
            /> -->
            {{user?.nombre}} {{user?.apellido_paterno}} {{user?.apellido_materno}}
          </th>
          <th  class="fv" colspan="2">EDITADO POR:</th>
          <th colspan="2">
            <input
              type="text"
              class="no-border-input"
              [(ngModel)]="fp1217.editado_por"
              name="EDITADO POR"
              placeholder="{{user?.nombre}} {{user?.apellido_paterno}}"
              style="width: 100%; border: none"
            />
          </th>
        </tr>
      </table>

      <table class="styled-table">
        <thead>
          <tr>
            <th style="padding: 10px;" colspan="9">Grupo de Inyección</th>
            
          </tr>
        </thead>
        <tbody>
            <th style="padding: 10px;" colspan="3">Grupo de Inyección</th>
            
          </tbody>
        </table>
      

      <app-footer3></app-footer3>

    </div>
  
  </div>
  
 

  
   <div class="button-container" >
    <div *ngIf="containers.length > 1">
    <button class="nav-button" (click)="prevContainer()" [disabled]="currentContainer === 0">
      &#8592; 
    </button>
  
    <button  *ngFor="let page of containers; let i = index" class="page-button" (click)="goToContainer(i)">
      {{ i + 1 }}
    </button>
  
    <button  class="nav-button" (click)="nextContainer()" [disabled]="currentContainer === containers.length - 1">
      &#8594; 
    </button>

    </div>

    <a *ngIf="ver" href="/reportes" class="save-button">Regresar</a>

    <div *ngIf="!ver" style="display:flex;  ">
      <button class="save-button" (click)="downloadPDF(true)">Guardar</button>
      <button class="save-button" (click)="downloadPDF(false)">Vista Previa</button>
    
    </div>

  </div>
  
  
  <div class="modal" *ngIf="isModalOpen && imagePreviewUrl">
    <span class="close-button" (click)="closeModal()">&times;</span>
    <div class="modal-content">
      
      <iframe [src]="imagePreviewUrl" width="100%" height="600px"></iframe>
    </div>
  </div>

   </div>
