
<app-sidebar></app-sidebar>

<div style="margin-left: 60px; text-align: center; justify-content:center; align-items:center;">
  <app-toolbar
  (optionSelected)="onOptionSelected($event)"
  [report]="report"
  [formato]="formato ?? ''"
  >
  </app-toolbar>

  <app-spiner [loading]="loading"
  [message] = "message"
  ></app-spiner>

  <div style="overflow-x:auto">
  <div  id="content" >

    <div [class.disabled]="ver" *ngIf="currentContainer == 0 || currentContainer == -1" #container0 class="container">

    
      <div>

       <app-header-1217
       [cliente]="productoSeleccionado?.codigo_cliente ?? ''"
       [producto]="productoSeleccionado?.producto ?? null"
       [maquina] = "maquina"
       [Num_Cav_th]="Producto_Maquina?.Cadence_theo ?? null"
       [Num_Cav_real]="Producto_Maquina?.Cadencia ?? null"
        [Molde]="Producto_Maquina?.Utillaje ?? null"
        [Resina]="productoSeleccionado?.resina_1 ?? null"
        [Fecha]=" Fecha"
        [Producto_Maquina]="Producto_Maquina?.Centro_trabajo_ppal ?? null"
        [estado]="estado"
        [Arch_Disq]="fp1217.Arch_Disq"
        [Porc_pigmento]="fp1217.Porc_pigmento"
        (cambioValores)="actualizar($event)"
       >
       </app-header-1217>
      </div>
      <table>
        <tr>
          <th class="fv" colspan="2">CREADO POR:</th>
          <th colspan="2">
            <!-- <input
              type="text"
              class="no-border-input"
              name="CREADO POR"
              placeholder="{{user?.nombre}} {{user?.apellido_paterno}}"
              style="width: 100%; border: none"
            /> -->
            {{user?.nombre}} {{user?.apellido_paterno}} {{user?.apellido_materno}}
          </th>
          <th  class="fv" colspan="2">EDITADO POR:</th>
          <th colspan="2">
            <input
              type="text"
              class="no-border-input"
              [(ngModel)]="fp1217.editado_por"
              name="EDITADO POR"
              placeholder="{{user?.nombre}} {{user?.apellido_paterno}}"
              style="width: 100%; border: none"
            />
          </th>
        </tr>
      </table>

      <table style="margin-top: 10px;" >
        <thead>
          <tr>
            <th style="padding: 10px;" colspan="9">Grupo de Inyección</th>
            
          </tr>
        </thead>
  
        </table>
      <div style="display: flex;">
        <!-- grupo de inyeccion -->
        <table>
          <thead>
            <th style="padding: 10px;" colspan="3">Grupo de Inyección</th>
          </thead>
          <tbody>
            <tr>
              <th class="none"  colspan="3">
                Colocar presión
              </th>
            
            </tr>
            <tr>
              <th class="none fv" style="display: flex;">Velocidad de avance 
                <input
                  type="number"
                  class="no-border-input"
                  [(ngModel)]="fp1217.Velocidad_avance"
                  name="Velocidad de avance"
           
                  style="width: 80%;"
                /> mm/s
              </th>
            </tr>
            <tr>
              <th class="none fv" style="display: flex;">Velocidad de colocacion
                <input
                  type="number"
                  class="no-border-input"
                  [(ngModel)]="fp1217.Velocidad_colocacion"
                  name="Velocidad_colocacion"
               
                  style="width: 80%;"
                /> mm/s
            </tr>
            <tr>
              <th class="none fv" style="display: flex;">Fuerza de Apoyo
                <input
                  type="number"
                  class="no-border-input"
                  [(ngModel)]="fp1217.Fuerza_Apoyo"
                  name="Fuerza de Apoyo"
                  
                  style="width: 80%;"
                /> kN
            </tr>
            <tr>
            <th class="none"  colspan="3">
              Retirada
            </th>
            <tr class="none fv" style="display: flex;">Posicion
              <input
                type="number"
                class="no-border-input"
                [(ngModel)]="fp1217.posicion"
                name="posicion"
               
                style="width: 80%;"
              /> mm
            
          </tr>
          <tr class="none fv" style="display: flex;">Velocidad
            <input
              type="number"
              class="no-border-input"
              [(ngModel)]="fp1217.velocidad"
              name="velocidad"
            
              style="width: 80%;"
            /> mm/s
          
        </tr>
          
          </tbody>
        </table>
        <!-- grupo de inyeccion -->
         <table>
          <thead>
            <th style="padding: 10px;" colspan="20">Inyección</th>
          </thead>
          <tbody>
            <tr>
              <th class="none"  colspan="4">
                Perfil de Inyeccion
              </th>
              <th colspan="5" class="none">
                Vigilancia presion de Inyeccion
              </th>
            </tr>
            <tr>
              <th class="none"></th>
              <th>s[mm]</th>
              <th>v[mm/s]</th>
              <th class="none" rowspan="8"></th>
              <th></th>
              <th colspan="1" >s [mm]</th>
              <th colspan="1">t [s]</th>
              <th>p [bar]</th>
              <th></th>
            </tr>
            <tr>
              <th class="none">1</th>
              <th><input
                type="number"
              class="no-border-input"
              [(ngModel)]="fp1217.inyeccion1s"
              name="inyeccion1s"
              
              style="width: 80%;"
                >
              </th>
              <th><input
                type="number"
              class="no-border-input"
              [(ngModel)]="fp1217.inyeccion1v"
              name="inyeccion1v"
            
              style="width: 80%;"
                >
              </th>
              <td>1</td>
              <td>
                <input
                  type="number"
                  class="no-border-input"
                 [(ngModel)]="fp1217.s1"
                  name="s1"
                 
                  style="width: 80%;"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="no-border-input"
                 [(ngModel)]="fp1217.t1"
                  name="t1"
                  
                  style="width: 80%;"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="no-border-input"
                 [(ngModel)]="fp1217.p1"
                  name="p1"
                 
                  style="width: 80%;"
                />
              </td>
            </tr>
            <tr>
              <th class="none">2</th>
              <th><input
                type="number"
              class="no-border-input"
              [(ngModel)]="fp1217.inyeccion2s"
              name="inyeccion2s"
             
              style="width: 80%;"
                >
              </th>
              <th><input
                type="number"
              class="no-border-input"
              [(ngModel)]="fp1217.inyeccion2v"
              name="inyeccion2v"
              
              style="width: 80%;"
                >
              </th>

              <td>2</td>
              <td>
                <input
                  type="number"
                  class="no-border-input"
                 [(ngModel)]="fp1217.s2"
                  name="s2"
                  
                  style="width: 80%;"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="no-border-input"
                 [(ngModel)]="fp1217.t2"
                  name="t2"
                  
                  style="width: 80%;"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="no-border-input"
                 [(ngModel)]="fp1217.p2"
                  name="p2"
                  
                  style="width: 80%;"
                />
              </td>
            </tr>
            <tr>
              <th class="none">3</th>
              <th><input
                type="number"
              class="no-border-input"
              [(ngModel)]="fp1217.inyeccion3s"
              name="inyeccion3s"
              
              style="width: 80%;"
                >
              </th>
              <th><input
                type="number"
              class="no-border-input"
              [(ngModel)]="fp1217.inyeccion3v"
              name="inyeccion3v"
             
              style="width: 80%;"
                >
              </th>

              <td>3</td>
              <td>
                <input
                  type="number"
                  class="no-border-input"
                 [(ngModel)]="fp1217.s3"
                  name="s3"
                
                  style="width: 80%;"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="no-border-input"
                 [(ngModel)]="fp1217.t3"
                  name="t3"
                 
                  style="width: 80%;"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="no-border-input"
                 [(ngModel)]="fp1217.p3"
                  name="p3"
               
                  style="width: 80%;"
                />
              </td>

            </tr>
            <tr>
              <th class="none">4</th>
              <th><input
                type="number"
              class="no-border-input"
              [(ngModel)]="fp1217.inyeccion4s"
              name="inyeccion2s"
              value="fp1217.inyeccion4s"
              style="width: 80%;"
                >
              </th>
              <th><input
                type="number"
              class="no-border-input"
              [(ngModel)]="fp1217.inyeccion4v"
              name="inyeccion4v"
              value="fp1217.inyeccion4v"
              style="width: 80%;"
                >
              </th>

              <td>4</td>
              <td>
                <input
                  type="number"
                  class="no-border-input"
                 [(ngModel)]="fp1217.s4"
                  name="s4"
                  
                  style="width: 80%;"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="no-border-input"
                 [(ngModel)]="fp1217.t4"
                  name="t4"
                 placeholder="0"
                  style="width: 80%;"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="no-border-input"
                 [(ngModel)]="fp1217.p4"
                  name="p4"
                  placeholder="0"
                  style="width: 80%;"
                />
              </td>

            </tr>
            <tr>
              <th class="none">5</th>
              <th><input
                type="number"
              class="no-border-input"
              [(ngModel)]="fp1217.inyeccion5s"
              name="inyeccion5s"
              placeholder="0"
              style="width: 80%;"
                >
              </th>
              <th><input
                type="number"
              class="no-border-input"
              [(ngModel)]="fp1217.inyeccion5v"
              name="inyeccion5v"
              placeholder="0"
              style="width: 80%;"
                >
              </th>
              <th class="none" colspan="5"></th>
              
            </tr>
            
            <tr >
              <th colspan="4" rowspan="2" class="none"></th>
            </tr>
            <tr>
            <th  class="fv none" colspan="5" >v/p switchover release pos.
             
                <input
                  type="number"
                  class="no-border-input"
                  [(ngModel)]="fp1217.v_p_switchover_release_pos"
                  name="v_p_switchover_release_pos"
                  placeholder="0"
                  style="width: 30%; height: 100%;"
                /> mm
              
              </th>

            </tr>
            </tbody>
         </table>
         <table>
          <thead>
            <th style="padding: 10px;" colspan="18">Dosificacion</th>
          </thead>
          <tbody>
            <tr>
            <th colspan="6">
              Retroceso
            </th>
            <th colspan="6">
              Perfil de dosificacion
            </th>
            <th colspan="6">Retroceso</th>
          </tr>
          <tr>
            <td></td>
            <td colspan="2">[mm]</td>
            <td colspan="4"></td>
            <td>s[mm]</td>
            <td>p[bar]</td>
            <td colspan="3"></td>
            <td>[mm]</td>

          </tr>
          <tr>
            <td></td>
            <td colspan="5"><input
              type="number"
                  class="no-border-input"
                  [(ngModel)]="fp1217.retrocesomm1"
                  name="retrocesomm1"
                  placeholder="0"
                  style="width: 80%; height: 100%;"
              >
            </td>
            <td>1</td>
            <td>
              <input
              type="number"
              class="no-border-input"
              [(ngModel)]="fp1217.s1_dosificacion"
              name="s1_dosificacion"
              placeholder="0"
              style="width: 80%; height: 100%;"
              >
            </td>
            <td>
              <input
              type="number"
              class="no-border-input"
              [(ngModel)]="fp1217.p1_dosificacion"
              name="p1_dosificacion"
              placeholder="0"
              style="width: 80%; height: 100%;"
              >
            </td>
            <td colspan="3"></td>
            <td>
              <input
              type="number"
              class="no-border-input"
              [(ngModel)]="fp1217.retromm"
              name="retromm"
              placeholder="0"
              style="width: 80%; height: 100%;"
              >
            </td>
          </tr>
          <tr>
            <td></td>
            <td>mm/s</td>
            <td colspan="10">#</td>
            <td>mm/s</td>
          </tr>
          <tr>
            <td rowspan="4"></td>
            <td colspan=""><input
              type="number"
                  class="no-border-input"
                  [(ngModel)]="fp1217.retrocesomm2"
                  name="retrocesomm2"
                  placeholder="0"
                  style="width: 80%; height: 100%;"
              >
            </td>
            <td colspan="10">Regimen de giro
             
            </td>
            <td>
              <input
              type="number"
              class="no-border-input"
              [(ngModel)]="fp1217.retromms"
              name="retromms"
              placeholder="0"
              style="width: 80%; height: 100%;"
              >
            </td>
          </tr>
          <tr>
            <td></td>
            <td  colspan="10"> <input
              type="number"
              class="no-border-input"
              [(ngModel)]="fp1217.regimen_giro"
              name="regimen_giro"
              placeholder="0"
              style="width: 60%; height: 100%;"
              > 1/min</td>
              <td></td>
          </tr>
          <tr>
            <td colspan="">Posicion relativa</td>
            <td colspan="10"></td>
            <td colspan="">Posicion relativa</td>
          </tr>
          <tr>
            <td>
              <input
              type="number"
              class="no-border-input"
              [(ngModel)]="fp1217.posicion_relativa"
              name="posicion_relativa"
              placeholder="0"
              style="width: 60%; height: 100%;"
              >
            </td>
            <td colspan="10"></td>
            <td>
              <input
              type="number"
              class="no-border-input"
              [(ngModel)]="fp1217.posicion_relativa2"
              name="posicion_relativa2"
              placeholder="0"
              style="width: 60%; height: 100%;"
              >
          </tr>
          <tr>
            <td class="none"></td>
          </tr>
          </tbody>
          <tr>
          </tr>
         </table>
      </div>
      <div style="display: flex;margin-top: 10px; margin-bottom:10px">
        <table>
          <tr>
            <th colspan="3">Tiempo de enfriamiento</th>
          </tr>
          <tr>
            <td>Esperar</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td>Tiempo de enfriamiento</td>
            <td>
              <input
                type="number"
                class="no-border-input"
                [(ngModel)]="fp1217.tiempoEnfriamiento"
                name="tiempoEnfriamiento"
                placeholder="3.0"
                style="width: 100%;"
              />
            </td>
            <td>s</td>
          </tr>
          <tr>
            <td>Uso</td>
            <td>
              <input
                type="number"
                class="no-border-input"
                [(ngModel)]="fp1217.tiempoEnfriamientouso"
                name="tiempoEnfriamientouso"
                placeholder="3.0"
                style="width: 100%;"
              />
            </td>
            <td></td>
          </tr>
        </table>
        
        <table border="1">
          <tr>
            <th colspan="3">Conmutación V/P</th>
          </tr>
          <tr>
            <td>Criterio conmutación</td>
            <td><input
              type="number"
              class="no-border-input"
              [(ngModel)]="fp1217.criterio_conmutacion"
              name="criterio_conmutacion"
              placeholder="1:Posicion"
              style="width: 100%;"
            /></td>
            <td></td>
          </tr>
          <tr>
            <td>Punto de inicio Determ. indice de flujo</td>
            <td>
              <input
                type="number"
                class="no-border-input"
                [(ngModel)]="fp1217.conmutacionVp_puntoInicio"
                name="puntoInicio"

                style="width: 100%;"
              />
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Punto final Determ. indice de flujo</td>
            <td>
              <input
                type="number"
                class="no-border-input"
                [(ngModel)]="fp1217.conmutacionVp_puntoFinal"
                name="puntoFinal"
                style="width: 100%;"
              />
            </td>
            <td></td>
          </tr>
          <tr>
            <td>Reacción vigilancia</td>
            <td>
              <input
              type="number"
              class="no-border-input"
              [(ngModel)]="fp1217.conmutacionVp_reaccionvigilancia"
              name="conmutacionVp_reaccionvigilancia"
              style="width: 80%;"
            />
            </td>
            <td></td>
          </tr>
        </table>

        <table border="1">
          <tr>
            <th colspan="3">Perfil presión mantenimiento</th>
          </tr>
          <tr>
            <td colspan="2">Presion al inicio Presion de mantenimiento</td>
            <td>
              <input
                type="number"
                class="no-border-input"
                [(ngModel)]="fp1217.presionMantenimiento_presionInicio"
                name="presionInicio"
            
                style="width: 100%;"
              />
          </tr>
          <tr>
            <td></td>
          </tr>
          <tr>
            <th></th>

            <th>t [s]</th>
            <th>p [bar]</th>
          </tr>
          <tr>
            <td>1</td>
            <td>
              <input
                type="number"
                class="no-border-input"
                [(ngModel)]="fp1217.presionMantenimiento_tiempo1"
                name="tiempo1"
                placeholder="0.4"
                style="width: 80%;"
              />
            </td>
            <td>
              <input
                type="number"
                class="no-border-input"
                [(ngModel)]="fp1217.presionMantenimiento_presion1"
                name="presion1"
                placeholder="800"
                style="width: 80%;"
              />
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>
              <input
                type="number"
                class="no-border-input"
                [(ngModel)]="fp1217.presionMantenimiento_tiempo2"
                name="tiempo2"
                placeholder="0.4"
                style="width: 80%;"
              />
            </td>
            <td>
              <input
                type="number"
                class="no-border-input"
                [(ngModel)]="fp1217.presionMantenimiento_presion2"
                name="presion2"
                placeholder="0"
                style="width: 80%;"
              />
            </td>
          </tr>
        </table>
        <table border="1">
          <tr>
            <th colspan="3">Vigilancia</th>
          </tr>
          <tr>
            <td>Colchón de material max. permitido</td>
            <td>
              <input
                type="number"
                class="no-border-input"
                [(ngModel)]="fp1217.vigilancia_colchonMax"
                name="colchonMax"
                placeholder="8"
                style="width: 80%;"
              />
            </td>
            <td>mm</td>
          </tr>
          <tr>
            <td>Colchón de material mín. permitido</td>
            <td>
              <input
                type="number"
                class="no-border-input"
                [(ngModel)]="fp1217.vigilancia_colchonMin"
                name="colchonMin"
                placeholder="2.0"
                style="width: 80%;"
              />
            </td>
            <td>mm</td>
          </tr>
          <tr>
            <td></td>
          </tr>
        </table>
      
      </div>
      <div style="display: flex;">
        
        <!-- unidad de cierre -->
        <table border="1" style="margin-top: 10px; margin-right: 5px; margin-bottom: 5px;">
          <tr>
            <th class="fv" colspan="11">Unidad de cierre</th>
          </tr>
          <tr>
            <th class="fv" colspan="6">Cerrar</th>
            <th class="fv" colspan="4">Abrir</th>
          </tr>
          <tr>
            <td class="none" colspan="6">Perfil de movimiento</td>
            <td rowspan="5" style="border-right:none ;"></td>
            <td class="none" colspan="4">Perfil de movimiento
          </tr>

          <tr>
            <th class="none"></th>
            <th class="none">s [mm]</th>
            <th class="none">v [%]</th>
            <th class="none" rowspan="4"></th>
            <th class="none" colspan="2"></th>
            <th></th>
            <th>s[mm]</th>
            <th>v[%]</th>
            <th class="none" rowspan="3"></th>
            
          </tr>
          <tr>
            <td class="none fv">1</td>
            <td>
              <input
                type="number"
                class="no-border-input"
                [(ngModel)]="fp1217.unidadCierreCerrar_mm1"
                name="mm1"
                placeholder="410"
                style="width: 80%;"
              />
            </td>
            <td>
              <input
                type="number"
                class="no-border-input"
                [(ngModel)]="fp1217.unidadCierreCerrar_v1"
                name="v1"
                placeholder="100"
                style="width: 80%;"
              />
            </td>
            
            <td>Movimiento con bloqueo</td>
            <td>
              <input
                type="text"
                class="no-border-input"
                [(ngModel)]="fp1217.movimientoconbloqueo"
                name="movimientoconbloqueo"
                placeholder="OK"
                style="width: 100%;">
            </td>
            <td>1</td>
            <td>
              <input
                type="number"
                class="no-border-input"
                [(ngModel)]="fp1217.abrir1s"
                name="abrir1s"
                placeholder="0"
                style="width: 80%;">
            </td>
            <td>
              <input
                type="number"
                class="no-border-input"
                [(ngModel)]="fp1217.abrir1v"
                name="abrir1v"
                placeholder="0"
                style="width: 80%;">
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>
              <input
                type="number"
                class="no-border-input"
                [(ngModel)]="fp1217.unidadCierreCerrar_mm2"
                name="mm2"
                placeholder="20"
                style="width: 80%;"
              />
            </td>
            <td>
              <input
                type="number"
                class="no-border-input"
                [(ngModel)]="fp1217.unidadCierreCerrar_v2"
                name="v2"
                placeholder="95"
                style="width: 80%;"
              />
            </td>
            
            <td>Protección del molde autodidacta</td>
            <td>
              <input
              type="text"
              class="no-border-input"
              [(ngModel)]="fp1217.proteccionMolde"
              name="proteccionMolde"
              placeholder="OK"
              style="width: 100%;">
              
            </td>
            <td>2</td>
            <td>
              <input
                type="number"
                class="no-border-input"
                [(ngModel)]="fp1217.abrir2s"
                name="abrir2s"
                placeholder="0"
                style="width: 80%;">
            </td>
            <td>
              <input
              type="number"
              class="no-border-input"
              [(ngModel)]="fp1217.abrir2v"
              name="abrir2v"
              placeholder="0"
              style="width: 80%;"
              >
            </td>

          </tr>
          <tr>
            <td>3</td>
            <td>
              <input
                type="number"
                class="no-border-input"
                [(ngModel)]="fp1217.unidadCierreCerrar_mm3"
                name="mm3"
                placeholder="0"
                style="width: 80%;"
              />
            </td>
            <td>
              <input
                type="number"
                class="no-border-input"
                [(ngModel)]="fp1217.unidadCierreCerrar_v3"
                name="v3"
                placeholder="35"
                style="width: 80%;"
              />
            </td>
            <td>F.Cierre</td>
            <td>
              <input
                type="number"
                class="no-border-input"
                [(ngModel)]="fp1217.fcierre"
                name="fcierre"
                placeholder="2550"
                style="width: 100%;">
          </tr>
        </table>
      
          <!-- Expulsor -->
          <table border="1" style="margin-top: 10px; margin-left: 5px; margin-bottom: 5px;">
            <tr>
              <th colspan="12">Expulsor</th>
            </tr>
            <tr>
              <th colspan="6">Avance</th>
              <th colspan="6">Retroceder</th>
            </tr>
            <tr>
              <td colspan="6">Perfil de Movimiento</td>
              <td colspan="4">Perfil de Movimiento</td>
            </tr>
            <tr>
              <td colspan="2"></td>

              <td>s [mm]</td>
              <td>v [%]</td>
              <td>F [%]</td>
              <td rowspan="3"></td>
              <td></td>
              <td>s [mm]</td>
              <td>v [%]</td>
              <td>F [%]</td>
            </tr>
            <tr>
              <td></td>
              <td>1</td>
              <td>
                <input
                  type="number"
                  class="no-border-input"
                  [(ngModel)]="fp1217.expulsor_avance_s"
                  name="avanceS"
                  placeholder="NA"
                  style="width: 80%;"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="no-border-input"
                  [(ngModel)]="fp1217.expulsor_avance_v"
                  name="avanceV"
                  placeholder="NA"
                  style="width: 80%;"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="no-border-input"
                  [(ngModel)]="fp1217.expulsor_avance_f"
                  name="avanceF"
                  placeholder="NA"
                  style="width: 80%;"
                />
              </td>
              <td>1</td>
              <td>
                <input
                  type="number"
                  class="no-border-input"
                  [(ngModel)]="fp1217.expulsor_retroceder_s"
                  name="retrocederS"
                  placeholder="NA"
                  style="width: 80%;"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="no-border-input"
                  [(ngModel)]="fp1217.expulsor_retroceder_v"
                  name="retrocederV"
                  placeholder="NA"
                  style="width: 80%;"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="no-border-input"
                  [(ngModel)]="fp1217.expulsor_retroceder_f"
                  name="retrocederF"
                  placeholder="NA"
                  style="width: 80%;"
                />
              </td>
              <td></td>
            </tr>
            <tr>
              <td></td>
            </tr>

          <!-- Secado de material -->       
            <tr>
              <td colspan="6" rowspan="3"></td>
              <td colspan="5">Secado de material.</td>
            </tr>
            <tr>
              <td></td>
              <td>
                <input
                  type="number"
                  class="no-border-input"
                  [(ngModel)]="fp1217.secadoMaterial_temperatura"
                  name="secadoTemperatura"
                  placeholder="80"
                  style="width: 80%;"
                />
              </td>
              <td>°C</td>
            </tr>
          </table>
      </div>
      <div  style="display: flex; margin-top: 10px; margin-bottom:10px">
       
          <!-- Temperaturas de plastificación -->
          <table border="1">
            <tr>
              <th colspan="11">Temperaturas de plastificación</th>
            </tr>
            <tr>
              <td style="height: 10px;" colspan="9" class="none"></td>
            </tr>
            <tr>
              <th class="none" rowspan="3"></th>
              <th class="none">Zona</th>
              <th>10</th>
              <th>13</th>
              <th>14</th>
              <th>15</th>
              <th>16</th>
              <th>17</th>
              <th>18</th>
              <th>20</th>
            </tr>
            <tr>
              <td class="none">Valor nominal THxxx [°C]</td>
              <td><input type="number" class="no-border-input" [(ngModel)]="fp1217.temperaturas_zona10" name="zona10" placeholder="230" style="width: 100%;" /></td>
              <td><input type="number" class="no-border-input" [(ngModel)]="fp1217.temperaturas_zona13" name="zona13" placeholder="230" style="width: 100%;" /></td>
              <td><input type="number" class="no-border-input" [(ngModel)]="fp1217.temperaturas_zona14" name="zona14" placeholder="230" style="width: 100%;" /></td>
              <td><input type="number" class="no-border-input" [(ngModel)]="fp1217.temperaturas_zona15" name="zona15" placeholder="230" style="width: 100%;" /></td>
              <td><input type="number" class="no-border-input" [(ngModel)]="fp1217.temperaturas_zona16" name="zona16" placeholder="230" style="width: 100%;" /></td>
              <td><input type="number" class="no-border-input" [(ngModel)]="fp1217.temperaturas_zona17" name="zona17" placeholder="230" style="width: 100%;" /></td>
              <td><input type="number" class="no-border-input" [(ngModel)]="fp1217.temperaturas_zona18" name="zona18" placeholder="230" style="width: 100%;" /></td>
              <td><input type="number" class="no-border-input" [(ngModel)]="fp1217.temperaturas_zona20" name="zona20" placeholder="80" style="width: 100%;" /></td>
             <td class="none"></td>
            </tr>
            <tr>
              <td colspan="10" style="height: 10px;" class="none"></td>
            </tr>
          </table>
          <table style="width: 60%;" border="1">
            <tr>
              <th class="fv" colspan="5">Temperaturas del Molde</th>
            </tr>
            <tr>
              <td class="none"></td>
            </tr>
            <tr>
              <th class="none fv">Zona</th>
              <th>401</th>
              <th>402</th>
            
            </tr>
            <tr>
              <td class="none">Valor [°C]</td>
              <td><input type="number" class="no-border-input" [(ngModel)]="fp1217.temperaturasMolde_zona401" name="zona401" placeholder="240" style="width: 80%;" /></td>
              <td><input type="number" class="no-border-input" [(ngModel)]="fp1217.temperaturasMolde_zona402" name="zona402" placeholder="245" style="width: 80%;" /></td>
              <td class="none" colspan="2"></td>
            </tr>
            <tr>
              <th class="fv" colspan="4">Enfriamiento Molde: 
                <input
                type="number"
                class="no-border-input"
                [(ngModel)]="fp1217.enfriamientoMolde"
                name="enfriamientoMolde"
                placeholder="12"
                style="width: 45%;"

                >
                °C</th>
            </tr>
            <tr>
              <td style="height: 10px;" class="none"></td>
            </tr>
          </table>
        
          <!-- Tiempos de Soplado -->
          <table style="width: 60%;" border="1">
            <tr>
              <th colspan="3">Tiempos de Soplado</th>
            </tr>
            <tr>
              <th style="height: 10px;" class="none"></th>
           
            </tr>
            <tr>
              <th class="none">Desmol fija 2</th>
            
              <td><input type="number"
                 class="no-border-input"
                  [(ngModel)]="fp1217.tiemposSoplado_desmolFija2"
                   name="desmolFija2" 
                   placeholder="0.5" style="width: 90%;" /> s </td>
            
            </tr>
            <tr>
              <th class="none">Desmol 1 PM 1</th>
              <td><input
              type="text" 
              class="no-border-input" 
              [(ngModel)]="fp1217.tiemposSoplado_tiempoNA" 
              name="tiempoNA" 
              placeholder="NA" style="width: 90%;" /> s </td>
              </tr>
              <tr>
                <td class="none" colspan="1"></td>
                <td>
                  <input
                  type="number"
                  class="no-border-input"
                  [(ngModel)]="fp1217.tiemposSoplado_tiempoNA"
                  name="tiempoNA2"
                  placeholder="NA"
                  style="width: 90%;"> s 
                </td>
              </tr>
          </table>
        
      </div>
      <div style="display: flex;">
        <table style="margin-top: 10px; margin-bottom:10px">
          <thead>
            <th colspan="10">Calidad del Proceso</th>
          </thead>
          <tbody>
            <tr>
              <th class="none"></th>
              <th class="none" colspan="1">Valor nominal</th>
              <th class="none" colspan="1">Tolerancia +/-</th>
              <th class="none"></th>
              <th class="none" colspan="1">Valor nominal</th>
              <th class="none" colspan="1">Tolerancia +/-</th>
              <th class="none"></th>
              <th class="none">Valor nominal</th>
              <th class="none">Tolerancia +/-</th>
              <th class="none"></th>
            </tr>
            <tr>
              <td class="none">Tiempo de dosificación</td>
              <td><input type="number" 
                class="no-border-input" 
                style="width: 100%;" [(ngModel)]="fp1217.calidadProceso_tiempoDosificacion_nominal" placeholder="3.7" /></td>
              <td><input type="number" class="no-border-input" 
                style="width: 100%;" [(ngModel)]="fp1217.calidadProceso_tiempoDosificacion_tolerancia" placeholder="1.0" /></td>
              
              <td class="none">Pto. de conmutación</td>
              <td><input type="number"class="no-border-input" 
                style="width: 100%;"[(ngModel)]="fp1217.calidadProceso_puntoConmutacion_nominal" placeholder="8.0" /></td>
              <td><input type="number" class="no-border-input" 
                style="width: 100%;" [(ngModel)]="fp1217.calidadProceso_puntoConmutacion_tolerancia" placeholder="0.5" /></td>
              
              <td class="none">Valor máximo PM_H</td>
              <td><input type="number" class="no-border-input" 
                style="width: 100%;" [(ngModel)]="fp1217.calidadProceso_valorMaxPMH_nominal" placeholder="1100" /></td>
              <td><input type="number" class="no-border-input" 
                style="width: 100%;" [(ngModel)]="fp1217.calidadProceso_valorMaxPMH_tolerancia" placeholder="300" /></td>
            </tr>
            <tr>
              <td class="none">Inicio de inyección</td>
              <td><input type="number" class="no-border-input" 
                style="width: 100%;" [(ngModel)]="fp1217.calidadProceso_inicioInyeccion_nominal" placeholder="65.0" /></td>
              <td><input type="number" class="no-border-input" 
                style="width: 100%;" [(ngModel)]="fp1217.calidadProceso_inicioInyeccion_tolerancia" placeholder="1.0" /></td>
              
              <td class="none">Colchón de material</td>
              <td><input type="number" class="no-border-input" 
                style="width: 100%;" [(ngModel)]="fp1217.calidadProceso_colchonMaterial_nominal" placeholder="4.0" /></td>
              <td><input type="number" class="no-border-input" 
                style="width: 100%;" [(ngModel)]="fp1217.calidadProceso_colchonMaterial_tolerancia" placeholder="0.5" /></td>
              
              <td class="none">Tiempo de ciclo</td>
              <td><input type="number"  class="no-border-input" 
                style="width: 100%;"[(ngModel)]="fp1217.calidadProceso_tiempoCiclo_nominal" placeholder="7.5" /></td>
              <td><input type="number"  class="no-border-input" 
                style="width: 100%;"[(ngModel)]="fp1217.calidadProceso_tiempoCiclo_tolerancia" placeholder="2.0" /></td>
            </tr>
            <tr>
              <td class="none">Tiempo de inyección</td>
              <td><input type="number" class="no-border-input" 
                style="width: 100%;"[(ngModel)]="fp1217.calidadProceso_tiempoInyeccion_nominal" placeholder="0.4" /></td>
              <td><input type="number" class="no-border-input" 
                style="width: 100%;" [(ngModel)]="fp1217.calidadProceso_tiempoInyeccion_tolerancia" placeholder="0.05" /></td>
              
              <td class="none">Valor máximo PM_I</td>
              <td><input type="number" class="no-border-input" 
                style="width: 100%;" [(ngModel)]="fp1217.calidadProceso_valorMaxPMI_nominal" placeholder="1550" /></td>
              <td><input type="number"  class="no-border-input" 
                style="width: 100%;"[(ngModel)]="fp1217.calidadProceso_valorMaxPMI_tolerancia" placeholder="400" /></td>
            </tr>
          </tbody>
        </table>

      </div>
      <div style="display: flex;">

          <!-- Información de la pieza y proceso -->
          <table border="1">
            <tr>
              <th
              class="none fv" colspan="">Nariz apoyada:</th>
              <td
              class="none"
               colspan=""><input type="text"
                class="no-border-input" 
                style="width: 100%;" 
                [(ngModel)]="fp1217.piezaInfo_narizApoyada"
                placeholder="SI" /></td>
                <td style="border-left:none;" rowspan="5">
                </td>
              <th
              class="none" colspan="">Tipo nariz:</th>
              <td
              class="none" colspan=""><input type="number" 
                class="no-border-input" 
                style="width: 100%;"
                [(ngModel)]="fp1217.piezaInfo_tipoNariz"
                 placeholder="Diseño especial" /></td>
                 <td style="border-left:none;" rowspan="5">
                </td>
              <th
              class="none fv">Diámetro nariz:</th>
              <td
              class="none"><input type="number" class="no-border-input" 
                style="width: 80%;"
                 [(ngModel)]="fp1217.piezaInfo_diametroNariz"
                  placeholder="7.5" /> mm</td>

                  <td style="border-left:none;" rowspan="5">
                  </td>

                <th class="none"
               colspan="">Programa robot:</th>
              <td
              class="none" colspan=""><input type="text" 
                class="no-border-input" 
                style="width: 100%;"[(ngModel)]="fp1217.piezaInfo_programaRobot" placeholder="DTP_1_2758" /></td>
              
            </tr>
            
            <tr>
              <th 
              class="none">Peso pieza:</th>
              <td
              class="none"><input type="number" class="no-border-input" 
                style="width: 100%;"
                 [(ngModel)]="fp1217.piezaInfo_pesoPieza" placeholder="143.93" /></td>
              <th
              class="none">Peso colada:</th>
              <td
              class="none"><input type="number" 
                class="no-border-input" 
                style="width: 100%;" [(ngModel)]="fp1217.piezaInfo_pesoColada" placeholder="0" /></td>
              <th class="none">Proceso:</th>
              <td class="none"><input type="text" 
                class="no-border-input" 
                style="width: 100%;" [(ngModel)]="fp1217.piezaInfo_proceso" placeholder="Automático" /></td>
              <th class="none fv">Núm. Disp. Segr:</th>
              <td class="none"><input type="number"
                class="no-border-input" 
                style="width: 100%;" [(ngModel)]="fp1217.piezaInfo_numDispSeg" placeholder="7" /></td>
            </tr>
            <tr>
              <th class="none fv">Tiempo de ciclo:</th>
              <td class="none"><input type="number" class="no-border-input" 
                style="width: 100%;"
                [(ngModel)]="fp1217.piezaInfo_tiempoCiclo" placeholder="7.5" /></td>
              <th class="none fv">Superv. Ciclo:</th>
              <td class="none"><input type="number" class="no-border-input" 
                style="width: 100%;"
                 [(ngModel)]="fp1217.piezaInfo_supervCiclo" placeholder="10" /></td>
              <th  class="none">Diám. Husillo:</th>
              <td class="none">
                <input
                type="number" 
                class="no-border-input" 
                style="width: 100%;" [(ngModel)]="fp1217.piezaInfo_diamHusillo" placeholder="62.00" /></td>
              <th class="none">Lote de resina:</th>
              <td class="none" colspan="3"><input type="text" 
                class="no-border-input" 
                style="width: 100%;"[(ngModel)]="fp1217.piezaInfo_loteResina" placeholder="CL50032953-10" /></td>
            </tr>
            <tr>
              <th
              class="none" colspan="8"></th>
              <th 
              class="none fv"
              >Lote de pigmento:</th>
              <td 
              class="none"
              colspan=""><input type="text" 
                class="no-border-input" 
                style="width: 100%;"[(ngModel)]="fp1217.piezaInfo_lotePigmento" placeholder="7007435-12" /></td>
            </tr>
            <tr>
              <td style="border-top:none ;" colspan="15"></td>
            </tr>
            <tr>
              <td class="none" colspan="10" style="text-align: center;">CUIDADO: Los cambios deben quedar registrados</td>
            </tr>
            <tr>
              <th class="none fv" style="text-align: left;"  colspan="10">Comentarios:
                <textarea
                class="no-border-input" 
                style="width: 100%;  height: 100px;" [(ngModel)]="fp1217.piezaInfo_comentarios" ></textarea>
              </th>
            </tr>
            <tr>
              <th class="none" colspan="6"></th>
              <th class="none"  colspan="2">Rate (Pzas x H): <input class="no-border-input" 
                style="width: 60%;" type="number" [(ngModel)]="fp1217.piezaInfo_rate" placeholder="" /></th>
            </tr>
          </table>
        
        
      </div>

      <app-footer3></app-footer3>

    </div>
  
  </div>
  
 

  
   <div class="button-container" >
    <div *ngIf="containers.length > 1">
    <button class="nav-button" (click)="prevContainer()" [disabled]="currentContainer === 0">
      &#8592; 
    </button>
  
    <button  *ngFor="let page of containers; let i = index" class="page-button" (click)="goToContainer(i)">
      {{ i + 1 }}
    </button>
  
    <button  class="nav-button" (click)="nextContainer()" [disabled]="currentContainer === containers.length - 1">
      &#8594; 
    </button>

    </div>

    <a *ngIf="ver" href="/reportes" class="save-button">Regresar</a>

    <div *ngIf="!ver" style="display:flex;  ">
      <button class="save-button" (click)="downloadPDF(true)">Guardar</button>
      <button class="save-button" (click)="downloadPDF(false)">Vista Previa</button>
    
    </div>

  </div>
  
  
  <div class="modal" *ngIf="isModalOpen && imagePreviewUrl">
    <span class="close-button" (click)="closeModal()">&times;</span>
    <div class="modal-content">
      
      <iframe [src]="imagePreviewUrl" width="100%" height="600px"></iframe>
    </div>
  </div>

   </div>
