<table>
    <tbody>
      <tr>
        <td class="fv" style="padding: 4px; border-bottom:none" colspan="11">
          Comentario: Revisar tolerancias en la hoja de "Checklist de
          Procesos". El parámetro de la BRIDA puede variar entre un rango
          de 20° y 100° C.
        </td>
      </tr>
      <tr>
        <td class="none fv" style="padding: 4px" colspan="11">
          CUIDADO: Los cambios deben quedar registrados
        </td>
      </tr>
      <tr>
        <td class="none fv" style="text-align: left; width: 70%" colspan="9" rowspan="3">
          Comentarios:
        </td>
        <td class="none fv">Secado min(Lts)</td>
        <td>
          <input
            type="text"
            class="no-border-input"
            name="Secado min(Lts)"
            style="width: 100%"
          />
        </td>
      </tr>
      <tr>
        <td class="none fv">Consumo(Lts x H)</td>
        <td>
          <input
            type="text"
            class="no-border-input"
            name="Consumo(Lts x H)"
            style="width: 100%"
          />
        </td>
      </tr>
      <tr>
        <td  class="none fv">Rate(Pzas x H)</td>
        <td >
          <input
            type="text"
            class="no-border-input"
            name="Temp. de Secado"
            style="width: 100%"
          />
        </td>
      </tr>
    </tbody>
  </table>
