<aside class="sidebar">
  <div class="logo">
    <img src="../../assets/images/CLAYENS_Mexico-Logo.png" alt="Logo de Clayens" class="logo-img">
  </div>
  <div class="user-info divv" (click)="navigateToUser()">
    <i class="fas fa-user-circle user-icon" style="color: #ffff"></i>
    <div class="user-details">
      <p class="user-name"> {{ user?.nombre }} {{ user?.apellido_paterno }}  {{ user?.apellido_materno }}</p>
      <p class="user-role">{{ user?.rol }}</p>
    </div>
  </div>
  <ul class="menu">
    <li class="menu-item "[class.active]="isActive('/Menu')" >
      <a href="/Menu">
        <i class="fas fa-home "></i>
        <span class="menu-text">Menu</span>
      </a>
    </li>
    <!-- <li class="menu-item">
      <a href="#">
        <i class="fas fa-box"></i>
        <span class="menu-text">Productos</span>
      </a>
    </li>  -->
    <li class="menu-item" [class.active]="isActive('/reportes')">
      <a href="/reportes">
        <i class="fas fa-file-alt"></i>
        <span class="menu-text">Reportes</span>
      </a>
    </li>
    <!-- <li class="menu-item">
      <a href="#">
        <i class="fas fa-cog"></i>
        <span class="menu-text">Configuración</span>
      </a>
    </li>-->
    <li class="menu-item" *ngIf="user?.rol === 'admin'" [class.active]="isActive('/users')">
      <a href="/users">
        <i class="fas fa-users"></i> 
        <span class="menu-text">Gestión de Usuarios</span>
      </a>
    </li> 
   
  </ul>
  <div class="logout-container">
    <button class="logout-btn" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i> 
    </button>
  </div>
  
</aside>
