/* Estilos básicos de la sidebar */
.sidebar {
  width: 60px; /* Sidebar colapsada */
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #2C3E50; /* Gris oscuro */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  position: fixed;
  transition: width 0.3s ease;
  overflow: hidden;
  z-index: 1000;
}

/* Sidebar expandida cuando se hace hover */
.sidebar:hover {
  width: 270px; /* Expansión de la sidebar */
}

/* Sección del usuario */
.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.user-icon {
  font-size: 45px; /* Tamaño del ícono */
  margin: 2px;
}

.user-details {
  text-align: center;
  opacity: 0; /* Ocultar detalles cuando esté colapsada */
  transition: opacity 0.3s ease;
}

.user-name {
  color: #ECF0F1; /* Blanco */
  font-size: 16px;
  font-weight: bold;
}

.user-role {
  color: #BDC3C7; /* Gris claro */
  font-size: 14px;
}

.sidebar:hover .user-details {
  opacity: 1; /* Mostrar detalles al expandir */
}

/* Menú */
.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.menu-item {
  width: 100%;
  margin: 10px 0;
}

.menu-item a {
  display: flex;
  align-items: center;
  padding: 15px;
  text-decoration: none;
  color: #ECF0F1; /* Blanco */
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.menu-item i {
  font-size: 25px;
  margin-right: 15px;
}

.menu-item .menu-text {
  opacity: 0; /* Ocultar el texto cuando esté colapsada */
  white-space: nowrap;
  transition: opacity 0.3s ease;
}

.sidebar:hover .menu-item .menu-text {
  opacity: 1; /* Mostrar el texto al expandir */
}

/* Elementos activos o con hover */
.menu-item.active a,
.menu-item a:hover {
  background-color: #F39C12; /* Naranja */
  color: #fff;
}

.menu-item.active i {
  color: #fff;
}

.menu-item a:hover .menu-text {
  color: #fff;
}

.sidebar:hover .menu-item i {
  color: #ff9f04; 
  text-shadow: #2C3E50 1px 1px 1px ;
}
.logo {
  display: flex;
  justify-content: center; /* Centra el logo horizontalmente */
  margin: 20px 0; /* Espaciado alrededor del logo */
}

.logo-img {
  max-width: 65%; /* Asegura que el logo no se desborde del contenedor */
  height: auto; /* Mantiene la proporción del logo */
}



.logout-container {
  margin-top: auto; /* Mueve el botón de logout al final de la sidebar */
  padding: 10px; /* Espaciado alrededor del botón */
}

.logout-btn {
  background-color: #FF5733; /* Color de fondo naranja */
  color: white; /* Texto en blanco */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  padding: 10px 10px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de la fuente */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

.logout-btn:hover {
  background-color: #C70039; /* Color de fondo más oscuro al pasar el ratón */
}
