
  <app-sidebar></app-sidebar>

  <div style="margin-left: 60px; text-align: center; justify-content:center; align-items:center;">
    <app-toolbar
    (optionSelected)="onOptionSelected($event)"
    [report]="report"
    [formato]="formato"
    >
    </app-toolbar>
    <app-spiner [loading]="loading"
    [message] = "message"
    ></app-spiner>
    <div style="overflow-x:auto">
    <div  id="content" >

      <div [class.disabled]="ver" *ngIf="currentContainer == 0 || currentContainer == -1" #container0 class="container">

        <h1 class="fv" style="font-size: large;" >Parámetros del proceso Krauss Maffei MC6</h1>
        <div>
        
        </div>
        <table>
          <tr>
            <th class="fv" colspan="2">CREADO POR:</th>
            <th colspan="2">
              <!-- <input
                type="text"
                class="no-border-input"
                name="CREADO POR"
                placeholder="{{user?.nombre}} {{user?.apellido_paterno}}"
                style="width: 100%; border: none"
              /> -->
              {{user?.nombre}} {{user?.apellido_paterno}} {{user?.apellido_materno}}
            </th>
            <th  class="fv" colspan="2">EDITADO POR:</th>
            <th colspan="2">
              <input
                type="text"
                class="no-border-input"
                [(ngModel)]="mc6.editado_por"
                name="EDITADO POR"
                placeholder="{{user?.nombre}} {{user?.apellido_paterno}}"
                style="width: 100%; border: none"
              />
            </th>
          </tr>
        </table>

        <table class="styled-table">
          <thead>
            <tr>
              <th style="padding: 10px;" colspan="13">INYECCIÓN</th>
              
              <th style="padding: 10px;" colspan="6"> SOSTENIMIENTO</th>
              
              <th style="padding: 10px;" colspan="6">CARGA</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="none" style="padding: 20px;"  colspan="13"> t.Supervision <input
                type="text"
                name="t.Supervision"
                style="width: 50%;"
                [(ngModel)]="mc6.t_Supervision"
              />  seg </td>
              <td  style="padding: 20px; border-bottom:none"  colspan="6"><input
                type="text"
                name="sostenimiento"
                [(ngModel)]="mc6.sostenimiento_mm"
                style="width: 50%;"
              /> mm </td>
              
              <td class="none" style="padding-top:21px; 
               padding-left:10px; padding-right:10px "> n° <input
                type="number"
                name="v carga"
                [(ngModel)]="mc6.carga_n_mm"
                style="width: 70%; height: 32px"
              /></td>
              <td class="none" style="padding-top:21px;">1/mm</td>
              <td class="none" colspan="4"  rowspan="2" style="width:10%"></td>
            </tr>
            <tr>
              <td class="none"></td>
              <td class="none">10</td>
              <td class="none">9</td>
              <td class="none">8</td>
              <td class="none">7</td>
              <td class="none">6</td>
              <td class="none">5</td>
              <td class="none">4</td>
              <td class="none">3</td>
              <td class="none">2</td>
              <td class="none">1</td>
              <td class="none "></td>
              <td class="none fv" colspan="1" rowspan="6"></td>

              <td class="fv" style="border-right: none; border-top:none" colspan="1" rowspan="6"></td>

              <td class="none" colspan="5"></td>
              <td class="" style="padding-bottom:15px; 
              border-right: none; border-top:none; border-bottom:none;
              padding-left:10px; 
              padding-right:10px "> P  <input
                type="number"
                name="p carga"
                style="width: 72%; height: 32px"
                [(ngModel)]="mc6.carga_p_bar"
              /></td>
              <td class="none" style="padding-bottom:15px;" >bar</td>
            
            
            </tr>
           
            </tbody>
          </table>
        


      </div>
      
    
    </div>
    
   

    
     <div class="button-container">
      <button class="nav-button" (click)="prevContainer()" [disabled]="currentContainer === 0">
        &#8592; 
      </button>
    
      <button  *ngFor="let page of containers; let i = index" class="page-button" (click)="goToContainer(i)">
        {{ i + 1 }}
      </button>
    
      <button  class="nav-button" (click)="nextContainer()" [disabled]="currentContainer === containers.length - 1">
        &#8594; 
      </button>
      <a *ngIf="ver" href="/reportes" class="save-button">Regresar</a>

      <div *ngIf="!ver" style="display:flex;  ">
        <button class="save-button" (click)="downloadPDF(true)">Guardar</button>
        <button class="save-button" (click)="downloadPDF(false)">Vista Previa</button>
      
      </div>

     
       
      

    </div>
    
    
    <div class="modal" *ngIf="isModalOpen && imagePreviewUrl">
      <span class="close-button" (click)="closeModal()">&times;</span>
      <div class="modal-content">
        
        <iframe [src]="imagePreviewUrl" width="100%" height="600px"></iframe>
      </div>
    </div>

     </div>
