
  <app-sidebar></app-sidebar>

  <div style="margin-left: 60px; text-align: center; justify-content:center; align-items:center;">
    <app-toolbar></app-toolbar>

    <div id="content" >
      <div *ngIf="currentContainer == 0 || currentContainer == -1" #container0 class="container">
        <h1 class="fv" style="font-size: large;" >Parámetros del proceso Krauss Maffei MC6</h1>
        <div>
          <table>
            <tr>
              <th rowspan="4">
                <img
                  src="../../assets/images/logo.png"
                  alt="Descripción de la imagen"
                  style="width: 120px; height: auto"
                />
              </th>
              <th class="fv" colspan="1">Cliente:</th>
              <th  name="cliente" colspan="1"> {{productoSeleccionado?.codigo_cliente}}</th>
              <th class="fv" colspan="1">Producto 1:</th>
              <th colspan="1">
                <input
                  type="text"
                  class="no-border-input"
                  name="producto1"
                  style="width: 100%; border: none"
                /> {{productoSeleccionado?.producto}}
              </th>
              <th class="fv" colspan="1">Num. Cav th 1:</th>
              <th colspan="1">
                <input
                  type="text"
                  class="no-border-input"
                  name="Num. Cav th 1"
                  style="width: 100%; border: none"
                />
              </th>
            </tr>
            <tr>
              <th class="fv" colspan="1">Maquina:</th>
              <th colspan="1">
                <input
                  type="text"
                  class="no-border-input"
                  name="Maquina"
                  style="width: 100%; border: none"
                />
              </th>
              <th class="fv" colspan="1">Producto 2:</th>
              <th colspan="1">
                <input
                  type="text"
                  class="no-border-input"
                  name="Producto2"
                  style="width: 100%; border: none"
                />
              </th>
              <th class="fv" colspan="1">Num. Cav real 1:</th>
              <th colspan="1">
                <input
                  type="text"
                  class="no-border-input"
                  name="Num. Cav real 1"
                  style="width: 100%; border: none"
                />
              </th>
            </tr>
            <tr>
              <th class="fv" colspan="1">Arch/Disq:</th>
              <th colspan="1">
                <input
                  type="text"
                  class="no-border-input"
                  name="Arch/Disq:"
                  style="width: 100%; border: none"
                />
              </th>
              <th class="fv" colspan="1">Molde:</th>
              <th colspan="1">
                <input
                  type="text"
                  class="no-border-input"
                  name="Molde"
                  style="width: 100%; border: none"
                />
              </th>
              <th class="fv" colspan="1">Num. Cav th 2:</th>
              <th colspan="1">
                <input
                  type="text"
                  class="no-border-input"
                  name="Num. Cav th 2"
                  style="width: 100%; border: none"
                />
              </th>
            </tr>
            <tr>
              <th class="fv" colspan="1">Fecha Rev:</th>
              <th colspan="1">
                <input
                  type="text"
                  class="no-border-input"
                  name="Fecha Rev"
                  style="width: 100%; border: none"
                />
              </th>
              <th class="fv" colspan="1">Resina:</th>
              <th colspan="1">
                <input
                  type="text"
                  class="no-border-input"
                  name="Resina"
                  style="width: 100%; border: none"
                />
              </th>
              <th class="fv" colspan="1">Num. Cav real 2:</th>
              <th colspan="1">
                <input
                  type="text"
                  class="no-border-input"
                  name="Num. Cav real 2"
                  style="width: 100%; border: none"
                />
              </th>
            </tr>
            <tr>
              <th class="fv" colspan="3" style="border-bottom: 1px solid white">
                REGISTRO DE PARAMETROS
              </th>
              <th class="fv" colspan="1" style="border-bottom: 1px solid white">
                Pigmento:
              </th>
              <th colspan="1" style="border-bottom: 1px solid white">
                <input
                  type="text"
                  class="no-border-input"
                  name="pigmento"
                  style="width: 100%; border: none"
                />
              </th>
              <th class="fv" colspan="1" style="border-bottom: 1px solid white">
                % de Pigmento:
              </th>
              <th colspan="1" style="border-bottom: 1px solid white">
                <input
                  type="text"
                  class="no-border-input"
                  name="% de pigmento"
                  style="width: 100%; border: none"
                />
              </th>
            </tr>
          </table>
        </div>
        <table>
          <tr>
            <th class="fv" colspan="2">CREADO POR:</th>
            <th colspan="2">
              <input
                type="text"
                class="no-border-input"
                name="CREADO POR"
                style="width: 100%; border: none"
              />
            </th>
            <th  class="fv" colspan="2">EDITADO POR:</th>
            <th colspan="2">
              <input
                type="text"
                class="no-border-input"
                name="EDITADO POR"
                style="width: 100%; border: none"
              />
            </th>
          </tr>
        </table>

        <table class="styled-table">
          <thead>
            <tr>
              <th style="padding: 10px;" colspan="13">INYECCIÓN</th>
              
              <th style="padding: 10px;" colspan="6"> SOSTENIMIENTO</th>
              
              <th style="padding: 10px;" colspan="6">CARGA</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="none" style="padding: 20px;"  colspan="13"> t.Supervision <input
                type="text"
                name="t.Supervision"
                style="width: 50%;"
              />  seg </td>
              <td  style="padding: 20px; border-bottom:none"  colspan="6"><input
                type="text"
                name="sostenimiento"
                style="width: 50%;"
              /> mm </td>
              
              <td class="none" style="padding-top:21px; 
               padding-left:10px; padding-right:10px "> n° <input
                type="number"
                name="v carga"
                style="width: 70%; height: 32px"
              /></td>
              <td class="none" style="padding-top:21px;">1/mm</td>
              <td class="none" colspan="4"  rowspan="2" style="width:10%"></td>
            </tr>
            <tr>
              <td class="none"></td>
              <td class="none">10</td>
              <td class="none">9</td>
              <td class="none">8</td>
              <td class="none">7</td>
              <td class="none">6</td>
              <td class="none">5</td>
              <td class="none">4</td>
              <td class="none">3</td>
              <td class="none">2</td>
              <td class="none">1</td>
              <td class="none "></td>
              <td class="none fv" colspan="1" rowspan="6"></td>

              <td class="fv" style="border-right: none; border-top:none" colspan="1" rowspan="6"></td>

              <td class="none" colspan="5"></td>
              <td class="" style="padding-bottom:15px; 
              border-right: none; border-top:none; border-bottom:none;
              padding-left:10px; 
              padding-right:10px "> P  <input
                type="number"
                name="p carga"
                style="width: 72%; height: 32px"
              /></td>
              <td class="none" style="padding-bottom:15px;" >bar</td>
            </tr>
            <tr>
              <td class="none"></td>
              <td><input
                type="number"
                class="no-border-input"
                name="10 v"
              /></td>
              <td> <input
                type="number"
                class="no-border-input"
                name="9v"
              /></td>
              <td> <input
                type="number"
                class="no-border-input"
                name="8v"
              /></td>
              <td> <input
                type="number"
                class="no-border-input"
                name="7v"
              /></td>
              <td> <input
                type="number"
                class="no-border-input"
                name="6v"
              /></td>
              <td> <input
                type="number"
                class="no-border-input"
                name="5v"
              /></td>
              <td> <input
                type="number"
                class="no-border-input"
                name="4v"
              /></td>
              <td> <input
                type="number"
                class="no-border-input"
                name="3v"
              /></td>
              <td> <input
                type="number"
                class="no-border-input"
                name="2v"
              /></td>
              <td> <input
                type="number"
                class="no-border-input"
                name="1v"
              /></td>
              <td class="none fv" > V(mm/s)</td>
              <td> <input
                type="number"
                class="no-border-input"
                name="sostenimiento bar"
              /></td>
              <td> <input
                type="number"
                class="no-border-input"
                name="sostenimiento bar"
              /></td>
              <td> <input
                type="number"
                class="no-border-input"
                name="sostenimiento bar"
              /></td>
              <td class="fv  none"> bar</td>
              <td style="border-left: none; border-top:none" rowspan="7"></td>
              <td class="none" style="padding-left:10px; padding-right:10px "> S <input
                type="number"
                name="s carga"
                style="width: 70%; height: 32px"
              /></td>
              <td class="none" colspan="1"></td>
              <td class="none" style="padding-left:5px; padding-right:5px ">  <input
                type="number"
                name="v carga"
                style="width: 80%; height: 32px"
              /></td>
              <td class="none"></td>
              <td class="none" style="padding-left:5px; padding-right:5px ">  <input
                type="number"
                name="v carga"
                style="width: 80%; height: 32px"
              /></td>
              <td class="none">mm</td>

            </tr>
            <tr>
              <td class="none"></td>
              <td><input
                type="number"
                class="no-border-input"
                name="10 p"
              /></td>
              <td> <input
                type="number"
                class="no-border-input"
                name="9p"
              /></td>
              <td> <input
                type="number"
                class="no-border-input"
                name="8p"
              /></td>
              <td> <input
                type="number"
                class="no-border-input"
                name="7p"
              /></td>
              <td> <input
                type="number"
                class="no-border-input"
                name="6p"
              /></td>
              <td> <input
                type="number"
                class="no-border-input"
                name="5p"
              /></td>
              <td> <input
                type="number"
                class="no-border-input"
                name="4p"
              /></td>
              <td> <input
                type="number"
                class="no-border-input"
                name="3p"
              /></td>
              <td> <input
                type="number"
                class="no-border-input"
                name="2p"
              /></td>
              <td> <input
                type="number"
                class="no-border-input"
                name="1p"
              /></td>
              <td class="none fv"> P(bar)</td>
              <td> <input
                type="number"
                class="no-border-input"
                name="sostenimiento seg"
              /></td>
              <td> <input
                type="number"
                class="no-border-input"
                name="sostenimiento seg"
              /></td>
              <td> <input
                type="number"
                class="no-border-input"
                name="sostenimiento seg"
              /></td>
              <td class="none">seg</td>
              <td class="none" style="padding-left:10px; padding-right:10px "> V <input
                type="number"
                name="v carga"
                style="width: 70%; height: 32px"
              /></td>
              <td class="none" colspan="3"></td>
              <td class="none" style="padding-left:5px; padding-right:5px ">  <input
                type="number"
                name="v carga"
                style="width: 80%; height: 32px"
              /></td>
              <td class="fv none">mm/s</td>
              </tr>
              <tr>
                <td class="none"></td>
                <td><input
                  type="number"
                  class="no-border-input"
                  name="10 s"
                /></td>
                <td> <input
                  type="number"
                  class="no-border-input"
                  name="9s"
                /></td>
                <td> <input
                  type="number"
                  class="no-border-input"
                  name="8s"
                /></td>
                <td> <input
                  type="number"
                  class="no-border-input"
                  name="7s"
                /></td>
                <td> <input
                  type="number"
                  class="no-border-input"
                  name="6s"
                /></td>
                <td> <input
                  type="number"
                  class="no-border-input"
                  name="5s"
                /></td>
                <td> <input
                  type="number"
                  class="no-border-input"
                  name="4s"
                /></td>
                <td> <input
                  type="number"
                  class="no-border-input"
                  name="3s"
                /></td>
                <td> <input
                  type="number"
                  class="no-border-input"
                  name="2s"
                /></td>
                <td> <input
                  type="number"
                  class="no-border-input"
                  name="1s"
                /></td>
                <td class="none" style="padding: 10px;">s(mm)</td>
                <td class="none" colspan="4"></td>
                <td class="none" colspan="6"></td>
              </tr>
              <tr>
                <td class="none" colspan="12"></td>
                <td class="none" style="padding: 15px;" colspan="2"> Niveles</td>
                <td class="none"><input
                  type="number"
                  name="Niveles"
                  style="width: 100%; height: 32px"></td>

                  <td class="none" colspan="3"></td>
                  <td class="none" style="padding: 12px;" colspan="3"> Niveles</td>
                  <td class="none"><input
                    type="number"
                    name="Niveles"
                    style="width: 100%; height: 32px"></td>
                    <td class="none fv" colspan="1">n°
                    </td>
                    

              </tr>
             
              <tr>
                <td class="none" colspan="2"></td>
                <td class="none">% de Llenado</td>
                <td class="none"><input
                  type="number"
                  name="v carga"
                  style="width: 100%; height: 32px"></td>
                  <td class="none"> % </td>
                  <td class="none" colspan="4"></td>
                  <td class="none" colspan="1">Niveles</td>
                  <td class="none"><input
                    type="number"
                    name="v carga"
                    style="width: 100%; height: 32px"></td>
                    <td class="none"></td>
                    <td class="none" colspan="2">t enfriamiento</td>
                    <td class="none"><input
                      type="number"
                      name="t enfriamiento"
                      style="width: 100%; height: 32px"></td>
                      <td class="none">seg</td>
                      <td class="none" colspan="1"></td>
                      <td class="none" style="padding: 10px;" colspan="3">Retardo de dosificacion</td>
                      <td class="none"><input
                        type="number"
                        name="retardo dosificacion"
                        style="width: 100%; height: 32px"></td>
                        <td class="none">s</td>

              </tr>
              
          </tbody>
        </table>

        <table style="margin-top:10px" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <th style="width: 50%; padding: 10px" colspan="13">TEMPERATURA DE BARRIL</th>
              <th colspan="13">TEMPERATURA DE MOLDE EN °C
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="none" colspan="1" rowspan="5"></td>
              <td class=" fv none">14</td>
              <td class="none fv">13</td>
              <td class="none fv">11</td>
              <td class="none fv">6</td>
              <td class="none fv">5</td>
              <td class="none fv">4</td>
              <td class="none fv">3</td>
              <td class="none fv">2</td>
              <td class="none fv">1</td>
              <td class="none fv">BRIDA</td>
              <td style="border-left: none; border-bottom:none;" colspan="2"></td>


              <td class="none fv" colspan="3"></td>
              <td class="none fv" colspan="2">Fija</td>
              <td class="none" colspan="1" rowspan="5"></td>
              <td class="none fv" colspan="2">Movil</td>
              <td class="none" colspan="1" rowspan="5"></td>
              <td class="none fv" colspan="2">Otros</td>
              <td class="none" colspan="2" ></td>

            </tr>
            <tr>
              <td><input
                type="number"
                class="no-border-input"
                style="width: 100%;"
                name="14 c"
               ></td>
               <td><input
                type="number"
                class="no-border-input"
                style="width: 100%;"
                name="14 c"
               ></td>
               <td><input
                type="number"
                class="no-border-input"
                style="width: 100%;"
                name="14 c"
               ></td>
               <td><input
                type="number"
                class="no-border-input"
                style="width: 100%;"
                name="14 c"
               ></td>
               <td><input
                type="number"
                class="no-border-input"
                style="width: 100%;"
                name="14 c"
               ></td>
               <td><input
                type="number"
                class="no-border-input"
                style="width: 100%;"
                name="14 c"
               ></td>
               <td><input
                type="number"
                class="no-border-input"
                style="width: 100%;"
                name="14 c"
               ></td>
               <td><input
                type="number"
                class="no-border-input"
                style="width: 100%;"
                name="14 c"
               ></td>
               <td><input
                type="number"
                class="no-border-input"
                style="width: 100%;"
                name="14 c"
               ></td>
               <td><input
                type="number"
                class="no-border-input"
                style="width: 100%;"
                name="Brida c"
               ></td>
               <td colspan="2" class="none fv">
                °C

               </td>

               <td style="border-right: none; border-top:none; border-bottom: none" colspan="1"></td>
               <td class="none fv">Temp</td>
               <td class="none" colspan="2"></td>
               <td class="none"><input
                type="number"
                style="width: 100%;"
                name="Temp fija"
                >
              </td>
              
              <td class="none" colspan="2"> 
                <input
                type="number"
                style="width: 100%;"
                name="Temp movil"
                >
              </td>
                <td class="none">
                  <input
                  type="number"
                style="width: 100%;"
                name="Temp otros"
                  >
                </td>
                <td class="none">°C</td>
                <td class="none" colspan="1" rowspan="4"></td>

            </tr>
            <tr>
              <td style="border-left:none;border-top:none; border-bottom:none;" class="fv" colspan="12">Porcentual</td>
              <td class="none" colspan="11"></td>
            </tr>
            <tr>
              <td>
                <input
                  type="number"
                  class="no-border-input"
                  style="width: 100%;"
                  name="14 porcentual"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="no-border-input"
                  style="width: 100%;"
                  name="13 porcentual"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="no-border-input"
                  style="width: 100%;"
                  name="11 porcentual"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="no-border-input"
                  style="width: 100%;"
                  name="6 porcentual"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="no-border-input"
                  style="width: 100%;"
                  name="5 porcentual"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="no-border-input"
                  style="width: 100%;"
                  name="4 porcentual"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="no-border-input"
                  style="width: 100%;"
                  name="3 porcentual"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="no-border-input"
                  style="width: 100%;"
                  name="2 porcentual"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="no-border-input"
                  style="width: 100%;"
                  name="1 porcentual"
                />
              </td>
              <td>
                <input
                  type="number"
                  class="no-border-input"
                  style="width: 100%;"
                  name="brida porcentual"
                />
              </td>
              <td class="none" colspan="2" rowspan="2"></td>
              <td style="border-right: none; border-top:none; border-bottom: none"  colspan="1"></td>
              <td class="none fv">Flujo</td>
              <td class="none" colspan="1"></td>
              <td class="none" colspan="2"><input
                type="number"
                style="width: 100%;"
                name="Flujo fija"
              /></td>
              <td class="none" colspan="2"><input
                type="number"
                style="width: 100%;"
                name="Flujo movil"
              /></td>
              <td class="none"><input
                type="number"
                style="width: 100%;"
                name="Flujo otros"
              /></td>
              <td class="none fv">l/min</td>

            </tr>

            <tr>
              <td class="fv" style="border-left: none; " colspan="12"></td>
            </tr>
          </tbody>
        </table>



        <div style="margin-top: 10px; ">
          <div style="display:flex; margin-bottom:10px" >
          <!-- TEMPERATURA DE CONTROLADOR -->
          <table style="width: 60%;" border="1" >
            <tr>
              <th style="padding: 2.5px;" colspan="16">TEMPERATURA DE CONTROLADOR</th>
            </tr>
            <tr>
              <td class="none" colspan="16"></td>
            </tr>
            <tr>
              <th class="none"></th>
              <th class="none fv">1</th>
              <th class="none fv">2</th>
              <th class="none fv">3</th>
              <th class="none fv">4</th>
              <th class="none fv">5</th>
              <th class="none fv">6</th>
              <th class="none fv">7</th>
              <th class="none fv">8</th>
              <th class="none fv">9</th>
              <th class="none fv">10</th>
              <th class="none fv">11</th>
              <th class="none fv">12</th>
              <th class="none" colspan="2"></th>
            </tr>
            <tr>
              <td class="none fv">C1</td>
              <td  colspan="1">
                <input
                  type="number"
                  class="no-border-input"
                  name="C1 1"
                />
              </td>
              <td colspan="1">
                <input
                  type="number"
                  class="no-border-input"
                  name="C1 2"
                />
              </td>
              <td colspan="1">
                <input
                  type="number"
                  class="no-border-input"
                  name="C1 3"
                />
              </td>
              <td colspan="1">
                <input
                  type="number"
                  class="no-border-input"
                  name="C1 4"
                />
              </td>
              <td colspan="1">
                <input
                  type="number"
                  class="no-border-input"
                  name="C1 5"
                />
              </td>
              <td colspan="1">
                <input
                  type="number"
                  class="no-border-input"
                  name="C1 6"
                />
              </td>
              <td colspan="1">
                <input
                  type="number"
                  class="no-border-input"
                  name="C1 7"
                />
              </td>
              <td colspan="1">
                <input
                  type="number"
                  class="no-border-input"
                  name="C1 8"
                />
              </td>
              <td colspan="1">
                <input
                  type="number"
                  class="no-border-input"
                  name="C1 9"
                />
              </td>
              <td colspan="1">
                <input
                  type="number"
                  class="no-border-input"
                  name="C1 10"
                />
              </td>
              <td colspan="1">
                <input
                  type="number"
                  class="no-border-input"
                  name="C1 11"
                />
              </td>
              <td colspan="1">
                <input
                  type="number"
                  class="no-border-input"
                  name="C1 12"
                />
              </td>
              <td class="none fv" colspan="1">
                °C
              </td>
            </tr>
            <tr>
              <td class="none" colspan="14"></td>
            </tr>
            <tr>
              <td class="none fv">C2</td>
              <td colspan="1">
                <input
                  type="number"
                  class="no-border-input"
                  name="C2 1"
                />
              </td>
              <td colspan="1">
                <input
                  type="number"
                  class="no-border-input"
                  name="C2 2"
                />
              </td>
              <td colspan="1">
                <input
                  type="number"
                  class="no-border-input"
                  name="C2 3"
                />
              </td>
              <td colspan="1">
                <input
                  type="number"
                  class="no-border-input"
                  name="C2 4"
                />
              </td>
              <td colspan="1">
                <input
                  type="number"
                  class="no-border-input"
                  name="C2 5"
                />
              </td>
              <td colspan="1">
                <input
                  type="number"
                  class="no-border-input"
                  name="C2 6"
                />
              </td>
              <td colspan="1">
                <input
                  type="number"
                  class="no-border-input"
                  name="C2 7"
                />
              </td>
              <td colspan="1">
                <input
                  type="number"
                  class="no-border-input"
                  name="C2 8"
                />
              </td>
              <td colspan="1">
                <input
                  type="number"
                  class="no-border-input"
                  name="C2 9"
                />
              </td>
              <td colspan="1">
                <input
                  type="number"
                  class="no-border-input"
                  name="C2 10"
                />
              </td>
              <td colspan="1">
                <input
                  type="number"
                  class="no-border-input"
                  name="C2 11"
                />
              </td>
              <td colspan="1">
                <input
                  type="number"
                  class="no-border-input"
                  name="C2 12"
                />
              </td>
              <td class="none" colspan="1">
                °C
              </td>
            </tr>
            <tr>
              <td class="fv none" colspan="14"></td>
            </tr>
          </table>
        
          <!-- SECADO DE MATERIAL -->
          <table style="width: 40%;" border="1" >
            <tr>
              <th  style="padding: 10px;" colspan="11">SECADO DE MATERIAL</th>
            </tr>
            <tr>
              <td class="none" colspan="11"></td>
              
            </tr>
            <tr>
              <td class="none fv"></td>
              <td class="none fv">Temp. de Secador</td>
              <td><input
                type="number"
                class="no-border-input"
                name="Temp. de Secador"
                >
              </td>
              <td class="fv none">°C </td>
              <td class="none" colspan="5"></td>
            </tr>
            <tr>
              <td class="none"></td>
            </tr>
            <tr>
              <td class="none"></td>
              <td class="none">Max. Humedad</td>
              <td><input
                type="number"
                class="no-border-input"
                name="Max. Humedad"
                >
              </td>
              <td class="none" colspan="1">%</td>
              <td class="none fv">Dew Point</td>
              <td><input
                type="number"
                class="no-border-input"
                name="Dew Point"
                ></td>
              <td class="none fv" colspan="3">°C</td>
            </tr>
            <tr>
              <td class="none fv"></td>
              
            </tr>
            <tr>
              <td class="none fv"></td>
              <td class="none fv">Tiempo de Secado</td>
              <td><input
                type="number"
                class="no-border-input"
                name="Tiempo de Secado"
                ></td>
                <td class="none fv">h</td>
                <td class="none fv" colspan="6"></td>
            </tr>
            <tr>
              <td class="none fv"></td>
            </tr>
          </table>
        </div>
        <div style="display:flex">
        
          <!-- TABLAS DE CALIDAD -->
          <table border="1" style="border-collapse: collapse; margin-bottom: 5px;">
            <tr>
              <th style="padding: 5px;" colspan="6">TABLAS DE CALIDAD</th>
            </tr>
            <tr>
              <td class="none" colspan="6"></td>
            </tr>
            <tr>
              <th class="none" colspan="2"></th>
              <th class="none">SET</th>
              <th class="none">+TOL</th>
              <th class="none">-TOL</th>
              <th class="none" colspan="2"></th>
            </tr>
            <tr>
              <td class="none"></td>
              <td class="none">Tiempo de Ciclo</td>
              <td><input
                type="number"
                class="no-border-input"
                name="Tiempo de Ciclo set"
                ></td>
              <td><input
                type="number"
                class="no-border-input"
                name="Tiempo de Ciclo +TOL"

                ></td>
              <td>
                <input
                type="number"
                class="no-border-input"
                name="Tiempo de Ciclo -TOL"
                >
              </td>
              <td class="none fv">Seg</td>
            </tr>
            <tr>
              <td class="none"></td>
              <td class="none">Cojín</td>
              <td><input
                type="number"
                class="no-border-input"
                name="Cojín set"
                >
              </td>
              <td><input
                type="number"
                class="no-border-input"
                name="Cojín +TOL"
                >

              </td>
              <td>
                <input
                type="number"
                class="no-border-input"
                name="Cojín -TOL"
                >
              </td>
              <td class="none fv">mm</td>
            </tr>
            <tr>
              <td class="none"></td>
              <td class="none">Tiempo de Llenado</td>
              <td>
                <input
                type="number"
                class="no-border-input"
                name="Tiempo de Llenado set"
                >
              </td>
              <td>
                <input
                type="number"
                class="no-border-input"
                name="Tiempo de Llenado +TOL"
                >
              </td>
              <td>
                <input
                type="number"
                class="no-border-input"
                name="Tiempo de Llenado -TOL"
                >
              </td>
              <td class="none fv">Seg</td>
            </tr>
            <tr>
              <td class="none"></td>
              <td class="none">Tiempo de Dosif.</td>
              <td><input
                type="number"
                class="no-border-input"
                name="Tiempo de Dosif. SET"
                >
              </td>
              <td>
                <input
                type="number"
                class="no-border-input"
                name="Tiempo de Dosif. +TOL"
                >
              </td>
              <td>
                <input
                type="number"
                class="no-border-input"
                name="Tiempo de Dosif. -TOL"
                >
              </td>
              <td class="none fv">Seg</td>
            </tr>
            <tr>
              <td class="none" colspan="7"></td>
            </tr>
          </table>
        
          <!-- OBTURADORES -->
          <table border="1" style="border-collapse: collapse; margin-bottom: 5px;">
            <tr>
              <th style="padding: 10px;" colspan="10">OBTURADORES</th>
            </tr>
            <tr>
              <th class="none fv" colspan="6">Mando en cascada de la Boquilla del molde: 
                <input
                  type="text"
                  name="Mando en cascada de la Boquilla del molde"
                  style="width: 20%;"
                />
              </th>

            </tr>
            <tr>
              <th class="none" rowspan="2"></th>
              <th class="none fv" colspan="4">Inyección</th>
              <th class="none fv" colspan="4">Sostenimiento</th>
            </tr>
            <tr>
              <th class="none fv" colspan="2">Abierto</th>
              <th class="none fv" colspan="2">Cerrado</th>
              <th class="none" colspan="2">Abierto</th>
              <th class="none" colspan="2">Cerrado</th>
            </tr>
            <tr>
              <td class="none">1</td>
              <td><input
                type="number"
                class="no-border-input"
                name="Inyección Abierto 1"
                >
              </td>
              <td class="none fv">seg</td>
              <td>
                <input
                type="number"
                class="no-border-input"
                name="Inyección Cerrado 1"
                >
              </td>
              <td class="none fv">seg</td>
              <td>
                <input
                type="number"
                class="no-border-input"
                name="Sostenimiento Abierto 1"
                >
              </td>
              <td class="none fv">seg</td>
              <td>
                <input
                type="number"
                class="no-border-input"
                name="Sostenimiento Cerrado 1"
                >
              </td>
              <td class="none fv">seg</td>
            </tr>
            <tr>
              <td  class="none fv">2</td>
              <td><input
                type="number"
                class="no-border-input"
                name="Inyección Abierto 2"
                >
              </td>
              <td class="none" >seg</td>
              <td>
                <input
                type="number"
                class="no-border-input"
                name="Inyección Cerrado 2"
                >
              </td>
              <td class="none">seg</td>
              <td>
                <input
                type="number"
                class="no-border-input"
                name="Sostenimiento Abierto 2"
                >
              </td>
              <td class="none">seg</td>
              <td>
                <input
                type="number"
                class="no-border-input"
                name="Sostenimiento Cerrado 2"
                >
              </td>
              <td class="none">seg</td>

            </tr>
            <tr>
              <td class="none">3</td>
              <td><input
                type="number"
                class="no-border-input"
                name="Inyección Abierto 3"
                >
              </td>
              <td class="none">seg</td>
              <td>
                <input
                type="number"
                class="no-border-input"
                name="Inyección Cerrado 3"
                >
              </td>
              <td class="none">seg</td>
              <td>
                <input
                type="number"
                class="no-border-input"
                name="Sostenimiento Abierto 3"
                >
              </td>
              <td class="none">seg </td>
              <td>
                <input
                type="number"
                class="no-border-input"
                name="Sostenimiento Cerrado 3"
                >
              </td>
              <td class="none">seg</td>
            </tr>
            <tr>
              <td class="none">4</td>
              <td><input
                type="number"
                class="no-border-input"
                name="Inyección Abierto 4"
                >
              </td>
              <td class="none">seg</td>
              <td>
                <input
                type="number"
                class="no-border-input"
                name="Inyección Cerrado 4"
                >
              </td>
              <td class="none fv">seg</td>
              <td>
                <input
                type="number"
                class="no-border-input"
                name="Sostenimiento Abierto 4"
                >
              </td>
              <td class="none fv">seg</td>
              <td>
                <input
                type="number"
                class="no-border-input"
                name="Sostenimiento Cerrado 4"
                >
              </td>
              <td class="none fv">seg</td>
            </tr>
            <tr>
              <td colspan="10" class="none fv"></td>
            </tr>
          </table>
        </div>
      </div>



        <table style="margin-top: 5px" cellspacing="0">
          <tbody>
            <tr>
              <td class="none fv" colspan="1">T. de Ciclo Cot:</td>
              <td class="none fv" colspan="1">100</td>
              <td style="border: none; padding:10px" colspan="1">seg</td>

              <td style="border-left: none; width:10%" colspan="1" rowspan="6"></td>

              <td class="none fv" colspan="1">Peso Colada</td>
              <td class="none fv" colspan="1">3.27</td>
              <td class="none fv" colspan="1">g</td>
              <td rowspan="6"  style="border-left: none; width:10%"></td>
              <td class="none fv">Cap Secador:</td>
              <td class="none fv" colspan="1">66</td>
              <td class="none">Lts</td>
            </tr>

            <tr>
              <td class="fv none" >Superv. Ciclo:</td>
              <td class="none" colspan="1">60</td>
              <td class="none fv">seg</td>

              <td class="none fv">Peso pieza 1:</td>
              <td class="none" colspan="1">15.13</td>
              <td class="none fv">g</td>

              <td class="none fv">Diametro Huisillo</td>
              <td class="none" colspan="1">30</td>
              <td class="none fv">mm</td>
            </tr>
            <tr>
              <td class="none fv">Prog Robot:</td>
              <td class="none" colspan="1">NA</td>
              <td class="none"></td>

              <td class="none fv">Peso pieza 2:</td>
              <td class="none" colspan="1">0</td>
              <td class="none fv">g</td>

              <td class="none fv">Volumen max:</td>
              <td class="none" colspan="1">106.02</td>
              <td class="none fv">cm³</td>
            </tr>
            <tr>
              <td class="none fv">Tipo de Proceso:</td>
              <td class="none fv" colspan="1">AUTOMATICO</td>
              <td class="none"></td>

              <td class="none fv">Nariz 1 apoyada:</td>
              <td class="none" colspan="1">Si</td>
              <td class="none"></td>

              <td class="none fv">T . de residencia</td>
              <td class="none" colspan="1">
                <input
                  type="text"
                  class="no-border-input"
                  name="T . de residencia"
                  style="width: 100%"
                />
              </td>
              <td class="none fv">min</td>
            </tr>
            <tr>
              <td colspan="1" class="none fv">Seg. de Piezas:</td>
              <td class="none" colspan="1">
                <input
                  type="text"
                  class="no-border-input"
                  name="Seg. de Piezas"
                  style="width: 100%"
                />
              </td>
              <td class="none fv">Pzs</td>

              <td class="none fv">Diam. Nariz 1:</td>
              <td class="none" colspan="1">"1/8</td>
              <td class="none"></td>

              <td class="none fv">Volumen Carga:</td>
              <td class="none" colspan="1">
                <input
                  type="text"
                  class="no-border-input"
                  name="Volumen Carga"
                  style="width: 100%"
                />
              </td>
              <td class="none fv">cm³</td>
            </tr>
            <tr>
              <td class="none fv">% de balanceo</td>
              <td class="none" colspan="1">NA</td>
              <td class="none fv">%</td>

              <td class="none fv">Tipo de Nariz 1:</td>
              <td class="none fv" colspan="2">Redonda nylon</td>
              

              <td class="none fv">Peso de Disparo:</td>
              <td class="none" colspan="1">
                <input
                  type="text"
                  class="no-border-input"
                  name="Peso de Disparo"
                  style="width: 100%"
                />
              </td>
              <td class="none">gr</td>
            </tr>
            <tr>
              <td class="fv" style="padding: 4px; border-bottom:none" colspan="11">
                Comentario: Revisar tolerancias en la hoja de "Checklist de
                Procesos". El parámetro de la BRIDA puede variar entre un rango
                de 20° y 100° C.
              </td>
            </tr>
            <tr>
              <td class="none fv" style="padding: 4px" colspan="11">
                CUIDADO: Los cambios deben quedar registrados
              </td>
            </tr>
            <tr>
              <td class="none" style="text-align: left" colspan="9" rowspan="3">
                Comentarios:
              </td>
              <td class="none fv">Secado min(Lts)</td>
              <td>
                <input
                  type="text"
                  class="no-border-input"
                  name="Secado min(Lts)"
                  style="width: 100%"
                />
              </td>
            </tr>
            <tr>
              <td class="none fv">Consumo(Lts x H)</td>
              <td>
                <input
                  type="text"
                  class="no-border-input"
                  name="Consumo(Lts x H)"
                  style="width: 100%"
                />
              </td>
            </tr>
            <tr>
              <td  class="none fv">Rate(Pzas x H)</td>
              <td >
                <input
                  type="text"
                  class="no-border-input"
                  name="Temp. de Secado"
                  style="width: 100%"
                />
              </td>
            </tr>
          </tbody>
        </table>
        <table cellspacing="0" cellpadding="5">
          <thead>
            <tr>
              <th>Fecha/Hora</th>
              <th>Autor</th>
              <th>Parametro Cambiado</th>
              <th>Motivo</th>
              <th>Resultado</th>
              <th>T Ciclo</th>
              <th>Comentarios</th>
            </tr>
          </thead>
          <tbody>
            <th style="height: 95px" rowspan="3"></th>
            <th rowspan="3"></th>
            <th rowspan="3"></th>
            <th rowspan="3"></th>
            <th rowspan="3"></th>
            <th rowspan="3"></th>
            <th rowspan="3"></th>
          </tbody>
        </table>
      </div>
      <div *ngIf="currentContainer == 1 || currentContainer == -1" #container1 class="container">
        <app-krauss-maffei-mc6-2></app-krauss-maffei-mc6-2>

        </div>
      <div *ngIf="currentContainer == 2 || currentContainer == -1" #container2 class="container">
          <app-checklist-krauss-maffei></app-checklist-krauss-maffei>
      </div>
    
    </div>
    
    <div style="text-align: center; margin-top: 20px;">
      <button (click)="prevContainer()" [disabled]="currentContainer === 0">
        &#8592; 
      </button>
  
      <button *ngFor="let page of containers; let i = index" (click)="goToContainer(i)">
        {{ i + 1 }}
      </button>
  
      <button (click)="nextContainer()" [disabled]="currentContainer === containers.length - 1">
        &#8594; 
      </button>
    </div>

    <button style="text-align: center; margin-top: 20px;" (click)="downloadPDF()">Guardar</button>
  </div>

