.container {
    margin: 0 auto ;
    width: 95%;
    margin-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    
  }
  
  .header,
  .section,
  .footer {
    border: 1px solid #000;
    
    margin-bottom: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .col-left,
  .col-center,
  .col-right {
    flex: 1;
  }
  
  .col {
    flex: 1;
  }
  
  .col-left {
    text-align: left;
  }
  
  .col-center {
    text-align: center;
  }
  
  .col-right {
    text-align: right;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 2px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;

  }
  input{
    text-align: center;
  }

  table, th, td {
    border: 1px solid #000;
  }
  
  th, td {
    text-align: center;
    padding: 2px;
  }
  
  
  .footer {
    text-align: center;
    font-size: 0.8rem;
  }
  
  strong {
    font-weight: bold;
  }

  .no-border-input {
    width: 100%;
    text-align: center;
    border: none;
    border-radius: 0;  
    outline: none;    
    background-color: transparent; 
    font-size: 1rem;   
    padding: 1px;     
  }
  
  .no-border-input:focus {
    outline: none;     
  }
  
  .no-border-input::placeholder {
    color: #000;      
  }
  
.fv
{
padding: 5.55px;
}
.styled-table {
    border-collapse: collapse;
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    text-align: center;
}
#content {
  width: 1440px;
  content: center;
  overflow: hidden;
}
.none{
  border: none;
}





/* botones */
.button-container {
  text-align: center;
  margin-top: 20px;
}

.nav-button {
  background-color: #f9ad3b; 
  color: #333; 
  border: 1px solid #ccc; 
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s; 
}

.nav-button:hover {
  background-color: #ff8c00; 
}

.page-button {
  background-color: #f9ad3b; 
  color: white; 
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer; 
  transition: background-color 0.3s; 
}

.page-button:hover {
  background-color: #ff8c00;
}

.save-button {
  display: block; 
  margin: 20px auto 0; 
  background-color: #f9ad3b; 
  color: white;
  border: none; 
  border-radius: 5px; 
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.save-button:hover {
  background-color: #fb8c00; 
}
