<app-sidebar></app-sidebar>

<div style="margin-left: 60px; text-align: center; justify-content:center; align-items:center;">
  <app-toolbar
  (optionSelected)="onOptionSelected($event)"
  [report]="report"
  [formato]="formato"
  >
  </app-toolbar>
  <app-spiner [loading]="loading"
  [message] = "message"
  ></app-spiner>
  <div style="overflow-x:auto">
  <div  id="content" >

    <div [class.disabled]="ver" *ngIf="currentContainer == 0 || currentContainer == -1" #container0 class="container">
        <div>
       <app-header-kmtec-056-v2 
       [cliente]="productoSeleccionado?.codigo_cliente ?? ''"
       [producto]="productoSeleccionado?.producto ?? null"
       [maquina] = "maquina"
       [Num_Cav_th]="Producto_Maquina?.Cadence_theo ?? null"
       [Num_Cav_real]="Producto_Maquina?.Cadencia ?? null"
        [Molde]="Producto_Maquina?.Utillaje ?? null"
        [Resina]="productoSeleccionado?.resina_1 ?? null"
        [Fecha]=" Fecha"
        [Producto_Maquina]="Producto_Maquina?.Centro_trabajo_ppal ?? null"
        [estado]="estado"
        [Archivo]="KM056.Archivo"
        [Disquete]="KM056.Disquete"
      
        (cambioValores)="actualizar($event)"
       >
        
       </app-header-kmtec-056-v2>
      </div>
      <table>
        <tr>
          <th class="fv" colspan="2">CREADO POR:</th>
          <th colspan="2">
            
            {{user?.nombre}} {{user?.apellido_paterno}} {{user?.apellido_materno}}
          </th>
          <th  class="fv" colspan="2">EDITADO POR:</th>
          <th colspan="2">
            <input
              type="text"
              class="no-border-input"
              [(ngModel)]="KM056.editado_por"
              name="EDITADO POR"
              placeholder="{{user?.nombre}} {{user?.apellido_paterno}}"
              style="width: 100%; border: none"
            />
          </th>
        </tr>
        <tr>
          <th class="fv none" colspan="4">
            Parametros del proceso - Krauss Maffei
          </th>
          <td class="fv none" colspan="3">
            TEC-2022-MX-056-V2
          </td>
        </tr>
      </table>
      <div style="display: flex;">
        <table style="border-collapse: collapse; width: 100%; text-align: center;">
          <thead>
              <tr style="background-color: #c0c0c0;">
                  <th colspan="8">INYECCION</th>
              </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
            </tr>
              <tr>
                <td colspan="2"></td>
                  <td colspan="1">t supervi.</td>
                  <td colspan="1">
                      <input
                          type="text"
                          class="no-border-input"
                          name="t_supervi"
                          style="width: 100%; border: none"
                          placeholder="3"
                      />
                  </td>
                  <td colspan="1">seg</td>
                  <td></td>
              </tr>
              <tr>
                  <td></td>
                  <td>
                    <input
                        type="number"
                        class="no-border-input"
                        name="v1"
                        style="width: 100%; border: none"
                        
                    />
                </td>
                  <td>
                    <input
                        type="text"
                        class="no-border-input"
                        name="v1"
                        style="width: 100%; border: none"
                        
                    />
                </td>
                  <td>
                      <input
                          type="text"
                          class="no-border-input"
                          name="v1"
                          style="width: 100%; border: none"
                          placeholder="80"
                      />
                  </td>
                  <td>
                      <input
                          type="text"
                          class="no-border-input"
                          name="v2"
                          style="width: 100%; border: none"
                          placeholder="80"
                      />
                  </td>
                  <td>
                      <input
                          type="text"
                          class="no-border-input"
                          name="v3"
                          style="width: 100%; border: none"
                          placeholder="70"
                      />
                  </td>
                  <td colspan="2">v (mm/s)</td>
              </tr>
              <tr>
                  <td></td>
                  <td>
                      <input
                          type="text"
                          class="no-border-input"
                          name="p1"
                          style="width: 100%; border: none"
                          placeholder="125"
                      />
                  </td>
                  <td>
                      <input
                          type="text"
                          class="no-border-input"
                          name="p2"
                          style="width: 100%; border: none"
                          placeholder="125"
                      />
                  </td>
                  <td>
                      <input
                          type="text"
                          class="no-border-input"
                          name="p3"
                          style="width: 100%; border: none"
                          placeholder="120"
                      />
                  </td>
                  <td colspan="2">p (bar)</td>
              </tr>
              <tr>
                  <td></td>
                  <td></td>
                  <td>
                      <input
                          type="text"
                          class="no-border-input"
                          name="s1"
                          style="width: 100%; border: none"
                          placeholder="40"
                      />
                  </td>
                  <td>
                      <input
                          type="text"
                          class="no-border-input"
                          name="s2"
                          style="width: 100%; border: none"
                          placeholder="70"
                      />
                  </td>
                  <td colspan="2">s (mm)</td>
              </tr>
              <tr>
                  <td colspan="2">tiempo de inyeccion</td>
                  <td colspan="3">
                      <input
                          type="text"
                          class="no-border-input"
                          name="tiempo_inyeccion"
                          style="width: 100%; border: none"
                          placeholder="1.3"
                      />
                  </td>
                  <td>seg</td>
              </tr>
              <tr>
                  <td colspan="2">tiempo de calentamiento</td>
                  <td colspan="3">
                      <input
                          type="text"
                          class="no-border-input"
                          name="tiempo_calentamiento"
                          style="width: 100%; border: none"
                          placeholder="13"
                      />
                  </td>
                  <td>seg</td>
              </tr>
          </tbody>
      </table>
      
      </div>
      


        <table>
          <tbody>
            <tr>
              <td class="fv" style="padding: 4px; border-bottom:none" colspan="11">
                Comentario: Revisar tolerancias en la hoja de "Checklist de
                Procesos". El parámetro de la BRIDA puede variar entre un rango
                de 20° y 100° C.
              </td>
            </tr>
            <tr>
              <td class="none fv" style="padding: 4px" colspan="11">
                CUIDADO: Los cambios deben quedar registrados
              </td>
            </tr>
            <tr>
              <td class="none fv" style="text-align: left; width: 70%" colspan="9" rowspan="3">
                Comentarios:
              </td>
              </tr>
            <tr>
            
            </tr>
            <tr>
             
            </tr>
          </tbody>
        </table>
      

      <app-footer3></app-footer3>

    </div>
    
    <div *ngIf="currentContainer == 1 || currentContainer == -1" #container1 class="container">
        <app-checklist-krauss-maffei
        [mc6]="KM056"
        >
          
        </app-checklist-krauss-maffei>
    </div>
  
  </div>
  
 

  
   <div class="button-container">
    <button class="nav-button" (click)="prevContainer()" [disabled]="currentContainer === 0">
      &#8592; 
    </button>
  
    <button  *ngFor="let page of containers; let i = index" class="page-button" (click)="goToContainer(i)">
      {{ i + 1 }}
    </button>
  
    <button  class="nav-button" (click)="nextContainer()" [disabled]="currentContainer === containers.length - 1">
      &#8594; 
    </button>
    <a *ngIf="ver" href="/reportes" class="save-button">Regresar</a>

    <div *ngIf="!ver" style="display:flex;  ">
      <button class="save-button" (click)="downloadPDF(true)">Guardar</button>
      <button class="save-button" (click)="downloadPDF(false)">Vista Previa</button>
    
    </div>

   
     
    

  </div>
  
  
  <div class="modal" *ngIf="isModalOpen && imagePreviewUrl">
    <span class="close-button" (click)="closeModal()">&times;</span>
    <div class="modal-content">
      
      <iframe [src]="imagePreviewUrl" width="100%" height="600px"></iframe>
    </div>
  </div>

   </div>
