<div>
    <table  style="margin-bottom:10px;">
          
        <tr>
          <td rowspan="2" style="width: 200px;">
            <img src="../../assets/images/logo.png" alt="Descripción de la imagen" style="width: 400px; height: auto;" />
          </td>
          <td class="" colspan="2" style="text-align: center;
           font-size: 15px; 
           font-weight: bold;">Checklist de Procesos Thermoset </td>
          
        </tr>
        <tr>
          <td >REC-A-MX-016-V3</td>
          <td >En aplicación</td>
          
        </tr>
    
      </table>
      <table style="margin-bottom:10px">
        <thead>
          <tr>
            <th style="background-color: #d8d8d8;" class="fv" rowspan="2" colspan="4">Revisión 1 vez por turno por técnicos</th>
            <th colspan="5">Producto</th>
            <th colspan="4">Resina</th>
            <th colspan="3">Cliente</th>
            <th colspan="2">Maquina</th>
          </tr>
          <tr>
            
            <th colspan="5" name="producto">
              <input type="text" name="producto" 
              class="no-border-input" 
              style="width: 100%; border: none"
              value="producto"
              />
            </th>
            <th colspan="4" name="resina">
              <input type="text" name="resina" 
              class="no-border-input" 
              style="width: 100%; border: none"
              value="resina" />
            </th>
            <th colspan="3" name="cliente">
              <input type="text" 
              name="cliente" 
              class="no-border-input" 
              style="width: 100%; border: none" 
              value="cliente"
              />
            </th>
            <th colspan="2" name="maquina">
              <input type="text" 
              name="maquina" 
              class="no-border-input" 
              style="width: 100%; border: none"
              value="{{maquina}}"
              />
            </th>
          </tr>
          <tr>
            <th class="fv fondo" rowspan="1"  colspan="4">PARAMETROS DE CONTROL</th>
            <th rowspan="1" colspan="2">LUNES</th>
            <th colspan="2">MARTES</th>
            <th colspan="2">MIERCOLES</th>
            <th colspan="2">JUEVES</th>
            <th colspan="2">VIERNES</th>
            <th colspan="2">SABADO</th>
            <th colspan="2">DOMINGO</th>
          </tr>
          <tr>
            
            <td class="fv" colspan="2">Temp.Barril</td>
            <td colspan="1">SET</td>
            <td colspan="1">Tolerancia</td>
        
            <td class="fondo">1er T.</td>
            <td class="fondo">2do T.</td>
            <td class="fondo">1er T.</td>
            <td class="fondo">2do T.</td>
            <td class="fondo">1er T.</td>
            <td class="fondo">2do T.</td>
            <td class="fondo">1er T.</td>
            <td class="fondo">2do T.</td>
            <td class="fondo">1er T.</td>
            <td class="fondo">2do T.</td>
            <td class="fondo">1er T.</td>
            <td class="fondo">2do T.</td>
            <td class="fondo">1er T.</td>
            <td class="fondo">2do T.</td>
    
          
         
      </thead>
      <tbody>
        <tr>
          <td class="fv" colspan="2">Zona 101</td>
          <td colspan="1">
            <input type="number" 
            name="Zona 101(nariz) SET" 
            class="no-border-input" 
            style="width: 100%; border: none"
            [(ngModel)]="KM056.set_zona101"
            />
          </td>
          <td colspan="1">
            <input type="text" 
            name="Zona 101(nariz) Tolerancia"
             class="no-border-input" 
             style="width: 100%; border: none"
            [(ngModel)]="KM056.tolerancia_zona101"
             />
          </td>
          <td name="zona 14 Lunes 1er T."></td>
          <td name="zona 14 Lunes 2do T."></td>
          <td name="zona 14 Martes 1er T."></td>
          <td name="zona 14 Martes 2do T."></td>
          <td name="zona 14 Miercoles 1er T."></td>
          <td name="zona 14 Miercoles 2do T."></td>
          <td name="zona 14 Jueves 1er T."></td>
          <td name="zona 14 Jueves 2do T."></td>
          <td name="zona 14 Viernes 1er T."></td>
          <td name="zona 14 Viernes 2do T."></td>
          <td name="zona 14 Sabado 1er T."></td>
          <td name="zona 14 Sabado 2do T."></td>
          <td name="zona 14 Domingo 1er T."></td>
          <td name="zona 14 Domingo 2do T."></td>
    
        </tr>
        <tr>
          <td class="fv" colspan="2">Zona 102</td>
          <td colspan="1">
            <input type="number" 
            name="Zona 102 SET" 
            class="no-border-input none"
            [(ngModel)]="KM056.set_zona102"
            />
          </td>
          <td colspan="1">
            <input type="text"
             name="Zona 102 Tolerancia"
              class="no-border-input none" 
                [(ngModel)]="KM056.tolerancia_zona102"
              />
          </td>
          <td name="zona 13 Lunes 1er T."></td>
          <td name="zona 13 Lunes 2do T."></td>
          <td name="zona 13 Martes 1er T."></td>
          <td name="zona 13 Martes 2do T."></td>
          <td name="zona 13 Miercoles 1er T."></td>
          <td name="zona 13 Miercoles 2do T."></td>
          <td name="zona 13 Jueves 1er T."></td>
          <td name="zona 13 Jueves 2do T."></td>
          <td name="zona 13 Viernes 1er T."></td>
          <td name="zona 13 Viernes 2do T."></td>
          <td name="zona 13 Sabado 1er T."></td>
          <td name="zona 13 Sabado 2do T."></td>
          <td name="zona 13 Domingo 1er T."></td>
          <td name="zona 13 Domingo 2do T."></td>
        </tr>
        <tr>
          <td class="fv" colspan="2">
            Zona 103
          </td>
          <td>
            <input 
            type="number" 
            name="Zona 103 SET" 
            class="no-border-input none"  
            [(ngModel)]="KM056.set_zona103"
            />
          </td>
          <td>
            <input type="text" 
            name="Zona 103 Tolerancia" 
            class="no-border-input none" 
            [(ngModel)]="KM056.tolerancia_zona103"
            />
          </td>
          <td name="zona 11 Lunes 1er T."></td>
          <td name="zona 11 Lunes 2do T."></td>
          <td name="zona 11 Martes 1er T."></td>
          <td name="zona 11 Martes 2do T."></td>
          <td name="zona 11 Miercoles 1er T."></td>
          <td name="zona 11 Miercoles 2do T."></td>
          <td name="zona 11 Jueves 1er T."></td>
          <td name="zona 11 Jueves 2do T."></td>
          <td name="zona 11 Viernes 1er T."></td>
          <td name="zona 11 Viernes 2do T."></td>
          <td name="zona 11 Sabado 1er T."></td>
          <td name="zona 11 Sabado 2do T."></td>
          <td name="zona 11 Domingo 1er T."></td>
          <td name="zona 11 Domingo 2do T."></td>
        </tr>
        
        <tr>
          <th class="fv" colspan="4">INYECCION</th>
          <td colspan="14"></td>
        </tr>
        <tr >
          <td class="fv" colspan="2">Limite de Presion Max</td>
          <td>
            <input type="text" 
            name="SET LIMITE DE PRESION MAX" 
            class="no-border-input none" 
            [(ngModel)]="KM056.set_limite_presion_max"
            />
          </td>
          <td>
            <input type="text"
             name="Tolerancia LIMITE DE PRESION MAX"
              class="no-border-input none" 
            [(ngModel)]="KM056.tolerancia_limite_presion_max"
              />
          </td>
          <td name="LIMITE DE PRESION MAX Lunes 1er T."></td>
          <td name="LIMITE DE PRESION MAX Lunes 2do T."></td>
          <td name="LIMITE DE PRESION MAX Martes 1er T."></td>
          <td name="LIMITE DE PRESION MAX Martes 2do T."></td>
          <td name="LIMITE DE PRESION MAX Miercoles 1er T."></td>
          <td name="LIMITE DE PRESION MAX Miercoles 2do T."></td>
          <td name="LIMITE DE PRESION MAX Jueves 1er T."></td>
          <td name="LIMITE DE PRESION MAX Jueves 2do T."></td>
          <td name="LIMITE DE PRESION MAX Viernes 1er T."></td>
          <td name="LIMITE DE PRESION MAX Viernes 2do T."></td>
          <td name="LIMITE DE PRESION MAX Sabado 1er T."></td>
          <td name="LIMITE DE PRESION MAX Sabado 2do T."></td>
          <td name="LIMITE DE PRESION MAX Domingo 1er T."></td>
          <td name="LIMITE DE PRESION MAX Domingo 2do T."></td>
        </tr>
        <tr>
          <td class="fv" colspan="2">Corte</td>
          <td colspan="1">
            <input type="text" 
            name="SET Corte" 
            class="no-border-input none" 
            [(ngModel)]="KM056.set_corte"
            />
          </td>
          <td colspan="1">
            <input type="text" 
            name="Tolerancia Corte"
             class="no-border-input none" 
            [(ngModel)]="KM056.tolerancia_corte"
             />
          </td>
          <td name="Corte Lunes 1er T."></td>
          <td name="Corte Lunes 2do T."></td>
          <td name="Corte Martes 1er T."></td>
          <td name="Corte Martes 2do T."></td>
          <td name="Corte Miercoles 1er T."></td>
          <td name="Corte Miercoles 2do T."></td>
          <td name="Corte Jueves 1er T."></td>
          <td name="Corte Jueves 2do T."></td>
          <td name="Corte Viernes 1er T."></td>
          <td name="Corte Viernes 2do T."></td>
          <td name="Corte Sabado 1er T."></td>
          <td name="Corte Sabado 2do T."></td>
          <td name="Corte Domingo 1er T."></td>
          <td name="Corte Domingo 2do T."></td>
    
        </tr>
        <tr>
          <th class="fv" colspan="4">SOSTENIMIENTO</th>
          <td colspan="14"></td>
    
        </tr>
        <tr>
          <td class="fv" colspan="2">Tiempo total de sostenimiento</td>
          <td>
            <input type="text" 
            name="SET Tiempo total de sostenimiento" 
            class="no-border-input none" 
          [(ngModel)]="KM056.tiempo_seg2"
            />
          </td>
          <td>
            <input type="text"
             name="Tolerancia Tiempo total de sostenimiento" 
             class="no-border-input none" 
            [(ngModel)]="KM056.tolerancia_tiempo_seg2"
             />
          </td>
          <td name="Tiempo total de sostenimiento Lunes 1er T."></td>
          <td name="Tiempo total de sostenimiento Lunes 2do T."></td>
          <td name="Tiempo total de sostenimiento Martes 1er T."></td>
          <td name="Tiempo total de sostenimiento Martes 2do T."></td>
          <td name="Tiempo total de sostenimiento Miercoles 1er T."></td>
          <td name="Tiempo total de sostenimiento Miercoles 2do T."></td>
          <td name="Tiempo total de sostenimiento Jueves 1er T."></td>
          <td name="Tiempo total de sostenimiento Jueves 2do T."></td>
          <td name="Tiempo total de sostenimiento Viernes 1er T."></td>
          <td name="Tiempo total de sostenimiento Viernes 2do T."></td>
          <td name="Tiempo total de sostenimiento Sabado 1er T."></td>
          <td name="Tiempo total de sostenimiento Sabado 2do T."></td>
          <td name="Tiempo total de sostenimiento Domingo 1er T."></td>
          <td name="Tiempo total de sostenimiento Domingo 2do T."></td>
        </tr>
        <tr>
          <td class="fv" colspan="2">Presion maxima de sostenimiento</td>
          <td>
            <input type="text" 
            name="SET Presion maxima de sostenimiento" 
            class="no-border-input none" 
             [(ngModel)]="KM056.presion_bar2"
            />
          </td>
          <td>
            <input type="text"
             name="Tolerancia Presion maxima de sostenimiento" 
             class="no-border-input none"  
            [(ngModel)]="KM056.tolerancia_presion_bar2"
             />
          </td>
          <td name="Presion maxima de sostenimiento Lunes 1er T."></td>
          <td name="Presion maxima de sostenimiento Lunes 2do T."></td>
          <td name="Presion maxima de sostenimiento Martes 1er T."></td>
          <td name="Presion maxima de sostenimiento Martes 2do T."></td>
          <td name="Presion maxima de sostenimiento Miercoles 1er T."></td>
          <td name="Presion maxima de sostenimiento Miercoles 2do T."></td>
          <td name="Presion maxima de sostenimiento Jueves 1er T."></td>
          <td name="Presion maxima de sostenimiento Jueves 2do T."></td>
          <td name="Presion maxima de sostenimiento Viernes 1er T."></td>
          <td name="Presion maxima de sostenimiento Viernes 2do T."></td>
          <td name="Presion maxima de sostenimiento Sabado 1er T."></td>
          <td name="Presion maxima de sostenimiento Sabado 2do T."></td>
          <td name="Presion maxima de sostenimiento Domingo 1er T."></td>
          <td name="Presion maxima de sostenimiento Domingo 2do T."></td>
    
        </tr>
        <tr>
          <td class="fv" colspan="2">Tiempo de Calentamiento</td>
          <td >
            <input type="text" 
            name="SET Tiempo de enfriamiento" 
            class="no-border-input none" 
            [(ngModel)]="KM056.tiempo_calentamiento"
            />
          </td>
          <td >
            <input type="text" 
            name="Tolerancia Tiempo de enfriamiento" 
            class="no-border-input none" 
            [(ngModel)]="KM056.tolerancia_tiempo_calentamiento"
            />
          </td>
          <td name="Tiempo de enfriamiento Lunes 1er T."></td>
          <td name="Tiempo de enfriamiento Lunes 2do T."></td>
          <td name="Tiempo de enfriamiento Martes 1er T."></td>
          <td name="Tiempo de enfriamiento Martes 2do T."></td>
          <td name="Tiempo de enfriamiento Miercoles 1er T."></td>
          <td name="Tiempo de enfriamiento Miercoles 2do T."></td>
          <td name="Tiempo de enfriamiento Jueves 1er T."></td>
          <td name="Tiempo de enfriamiento Jueves 2do T."></td>
          <td name="Tiempo de enfriamiento Viernes 1er T."></td>
          <td name="Tiempo de enfriamiento Viernes 2do T."></td>
          <td name="Tiempo de enfriamiento Sabado 1er T."></td>
          <td name="Tiempo de enfriamiento Sabado 2do T."></td>
          <td name="Tiempo de enfriamiento Domingo 1er T."></td>
          <td name="Tiempo de enfriamiento Domingo 2do T."></td>
    
        </tr>
        <tr>
          <th class="fv" colspan="4">CARGA</th>
          <td colspan="14"></td>
        </tr>
        <tr>
          <td colspan="2"> Revoluciones del tornillo</td>
          <td >
            <input type="text"
             name="SET Revoluciones del tornillo" 
             class="no-border-input none"
            [(ngModel)]="KM056.n_value"
             />
          </td>
          <td >
            <input type="text" 
            name="Tolerancia Revoluciones del tornillo"
             class="no-border-input none" 
            [(ngModel)]="KM056.tolerancia_n_value"
             />
          </td>
          <td name="Revoluciones del tornillo Lunes 1er T."></td>
          <td name="Revoluciones del tornillo Lunes 2do T."></td>
          <td name="Revoluciones del tornillo Martes 1er T."></td>
          <td name="Revoluciones del tornillo Martes 2do T."></td>
          <td name="Revoluciones del tornillo Miercoles 1er T."></td>
          <td name="Revoluciones del tornillo Miercoles 2do T."></td>
          <td name="Revoluciones del tornillo Jueves 1er T."></td>
          <td name="Revoluciones del tornillo Jueves 2do T."></td>
          <td name="Revoluciones del tornillo Viernes 1er T."></td>
            <td name="Revoluciones del tornillo Viernes 2do T."></td>
            <td name="Revoluciones del tornillo Sabado 1er T."></td>
            <td name="Revoluciones del tornillo Sabado 2do T."></td>
            <td name="Revoluciones del tornillo Domingo 1er T."></td>
            <td name="Revoluciones del tornillo Domingo 2do T."></td>
        </tr>
        <tr>
          <td class="fv" colspan="2">Contrapresion</td>
          <td >
            <input type="text" 
            name="SET Contrapresion" 
            class="no-border-input none" 
            [(ngModel)]="KM056.p_value"
            />
          </td>
          <td >
            <input type="text" 
            name="Tolerancia Contrapresion" 
            class="no-border-input none" 
            [(ngModel)]="KM056.tolerancia_p_value"
            />
          </td>
          <td name="Contrapresion Lunes 1er T."></td>
          <td name="Contrapresion Lunes 2do T."></td>
          <td name="Contrapresion Martes 1er T."></td>
          <td name="Contrapresion Martes 2do T."></td>
          <td name="Contrapresion Miercoles 1er T."></td>
          <td name="Contrapresion Miercoles 2do T."></td>
          <td name="Contrapresion Jueves 1er T."></td>
          <td name="Contrapresion Jueves 2do T."></td>
          <td name="Contrapresion Viernes 1er T."></td>
          <td name="Contrapresion Viernes 2do T."></td>
          <td name="Contrapresion Sabado 1er T."></td>
          <td name="Contrapresion Sabado 2do T."></td>
          <td name="Contrapresion Domingo 1er T."></td>
          <td name="Contrapresion Domingo 2do T."></td>
        </tr>
        <tr>
          <td class="fv" colspan="2">Tamaño carga</td>
          <td >
            <input type="text" 
            name="SET Tamaño carga" 
            class="no-border-input none" 
           [(ngModel)]="KM056.s_value2"
            />
          </td>
          <td >
            <input type="text" 
            name="Tolerancia Tamaño carga" 
            class="no-border-input none" 
            [(ngModel)]="KM056.tolerancia_s_value2"
            />
          </td>
          <td name="Tamaño carga Lunes 1er T."></td>
          <td name="Tamaño carga Lunes 2do T."></td>
          <td name="Tamaño carga Martes 1er T."></td>
          <td name="Tamaño carga Martes 2do T."></td>
          <td name="Tamaño carga Miercoles 1er T."></td>
          <td name="Tamaño carga Miercoles 2do T."></td>
          <td name="Tamaño carga Jueves 1er T."></td>
          <td name="Tamaño carga Jueves 2do T."></td>
          <td name="Tamaño carga viernes 1er T." ></td>
          <td name="Tamaño carga viernes 2do T." ></td>
          <td name="Tamaño carga Sabado 1er T."></td>
          <td name="Tamaño carga Sabado 2do T."></td>
          <td name="Tamaño carga Domingo 1er T."></td>
          <td name="Tamaño carga Domingo 2do T."></td>
        </tr>
        <tr>
          <td class="fv" colspan="2">Succion/Descompresion</td>
          <td >
            <input type="text" 
            name="SET Succion/Descompresion" 
            class="no-border-input none" 
            [(ngModel)]="KM056.s_value3"
            />
          </td>
          <td >
            <input type="text" 
            name="Tolerancia Succion/Descompresion" 
            class="no-border-input none" 
            [(ngModel)]="KM056.tolerancia_s_value3"
            />
          </td>
          <td name="Succion/Descompresion Lunes 1er T."></td>
          <td name="Succion/Descompresion Lunes 2do T."></td>
          <td name="Succion/Descompresion Martes 1er T."></td>
          <td name="Succion/Descompresion Martes 2do T."></td>
          <td name="Succion/Descompresion Miercoles 1er T."></td>
          <td name="Succion/Descompresion Miercoles 2do T."></td>
          <td name="Succion/Descompresion Jueves 1er T."></td>
          <td name="Succion/Descompresion Jueves 2do T."></td>
          <td name="Succion/Descompresion Viernes 1er T."></td>
          <td name="Succion/Descompresion Viernes 2do T."></td>
          <td name="Succion/Descompresion Sabado 1er T."></td>
          <td name="Succion/Descompresion Sabado 2do T."></td>
          <td name="Succion/Descompresion Domingo 1er T."></td>
          <td name="Succion/Descompresion Domingo 2do T."></td>
    
    
        </tr>
        <tr>
          <th class="fv" colspan="4">TEMPERATURAS MAQUINA</th>
          <td colspan="14"></td>
        </tr>
        <tr>
          <td class="fv" colspan="2">
            Zona 1
          </td>
          <td>
            <input type="number" 
            name="Zona 1 SET" 
            class="no-border-input none" 
            [(ngModel)]="KM056.Z1_Set"
            />
          </td>
          <td>
            <input type="number" 
            name="Zona 1 Tolerancia" 
            class="no-border-input none" 
            [(ngModel)]="KM056.Z1_Tolerancia"
            />
          </td>
          <td name="Zona 1 Lunes 1er T."></td>
          <td name="Zona 1 Lunes 2do T."></td>
          <td name="Zona 1 Martes 1er T."></td>
          <td name="Zona 1 Martes 2do T."></td>
          <td name="Zona 1 Miercoles 1er T."></td>
          <td name="Zona 1 Miercoles 2do T."></td>
          <td name="Zona 1 Jueves 1er T."></td>
          <td name="Zona 1 Jueves 2do T."></td>
          <td name="Zona 1 Viernes 1er T."></td>
          <td name="Zona 1 Viernes 2do T."></td>
          <td name="Zona 1 Sabado 1er T."></td>
          <td name="Zona 1 Sabado 2do T."></td>
          <td name="Zona 1 Domingo 1er T."></td>
          <td name="Zona 1 Domingo 2do T."></td>
    
        </tr>
        <tr>
          <td class="fv" colspan="2">
            Zona 2
          </td>
          <td>
            <input type="text"
             name="Zona 2 SET" 
             class="no-border-input none"
            [(ngModel)]="KM056.Z2_Set"
             />
          </td>
          <td>
            <input type="text" 
            name="Zona 2 Tolerancia" 
            class="no-border-input none" 
            [(ngModel)]="KM056.Z2_Tolerancia"
            />
          </td>
          <td name="Zona 2 Lunes 1er T."></td>
          <td name="Zona 2 Lunes 2do T."></td>
          <td name="Zona 2 Martes 1er T."></td>
          <td name="Zona 2 Martes 2do T."></td>
          <td name="Zona 2 Miercoles 1er T."></td>
          <td name="Zona 2 Miercoles 2do T."></td>
          <td name="Zona 2 Jueves 1er T."></td>
          <td name="Zona 2 Jueves 2do T."></td>
          <td name="Zona 2 Viernes 1er T."></td>
          <td name="Zona 2 Viernes 2do T."></td>
          <td name="Zona 2 Sabado 1er T."></td>
          <td name="Zona 2 Sabado 2do T."></td>
          <td name="Zona 2 Domingo 1er T."></td>
          <td name="Zona 2 Domingo 2do T."></td>
        </tr>
        <tr>
          <td class="fv" colspan="2">
            Zona 3
          </td>
          <td>
            <input type="text" 
            name="Zona 3 SET"
             class="no-border-input none" 
             [(ngModel)]="KM056.Z3_Set"             
             />
          </td>
          <td>
            <input type="text" 
            name="Zona 3 Tolerancia" 
            class="no-border-input none" 
            [(ngModel)]="KM056.Z3_Tolerancia"
            />
          </td>
          <td name="Zona 3 Lunes 1er T."></td>
          <td name="Zona 3 Lunes 2do T."></td>
          <td name="Zona 3 Martes 1er T."></td>
          <td name="Zona 3 Martes 2do T."></td>
          <td name="Zona 3 Miercoles 1er T."></td>
          <td name="Zona 3 Miercoles 2do T."></td>
          <td name="Zona 3 Jueves 1er T."></td>
          <td name="Zona 3 Jueves 2do T."></td>
          <td name="Zona 3 Viernes 1er T."></td>
          <td name="Zona 3 Viernes 2do T."></td>
          <td name="Zona 3 Sabado 1er T."></td>
          <td name="Zona 3 Sabado 2do T."></td>
          <td name="Zona 3 Domingo 1er T."></td>
          <td name="Zona 3 Domingo 2do T."></td>
    
        </tr>
        <tr>
          <td class="fv" colspan="2">
            Zona 4
          </td>
          <td>
            <input type="text" 
            name="Zona 4 SET" 
            class="no-border-input none" 
            [(ngModel)]="KM056.Z4_Set"
            />
          </td>
          <td>
            <input type="text" 
            name="Zona 4 Tolerancia"
             class="no-border-input none" 
            [(ngModel)]="KM056.Z4_Tolerancia"
             />
          </td>
          <td name="Zona 4 Lunes 1er T."></td>
          <td name="Zona 4 Lunes 2do T."></td>
          <td name="Zona 4 Martes 1er T."></td>
          <td name="Zona 4 Martes 2do T."></td>
          <td name="Zona 4 Miercoles 1er T."></td>
          <td name="Zona 4 Miercoles 2do T."></td>
          <td name="Zona 4 Jueves 1er T."></td>
          <td name="Zona 4 Jueves 2do T."></td>
          <td name="Zona 4 Viernes 1er T."></td>
          <td name="Zona 4 Viernes 2do T."></td>
          <td name="Zona 4 Sabado 1er T."></td>
          <td name="Zona 4 Sabado 2do T."></td>
          <td name="Zona 4 Domingo 1er T."></td>
          <td name="Zona 4 Domingo 2do T."></td>
        </tr>
        
        <tr>
          <td class="fv" colspan="2">
            Zona 17
          </td>
          <td>
            <input type="text" 
            name="Zona 17 SET" 
            class="no-border-input none"
            [(ngModel)]="KM056.Z17_Set"
            />
          </td>
          <td>
            <input type="text"
             name="Zona 17 Tolerancia"
              class="no-border-input none"
                [(ngModel)]="KM056.Z17_Tolerancia"
              />
          </td>
          <td name="Zona 17 Lunes 1er T."></td>
          <td name="Zona 17 Lunes 2do T."></td>
          <td name="Zona 17 Martes 1er T."></td>
          <td name="Zona 17 Martes 2do T."></td>
          <td name="Zona 17 Miercoles 1er T."></td>
          <td name="Zona 17 Miercoles 2do T."></td>
          <td name="Zona 17 Jueves 1er T."></td>
          <td name="Zona 17 Jueves 2do T."></td>
          <td name="Zona 17 Viernes 1er T."></td>
          <td name="Zona 17 Viernes 2do T."></td>
          <td name="Zona 17 Sabado 1er T."></td>
          <td name="Zona 17 Sabado 2do T."></td>
          <td name="Zona 17 Domingo 1er T."></td>
          <td name="Zona 17 Domingo 2do T."></td>
        </tr>
        <tr>
            <td class="fv" colspan="2">
              Zona 18
            </td>
            <td>
              <input type="text" 
              name="Zona 18 SET" 
              class="no-border-input none"
                [(ngModel)]="KM056.Z18_Set"
              />
            </td>
            <td>
              <input type="text"
               name="Zona 18 Tolerancia"
                class="no-border-input none"
                [(ngModel)]="KM056.Z18_Set"
                />
            </td>
            <td name="Zona 18 Lunes 1er T."></td>
            <td name="Zona 18 Lunes 2do T."></td>
            <td name="Zona 18 Martes 1er T."></td>
            <td name="Zona 18 Martes 2do T."></td>
            <td name="Zona 18 Miercoles 1er T."></td>
            <td name="Zona 18 Miercoles 2do T."></td>
            <td name="Zona 18 Jueves 1er T."></td>
            <td name="Zona 18 Jueves 2do T."></td>
            <td name="Zona 18 Viernes 1er T."></td>
            <td name="Zona 18 Viernes 2do T."></td>
            <td name="Zona 18 Sabado 1er T."></td>
            <td name="Zona 18 Sabado 2do T."></td>
            <td name="Zona 18 Domingo 1er T."></td>
            <td name="Zona 18 Domingo 2do T."></td>
          </tr>
        <tr>
          <td class="fv" colspan="2">
            Zona 19
          </td>
          <td>
            <input type="text" 
            name="Zona 19 SET" 
            class="no-border-input none"
            [(ngModel)]="KM056.Z19_Set"
            />
          </td>
          <td>
            <input type="text" 
            name="Zona 19 Tolerancia"
             class="no-border-input none" 
             [(ngModel)]="KM056.Z19_Set"
             />
          </td>
          <td name="Zona 19 Lunes 1er T."></td>
          <td name="Zona 19 Lunes 2do T."></td>
          <td name="Zona 19 Martes 1er T."></td>
          <td name="Zona 19 Martes 2do T."></td>
          <td name="Zona 19 Miercoles 1er T."></td>
          <td name="Zona 19 Miercoles 2do T."></td>
          <td name="Zona 19 Jueves 1er T."></td>
          <td name="Zona 19 Jueves 2do T."></td>
          <td name="Zona 19 Viernes 1er T."></td>
          <td name="Zona 19 Viernes 2do T."></td>
          <td name="Zona 19 Sabado 1er T."></td>
          <td name="Zona 19 Sabado 2do T."></td>
          <td name="Zona 19 Domingo 1er T."></td>
          <td name="Zona 19 Domingo 2do T."></td>
        </tr>
        
        <tr>
          <td class="fv" colspan="2">
            Zona 20
          </td>
          <td>
            <input type="text" 
            name="Zona 20 SET" 
            class="no-border-input none"
            [(ngModel)]="KM056.Z20_Set"
            />
          </td>
          <td>
            <input type="text" 
            name="Zona 20 Tolerancia" 
            class="no-border-input none" 
            [(ngModel)]="KM056.Z20_Set"
            />
          </td>
          <td name="Zona 20 Lunes 1er T."></td>
          <td name="Zona 20 Lunes 2do T."></td>
          <td name="Zona 20 Martes 1er T."></td>
          <td name="Zona 20 Martes 2do T."></td>
          <td name="Zona 20 Miercoles 1er T."></td>
          <td name="Zona 20 Miercoles 2do T."></td>
          <td name="Zona 20 Jueves 1er T."></td>
          <td name="Zona 20 Jueves 2do T."></td>
          <td name="Zona 20 Viernes 1er T."></td>
          <td name="Zona 20 Viernes 2do T."></td>
          <td name="Zona 20 Sabado 1er T."></td>
          <td name="Zona 20 Sabado 2do T."></td>
          <td name="Zona 20 Domingo 1er T."></td>
          <td name="Zona 20 Domingo 2do T."></td>
        </tr>
        <tr>
          <th class="fv" colspan="4">PERIFERICOS</th>
          <td colspan="14"></td>
        </tr>
        <tr>
          <td class="fv" colspan="3">Valvulas abiertas de termo y manifolds</td>
          <td>
            <input type="text" 
            name="Tolerancia Valvulas abiertas de termo y manifolds" 
            class="no-border-input none" 
            [(ngModel)]="KM056.tolerancia_valvulas"
            placeholder="SI/NO"
            />
          </td>
          <td name="Valvulas abiertas de termo y manifolds Lunes 1er T."></td>
          <td name="Valvulas abiertas de termo y manifolds Lunes 2do T."></td>
          <td name="Valvulas abiertas de termo y manifolds Martes 1er T."></td>
          <td name="Valvulas abiertas de termo y manifolds Martes 2do T."></td>
          <td name="Valvulas abiertas de termo y manifolds Miercoles 1er T."></td>
          <td name="Valvulas abiertas de termo y manifolds Miercoles 2do T."></td>
          <td name="Valvulas abiertas de termo y manifolds Jueves 1er T."></td>
          <td name="Valvulas abiertas de termo y manifolds Jueves 2do T."></td>
          <td name="Valvulas abiertas de termo y manifolds Viernes 1er T."></td>
          <td name="Valvulas abiertas de termo y manifolds Viernes 2do T."></td>
          <td name="Valvulas abiertas de termo y manifolds Sabado 1er T."></td>
          <td name="Valvulas abiertas de termo y manifolds Sabado 2do T."></td>
          <td name="Valvulas abiertas de termo y manifolds Domingo 1er T."></td>
          <td name="Valvulas abiertas de termo y manifolds Domingo 2do T."></td>
        </tr>
        <tr>
          <td class="fv" colspan="2">CIRCULACION DE AGUA PARTE FIJA</td>
          <td>
            <input type="text"
             name="SET CIRCULACION DE AGUA PARTE FIJA" 
             class="no-border-input none"
             [(ngModel)]="KM056.circulacion_agua"
             
             />
          </td>
          <td>
            <input type="text" 
            name="Tolerancia CIRCULACION DE AGUA PARTE FIJA" 
            class="no-border-input none" 
            placeholder="SI / NO"
            [(ngModel)]="KM056.tolerancia_circulacion_agua"
            />
          </td>
          <td name="Termo parte fija Lunes 1er T."></td>
          <td name="Termo parte fija Lunes 2do T."></td>
          <td name="Termo parte fija Martes 1er T."></td>
          <td name="Termo parte fija Martes 2do T."></td>
          <td name="Termo parte fija Miercoles 1er T."></td>
          <td name="Termo parte fija Miercoles 2do T."></td>
          <td name="Termo parte fija Jueves 1er T."></td>
          <td name="Termo parte fija Jueves 2do T."></td>
          <td name="Termo parte fija Viernes 1er T."></td>
          <td name="Termo parte fija Viernes 2do T."></td>
          <td name="Termo parte fija Sabado 1er T."></td>
          <td name="Termo parte fija Sabado 2do T."></td>
          <td name="Termo parte fija Domingo 1er T."></td>
          <td name="Termo parte fija Domingo 2do T."></td>
        </tr>
        
        <tr>
          <th class="fv" colspan="4">TABLA DE CALIDAD</th>
          <td colspan="14"></td>
        </tr>
        <tr>
          <td class="fv" colspan="3">Tablas de calidad activadas y ajustadas</td>
          
          <td>
            <input type="text" 
            name="Tolerancia Tablas de calidad activadas y ajustadas" 
            class="no-border-input none" 
            [(ngModel)]="KM056.tablas_calidad"
            placeholder="SI/NO"
            />
          </td>
          <td name="Tablas de calidad activadas y ajustadas Lunes 1er T."></td>
          <td name="Tablas de calidad activadas y ajustadas Lunes 2do T."></td>
          <td name="Tablas de calidad activadas y ajustadas Martes 1er T."></td>
          <td name="Tablas de calidad activadas y ajustadas Martes 2do T."></td>
          <td name="Tablas de calidad activadas y ajustadas Miercoles 1er T."></td>
          <td name="Tablas de calidad activadas y ajustadas Miercoles 2do T."></td>
          <td name="Tablas de calidad activadas y ajustadas Jueves 1er T."></td>
          <td name="Tablas de calidad activadas y ajustadas Jueves 2do T."></td>
          <td name="Tablas de calidad activadas y ajustadas Viernes 1er T."></td>
          <td name="Tablas de calidad activadas y ajustadas Viernes 2do T."></td>
          <td name="Tablas de calidad activadas y ajustadas Sabado 1er T."></td>
          <td name="Tablas de calidad activadas y ajustadas Sabado 2do T."></td>
          <td name="Tablas de calidad activadas y ajustadas Domingo 1er T."></td>
          <td name="Tablas de calidad activadas y ajustadas Domingo 2do T."></td>
        </tr>
        <tr>
          <td class="fv" colspan="2">Tiempo de ciclo</td>
          <td>
            <input type="text" 
            name="SET Tiempo de ciclo" 
            class="no-border-input none"
           
            />
          </td>
          <td>
            <input type="text" 
            name="Tolerancia Tiempo de ciclo"
             class="no-border-input none" 
             
             />
          </td>
          <td name="Tiempo de ciclo Lunes 1er T."></td>
          <td name="Tiempo de ciclo Lunes 2do T."></td>
          <td name="Tiempo de ciclo Martes 1er T."></td>
          <td name="Tiempo de ciclo Martes 2do T."></td>
          <td name="Tiempo de ciclo Miercoles 1er T."></td>
          <td name="Tiempo de ciclo Miercoles 2do T."></td>
          <td name="Tiempo de ciclo Jueves 1er T."></td>
          <td name="Tiempo de ciclo Jueves 2do T."></td>
          <td name="Tiempo de ciclo Viernes 1er T."></td>
          <td name="Tiempo de ciclo Viernes 2do T."></td>
          <td name="Tiempo de ciclo Sabado 1er T."></td>
          <td name="Tiempo de ciclo Sabado 2do T."></td>
          <td name="Tiempo de ciclo Domingo 1er T."></td>
          <td name="Tiempo de ciclo Domingo 2do T."></td>
    
    
        </tr>
        <tr>
          <td class="fv" colspan="2">Cojin</td>
          <td>
            <input type="text" 
            name="SET Cojin" 
            class="no-border-input none"
         
            />
          </td>
          <td>
            <input type="text" 
            name="Tolerancia Cojin"
             class="no-border-input none"
          
             />
          </td>
          <td name="Cojin Lunes 1er T."></td>
          <td name="Cojin Lunes 2do T."></td>
          <td name="Cojin Martes 1er T."></td>
          <td name="Cojin Martes 2do T."></td>
          <td name="Cojin Miercoles 1er T."></td>
          <td name="Cojin Miercoles 2do T."></td>
          <td name="Cojin Jueves 1er T."></td>
          <td name="Cojin Jueves 2do T."></td>
          <td name="Cojin Viernes 1er T."></td>
          <td name="Cojin Viernes 2do T."></td>
          <td name="Cojin Sabado 1er T."></td>
          <td name="Cojin Sabado 2do T."></td>
          <td name="Cojin Domingo 1er T."></td>
          <td name="Cojin Domingo 2do T."></td>
    
        </tr>
        <tr>
          <td class="fv" colspan="2">Tiempo de Inyeccion</td>
          <td>
            <input type="text"
             name="SET Tiempo de Inyeccion"
              class="no-border-input none"  
          
              />
          </td>
          <td>
            <input type="text"
             name="Tolerancia Tiempo de Inyeccion" 
             class="no-border-input none" 
            
             />
          </td>
          <td name="Tiempo de llenado Lunes 1er T."></td>
          <td name="Tiempo de llenado Lunes 2do T."></td>
          <td name="Tiempo de llenado Martes 1er T."></td>
          <td name="Tiempo de llenado Martes 2do T."></td>
          <td name="Tiempo de llenado Miercoles 1er T."></td>
          <td name="Tiempo de llenado Miercoles 2do T."></td>
          <td name="Tiempo de llenado Jueves 1er T."></td>
          <td name="Tiempo de llenado Jueves 2do T."></td>
          <td name="Tiempo de llenado Viernes 1er T."></td>
          <td name="Tiempo de llenado Viernes 2do T."></td>
          <td name="Tiempo de llenado Sabado 1er T."></td>
          <td name="Tiempo de llenado Sabado 2do T."></td>
          <td name="Tiempo de llenado Domingo 1er T."></td>
          <td name="Tiempo de llenado Domingo 2do T."></td>
    
        </tr>
        <tr>
            <td class="fv" colspan="2">Tiempo de Carga</td>
            <td>
              <input type="text"
               name="SET Tiempo de Carga"
                class="no-border-input none"  
            
                />
            </td>
            <td>
              <input type="text"
               name="Tolerancia Tiempo de Carga" 
               class="no-border-input none" 
              
               />
            </td>
            <td name="Tiempo de llenado Lunes 1er T."></td>
            <td name="Tiempo de llenado Lunes 2do T."></td>
            <td name="Tiempo de llenado Martes 1er T."></td>
            <td name="Tiempo de llenado Martes 2do T."></td>
            <td name="Tiempo de llenado Miercoles 1er T."></td>
            <td name="Tiempo de llenado Miercoles 2do T."></td>
            <td name="Tiempo de llenado Jueves 1er T."></td>
            <td name="Tiempo de llenado Jueves 2do T."></td>
            <td name="Tiempo de llenado Viernes 1er T."></td>
            <td name="Tiempo de llenado Viernes 2do T."></td>
            <td name="Tiempo de llenado Sabado 1er T."></td>
            <td name="Tiempo de llenado Sabado 2do T."></td>
            <td name="Tiempo de llenado Domingo 1er T."></td>
            <td name="Tiempo de llenado Domingo 2do T."></td>
      
          </tr>

          <tr>
            <td class="fv" colspan="2">CONMUTACION PRESION HIDRAULICA BAR</td>
            <td>
              <input type="text"
               name="SET CONMUTACION PRESION HIDRAULICA BAR"
                class="no-border-input none"  
            
                />
            </td>
            <td>
              <input type="text"
               name="Tolerancia CONMUTACION PRESION HIDRAULICA BAR" 
               class="no-border-input none" 
              
               />
            </td>
            <td name="Tiempo de llenado Lunes 1er T."></td>
            <td name="Tiempo de llenado Lunes 2do T."></td>
            <td name="Tiempo de llenado Martes 1er T."></td>
            <td name="Tiempo de llenado Martes 2do T."></td>
            <td name="Tiempo de llenado Miercoles 1er T."></td>
            <td name="Tiempo de llenado Miercoles 2do T."></td>
            <td name="Tiempo de llenado Jueves 1er T."></td>
            <td name="Tiempo de llenado Jueves 2do T."></td>
            <td name="Tiempo de llenado Viernes 1er T."></td>
            <td name="Tiempo de llenado Viernes 2do T."></td>
            <td name="Tiempo de llenado Sabado 1er T."></td>
            <td name="Tiempo de llenado Sabado 2do T."></td>
            <td name="Tiempo de llenado Domingo 1er T."></td>
            <td name="Tiempo de llenado Domingo 2do T."></td>
      
          </tr>


          <tr>
            <td class="fv" colspan="2">INDICE DE DE VISCOSIDAD</td>
            <td>
              <input type="text"
               name="SET INDICE DE DE VISCOSIDAD"
                class="no-border-input none"  
            
                />
            </td>
            <td>
              <input type="text"
               name="Tolerancia INDICE DE DE VISCOSIDAD" 
               class="no-border-input none" 
              
               />
            </td>
            <td name="Tiempo de llenado Lunes 1er T."></td>
            <td name="Tiempo de llenado Lunes 2do T."></td>
            <td name="Tiempo de llenado Martes 1er T."></td>
            <td name="Tiempo de llenado Martes 2do T."></td>
            <td name="Tiempo de llenado Miercoles 1er T."></td>
            <td name="Tiempo de llenado Miercoles 2do T."></td>
            <td name="Tiempo de llenado Jueves 1er T."></td>
            <td name="Tiempo de llenado Jueves 2do T."></td>
            <td name="Tiempo de llenado Viernes 1er T."></td>
            <td name="Tiempo de llenado Viernes 2do T."></td>
            <td name="Tiempo de llenado Sabado 1er T."></td>
            <td name="Tiempo de llenado Sabado 2do T."></td>
            <td name="Tiempo de llenado Domingo 1er T."></td>
            <td name="Tiempo de llenado Domingo 2do T."></td>
      
          </tr>
         
        <tr>
          <td class="fv" colspan="4">
            CONDICIONES ESPECIALES
          </td>
          <td colspan="14"></td>
        </tr>
        <tr>
            <td class="fv" colspan="2">Inicio Fuerza de cierre</td>
            <td>
              <input type="text" 
              name="SET Inicio Fuerza de cierre"
               class="no-border-input none"
      
               />
            </td>
            <td>
              <input type="text" 
              name="Tolerancia Inicio Fuerza de cierre"
               class="no-border-input none" 
               value="±  %"
               />
            </td>
            <td name="Fuerza de cierre Lunes 1er T."></td>
            <td name="Fuerza de cierre Lunes 2do T."></td>
            <td name="Fuerza de cierre Martes 1er T."></td>
            <td name="Fuerza de cierre Martes 2do T."></td>
            <td name="Fuerza de cierre Miercoles 1er T."></td>
            <td name="Fuerza de cierre Miercoles 2do T."></td>
            <td name="Fuerza de cierre Jueves 1er T."></td>
            <td name="Fuerza de cierre Jueves 2do T."></td>
            <td name="Fuerza de cierre Viernes 1er T."></td>
            <td name="Fuerza de cierre Viernes 2do T."></td>
            <td name="Fuerza de cierre Sabado 1er T."></td>
            <td name="Fuerza de cierre Sabado 2do T."></td>
            <td name="Fuerza de cierre Domingo 1er T."></td>
            <td name="Fuerza de cierre Domingo 2do T."></td>
          </tr>
        <tr>
          <td class="fv" colspan="2">Fuerza de cierre</td>
          <td>
            <input type="text" 
            name="SET Fuerza de cierre"
             class="no-border-input none"
    
             />
          </td>
          <td>
            <input type="text" 
            name="Tolerancia Fuerza de cierre"
             class="no-border-input none" 
             value="±  %"
             />
          </td>
          <td name="Fuerza de cierre Lunes 1er T."></td>
          <td name="Fuerza de cierre Lunes 2do T."></td>
          <td name="Fuerza de cierre Martes 1er T."></td>
          <td name="Fuerza de cierre Martes 2do T."></td>
          <td name="Fuerza de cierre Miercoles 1er T."></td>
          <td name="Fuerza de cierre Miercoles 2do T."></td>
          <td name="Fuerza de cierre Jueves 1er T."></td>
          <td name="Fuerza de cierre Jueves 2do T."></td>
          <td name="Fuerza de cierre Viernes 1er T."></td>
          <td name="Fuerza de cierre Viernes 2do T."></td>
          <td name="Fuerza de cierre Sabado 1er T."></td>
          <td name="Fuerza de cierre Sabado 2do T."></td>
          <td name="Fuerza de cierre Domingo 1er T."></td>
          <td name="Fuerza de cierre Domingo 2do T."></td>
        </tr>
        <tr>
          <td class="fv" colspan="3">Presenta fuga de nariz</td>
          <td> 
            <input type="text" 
             placeholder="SI / NO"
            name="Tolerancia Presenta fuga de nariz" class="no-border-input none"  />
          </td>
          <td name="Presenta fuga de nariz Lunes 1er T."></td>
          <td name="Presenta fuga de nariz Lunes 2do T."></td>
          <td name="Presenta fuga de nariz Martes 1er T."></td>
          <td name="Presenta fuga de nariz Martes 2do T."></td>
          <td name="Presenta fuga de nariz Miercoles 1er T."></td>
          <td name="Presenta fuga de nariz Miercoles 2do T."></td>
          <td name="Presenta fuga de nariz Jueves 1er T."></td>
          <td name="Presenta fuga de nariz Jueves 2do T."></td>
          <td name="Presenta fuga de nariz Viernes 1er T."></td>
          <td name="Presenta fuga de nariz Viernes 2do T."></td>
          <td name="Presenta fuga de nariz Sabado 1er T."></td>
          <td name="Presenta fuga de nariz Sabado 2do T."></td>
          <td name="Presenta fuga de nariz Domingo 1er T."></td>
          <td name="Presenta fuga de nariz Domingo 2do T."></td>
    
        </tr>
        <tr>
          <td class="fv" colspan="3">
            Segrega disparos de tabla de calidad y no hay 
          acumulacion de piezas en mesa de descarga del robot
          </td>
          <td> 
            <input type="text" 
            name="Tolerancia Segrega disparos de tabla de calidad y no hay acumulacion de piezas en mesa de descarga del robot"
             class="no-border-input none" 
             placeholder="SI / NO"
             />
          </td>
          <td name="Segrega disparos de tabla de calidad y no hay acumulacion de piezas en mesa de descarga del robot Lunes 1er T."></td>
          <td name="Segrega disparos de tabla de calidad y no hay acumulacion de piezas en mesa de descarga del robot Lunes 2do T."></td>
          <td name="Segrega disparos de tabla de calidad y no hay acumulacion de piezas en mesa de descarga del robot Martes 1er T."></td>
          <td name="Segrega disparos de tabla de calidad y no hay acumulacion de piezas en mesa de descarga del robot Martes 2do T."></td>
          <td name="Segrega disparos de tabla de calidad y no hay acumulacion de piezas en mesa de descarga del robot Miercoles 1er T."></td>
          <td name="Segrega disparos de tabla de calidad y no hay acumulacion de piezas en mesa de descarga del robot Miercoles 2do T."></td>
          <td name="Segrega disparos de tabla de calidad y no hay acumulacion de piezas en mesa de descarga del robot Jueves 1er T."></td>
          <td name="Segrega disparos de tabla de calidad y no hay acumulacion de piezas en mesa de descarga del robot Jueves 2do T."></td>
          <td name="Segrega disparos de tabla de calidad y no hay acumulacion de piezas en mesa de descarga del robot Viernes 1er T."></td>
          <td name="Segrega disparos de tabla de calidad y no hay acumulacion de piezas en mesa de descarga del robot Viernes 2do T."></td>
          <td name="Segrega disparos de tabla de calidad y no hay acumulacion de piezas en mesa de descarga del robot Sabado 1er T."></td>
          <td name="Segrega disparos de tabla de calidad y no hay acumulacion de piezas en mesa de descarga del robot Sabado 2do T."></td>
          <td name="Segrega disparos de tabla de calidad y no hay acumulacion de piezas en mesa de descarga del robot Domingo 1er T."></td>
          <td name="Segrega disparos de tabla de calidad y no hay acumulacion de piezas en mesa de descarga del robot Domingo 2do T."></td>
    
        </tr>
        <tr>
          <td class="fv" class="none" colspan="3">NOMBRE DEL TECNICO:</td>
          <td class="none" colspan="16">
            <input type="text" 
            style="width: 100%;"
            class="no-border-input none"
            name="Nombre del tecnico" 
              />
          </td>
        </tr>
      </table>
        NOTA: EN CASO DE ENCONTRAR VALORES FUERA DE 
            TOLERANCIA REPORTAR A SUPERVISOR DE PRODUCCIÓN 
            Y CALIDAD PARA HACER CONTENCIÓN DEL MATERIAL PARA REVISIÓN. 
    
        </div>