<table>
    <tr>
      <th rowspan="5">
        <img
          src="../../assets/images/logo.png"
          alt="Descripción de la imagen"
          style="width: 200px; height: auto"
        />
      </th>
      <th class="fv" colspan="1">Cliente:</th>
      <th  name="cliente" colspan="1"> {{cliente}}</th>
      
      <th class="fv" colspan="1">Num. Cav th:</th>
      <th colspan="1">
        <input
          type="text"
          class="no-border-input"
          name="Num. Cav th 1"
          style="width: 100%; border: none"
          placeholder="{{Num_Cav_th}}"
        />
      </th>
    </tr>
    <tr>
        <th class="fv" colspan="1">Producto:</th>
      <th colspan="1">
        {{producto}}
      </th>
     
      <th class="fv" colspan="1">Num. Cav real:</th>
      <th colspan="1">
        <input
          type="text"
          class="no-border-input"
          name="Num. Cav real 1"
          style="width: 100%; border: none"
          placeholder="{{Num_Cav_real}}"
        />
      </th>
    </tr>
    <tr>
        <th class="fv" colspan="1">Molde:</th>
        <th colspan="1">
          <input
            type="text"
            class="no-border-input"
            name="Molde"
            style="width: 100%; border: none"
            placeholder="{{Molde}}"
          />
          
        </th>
        <th class="fv" colspan="1">Resina:</th>
        <th colspan="1">
          {{Resina}}
        </th>

      
     
    </tr>
    <tr>
        <th class="fv" colspan="1">Maquina:</th>
        <th colspan="1">
          <span *ngIf="estado">{{ Producto_Maquina }}</span>
          <span *ngIf="!estado">{{ maquina }}</span>
        </th>
        <th class="fv" colspan="1">Archivo:</th>
      <th colspan="1">
        <input
          type="text"
          class="no-border-input"
          name="Arch/Disq:"
          value="{{Archivo}}"
          style="width: 100%; border: none"
          [(ngModel)]="Archivo"
          (input)="onInputChange()"
        />
      </th>
    </tr>
    <tr>
      <th class="fv" colspan="1">Fecha Rev:</th>
      <th colspan="1">
        {{Fecha}}
      </th>
      
      <th class="fv" colspan="1">Disquete:</th>
      <th colspan="1">
        <input
          type="text"
          class="no-border-input"
          name="Arch/Disq:"
          value="{{Disquete}}"
          style="width: 100%; border: none"
          [(ngModel)]="Disquete"
          (input)="onInputChange()"
        />
      </th>
    </tr>
    <tr>
      <th class="fv" colspan="5" style="border-bottom: 1px solid white">
        REGISTRO DE PARAMETROS
      </th>
    </tr>
  </table>