.container {
    width: 80%;
    margin: auto ;
    margin-top: 100px;
    font-family: Arial, sans-serif;
    font-size: 0.9rem;
  }
  
  .header,
  .section,
  .footer {
    border: 1px solid #000;
   
    margin-bottom: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .col-left,
  .col-center,
  .col-right {
    flex: 1;
  }
  
  .col {
    flex: 1;
  }
  
  .col-left {
    text-align: left;
  }
  
  .col-center {
    text-align: center;
  }
  
  .col-right {
    text-align: right;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;

  }
  
  table, th, td {
    border: 1px solid #000;
  }
  
  th, td {
   
    text-align: center;
  }
  
  
  .footer {
    text-align: center;
    font-size: 0.8rem;
  }
  
  strong {
    font-weight: bold;
  }

  .no-border-input {
    width: 100%;
    border: none;
    border-radius: 0;  /* Hace que el campo sea completamente cuadrado */
    outline: none;     /* Evita que aparezca el borde cuando se hace clic en el campo */
    background-color: transparent; /* Elimina el fondo por defecto */
    font-size: 1rem;   /* Ajusta el tamaño de fuente según sea necesario */
    padding: 1px;     
  }
  
  .no-border-input:focus {
    outline: none;     
  }
  
  .no-border-input::placeholder {
    color: #000;      
  }
  
.fv
{
padding: 4px;
}
  .styled-table {
    border-collapse: collapse;
 
    font-size: 0.9em;
    font-family: sans-serif;
    width: 100%;
    text-align: center;
}

